Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

try fix scu de build
  .github/actions/build/action.yml
  .github/workflows/scu-de-build.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.AT-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ES-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/release-legacy-nuget.yml
  azure-pipelines/templates/release-legacy.yml
  azure-pipelines/templates/release.yml
  azure-pipelines/templates/scu-at/build-nuget.template.yml
  azure-pipelines/templates/scu-at/test.template.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
  azure-pipelines/templates/scu-es/build-nuget.template.yml
  azure-pipelines/templates/scu-es/test.template.yml
  azure-pipelines/templates/scu-it/build-nuget.template.yml
  azure-pipelines/templates/scu-it/test.template.yml
  azure-pipelines/templates/scu-me/build-nuget.template.yml
  azure-pipelines/templates/scu-me/test.template.yml
Due: none

try fix xamarin version
  .github/workflows/scu-de-build.yml
Due: none

skip IT acceptance tests
  .github/workflows/scu-it-build.yml
Due: none

try fix xamarin
  .github/actions/build/action.yml
  .github/workflows/package.yml
  .github/workflows/scu-de-build.yml
  .github/workflows/scu-de-package.yml
Due: none

fix
  .github/workflows/scu-de-build.yml
Due: none

try install xamarin
  .github/actions/build/action.yml
  .github/workflows/scu-de-build.yml
Due: none

fix
  .github/actions/build/action.yml
  .github/workflows/package.yml
  .github/workflows/scu-de-package.yml
Due: none

fix
  .github/actions/build/action.yml
Due: none

fix boots install
  .github/actions/build/action.yml
Due: none

fix interface version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix yaml
  .github/workflows/command-package.yml
  .github/workflows/command-run.yml
  .github/workflows/release.yml
Due: none

try fix xamarin build
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix
  .github/actions/build/action.yml
  .github/workflows/command-package.yml
Due: none

MOre fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/Invoice.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/OrderReferences.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/WorkDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added certs tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/StaticNumeratorStorage.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix for smaller issue
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

pull out de android scus into own sln
  .github/actions/build/action.yml
  .github/workflows/scu-de-build.yml
  scu-de/fiskaltrust.Middleware.SCU.DE.Android.sln
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

don't run scu de integration tests in ci
  .github/workflows/scu-de-build.yml
Due: none

Update package reference to AndroidX.AppCompat
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update README.md
  .github/workflows/README.md
Due: none

add minver to scus
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/fiskaltrust.Middleware.SCU.DE.CryptoVision.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/fiskaltrust.Middleware.SCU.DE.Epson.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/fiskaltrust.Middleware.SCU.DE.InMemory.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/fiskaltrust.Middleware.SCU.IT.CustomRTServer.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix package command
  .github/workflows/command-package.yml
Due: none

path filter acceptance tests
  .github/workflows/queue-acceptance-tests.yml
Due: none

fix release
  .github/workflows/release.yml
Due: none

ignore all tags for acceptance tests
  .github/workflows/queue-acceptance-tests.yml
Due: none

Added Queue.ES reference to .sln file
  queue/fiskaltrust.Middleware.sln
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix package meta detection
  .github/workflows/command-package.yml
  .github/workflows/release.yml
Due: none

fix prod release condition
  .github/workflows/README.md
  .github/workflows/release.yml
Due: none

add queue release trigger
  .github/workflows/release.yml
Due: none

Fixer error handling in Austria
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/Invoice.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/InvoiceDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/WorkDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/WorkDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/StaticNumeratorStorage.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

FInalized
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentLine.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentMethod.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/SourceDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/SourceDocuments.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/StaticNumeratorStorage.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove version files
  queue/src/fiskaltrust.Middleware.Abstractions/version.json
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

finalized
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/Invoice.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/InvoiceDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentLine.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentMethod.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/SourceDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/SourceDocuments.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/WorkDocument.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/WorkDocumentStatus.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/StaticNumeratorStorage.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

FIx
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update IPTSSCD to include invoiceNo in receipt processing
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/IPTSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

tmp disable PR deployment
  .github/workflows/command-package.yml
Due: none

ignore DS_Store files
  .gitignore
Due: none

Update README.md
  queue/README.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
