Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Update scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

clean up
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Cleanup a few things
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/PrivateKey.pem
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Migration receipt did not write correct action journals
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove errorhandling from provider
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  .gitignore
Due: none

impl only one export at the time
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/ExportDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/StartExportResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

dsfinvk ref & version file
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

export logging
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

check export still exists before delete, log error
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

sb version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix test
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update mysqlconnector set charset utf8mb4
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/010_Setutf8mb4.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix nullpointer
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/DailyClosingRepository.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implemented fallback mechamisn for storing temporary export files in Swissbit SCU
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Helpers/FileHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Improved performance of EF.GetLastQueueItem
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

preventing delete of export file just created
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Models/ExportStateData.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

swissbit scu 1.3.65
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

review
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/TaskHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/TaskHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added end2end support for generation of receipts
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/PTQrCode.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/ftQueuePT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/PTQrCodeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/QRCodeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/SAFTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/SignProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/SignProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

check for Protocol Receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Additional cleanup
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT.zip
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/Helpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/ftActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/ErrorMessages.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/SignatureTypesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ActivateQueuePT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/DeactivateQueuePT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/PTInvoiceElement.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/PTQrCode.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/IPTSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/DailyOperationsCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecyclCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/ProcessCommandRequest.cs
  queue/src/fiskaltrust.Middleware.Storage/fiskaltrust.Middleware.Storage.csproj
  queue/src/fiskaltrust.Middleware.Storage/ftQueuePT.cs
  queue/src/fiskaltrust.Middleware.Storage/ftSignaturCreationUnitPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/AuditFileTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/DailyOperationsCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/LifecyclCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ProtocolCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/ReceiptProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/PosReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added base implementation for QueueGR
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Factories/ftActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/IGRSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Interface/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Interface/ErrorMessages.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Interface/SignatureTypesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/ActivateQueueGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/DeactivateQueueGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/DailyOperationsCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/LifecyclCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage/GR/ftQueueGR.cs
  queue/src/fiskaltrust.Middleware.Storage/GR/ftSignaturCreationUnitPT.cs
  queue/src/fiskaltrust.Middleware.Storage/PT/ftQueuePT.cs
  queue/src/fiskaltrust.Middleware.Storage/PT/ftSignaturCreationUnitPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/DailyOperationsCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/LifecyclCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/ReceiptCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/TestHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/ReceiptProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SignProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added MyData Base implementation
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/InvoicesDoc-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/RequestVatInfoResponse-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/RequestedProviderDoc-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/expensesClassification-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/incomeClassification-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/paymentMethods-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/requestedInvoicesDoc-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/response-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/Models/response-v1_0_9.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataApiClient.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/ReceiptCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added mapping
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataApiClient.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added new way of registering for ifnos
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/IV2QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Next step inversion of data flow
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ISignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Queue.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/QueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Synchronizer/LocalQueueSynchronizationDecorator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Synchronizer/SynchronizedResult.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SignProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/SignProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
