Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

test
  .github/workflows/smoketests.yml
Due: none

add Annotations
  .github/workflows/smoketests.yml
Due: none

remove doubles
  .github/workflows/smoketests.yml
Due: none

test 3
  .github/workflows/smoketests.yml
Due: none

update condition
  .github/workflows/smoketests.yml
Due: none

test 4
  .github/workflows/smoketests.yml
Due: none

add summery
  .github/workflows/smoketests.yml
Due: none

test 6
  .github/workflows/smoketests.yml
Due: none

Enhance error reporting in smoketests by capturing detailed failure reasons for requests and launcher startup
  .github/workflows/smoketests.yml
Due: none

test 7
  .github/workflows/smoketests.yml
Due: none

test 8
  .github/workflows/smoketests.yml
Due: none

test 9
  .github/workflows/smoketests.yml
Due: none

test 10
  .github/workflows/smoketests.yml
Due: none

test 11
  .github/workflows/smoketests.yml
Due: none

test 12
  .github/workflows/smoketests.yml
Due: none

test 13
  .github/workflows/smoketests.yml
Due: none

test 14
  .github/workflows/smoketests.yml
Due: none

test 15
  .github/workflows/smoketests.yml
Due: none

Final test
  .github/workflows/smoketests.yml
Due: none

clean up
  .github/workflows/smoketests.yml
Due: none

remove extra line
  .github/workflows/smoketests.yml
Due: none

test 16
  .github/workflows/smoketests.yml
Due: none

test 17
  .github/workflows/smoketests.yml
Due: none

test 18
  .github/workflows/smoketests.yml
Due: none

Enhance failure reporting
  .github/workflows/smoketests.yml
Due: none

Seed migration from last submitted aa so upgrade continues at last+1
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/TestHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add shared validation for the Italian customer tax identifiers
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Validation/CustomerTaxIdValidation.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Validation/ItalyValidationHelpers.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/CustomerTaxIdValidationTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/ItalyValidationHelpersTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Reject malformed customer tax identifiers in all IT SCUs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0005_Cash_cbCustomer.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/IntegrationTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Normalize and share the customer tax id sent to the IT devices
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/CustomerTaxIdDirectIOTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Restore pre-reservation ftReceiptIdentification on failed submissions
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Run counter migration at queue start; take handwritten numbering inbound
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/ftReceiptCaseDataPayload.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/CountrySegment.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterMigrationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/TestHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Document why SetCountrySuffix stays; add direct parser tests
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/CountrySegmentTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Disallow series/aa overrides via mydataoverride; journal reservation anomalies
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Onboard Order/Pay onto the counter; gate commits on the AADE mark; drop SetCountrySuffix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/SignatureTypeGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Address review findings: migration robustness, gate alignment, contract pins
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterMigrationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/fiskaltrust.Middleware.SCU.GR.MyData.csproj
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataSCUProcessReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Make the migration-gate retry test deterministic
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterMigrationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Restore SCU segment write-back; query legacy partition keys in GetByQueueRowAsync
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataSCUProcessReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
