Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

update workflow triggers for enforce-all-checks
  .github/workflows/enforce-all-checks.yml
  .github/workflows/slash-commands.yml
Due: none

update docs
  .github/workflows/README.md
Due: none

Whenever the NIF is 999999990 we should print consumidor final
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add GR and BE azuretablestorage migrations
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_006_GR.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_007_BE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Printing siganture for pro foram
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Make sure that customercountry is set if we consider falling back to PT
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/HttpClientWrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Add support for trimming in SFAT
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved error message
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Logic/RefundValidatorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added procedure GetLocalTime() in AADEMappings.cs Changed procedure CreateInvoiceDocType() from AADEFactory.cs
  fiskaltrust.Middleware.SCU.GR_Git.sln
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

Set version to '1.3.81-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

only enforce v1 tagging in relevant markets
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "Improve country code handling in the queue #585 "
  queue/src/fiskaltrust.Middleware.Queue/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Change ReceiptMoment to LocalTime
  scu-gr/fiskaltrust.Middleware.SCU.GR.sln
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

addconfig Param CommandTimeoutSeconds for EF
  queue/src/fiskaltrust.Middleware.Storage.EF/EFStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/AbstractEFRepostiory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Storage.EF/EFStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EFStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

tests
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfAccountMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfActionJournalRespositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfAgencyMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfConfigurationRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfFailedFinishTransactionRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfFailedStartTransactionRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalATRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalDERepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalFRRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfOpenTransactionRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfOutletMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfPosSystemMasterDataRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfQueueItemRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfReceiptJournalRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Tipping Support Issue #599
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Changed amount calculation adjustment, added multiple payments test
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Add command merge workflow and update slash command dispatch for merge support
  .github/workflows/command-merge.yml
  .github/workflows/command-run.yml
  .github/workflows/manual-merging.yml
  .github/workflows/slash-commands.yml
Due: none

add comment
  .github/workflows/manual-merging.yml
Due: none

eliminate tobase64 done twice
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fixes
  .github/workflows/README.md
  .github/workflows/manual-merging.yml
Due: none

Changed the payment calculations again. will explain in PR; Added tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Several fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Logic/RefundVoidCustomerValidationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Validation/ReceiptValidatorVoidTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update comment
  .github/workflows/command-version.yml
Due: none

trigger release on gh release
  .github/workflows/command-release.yml
  .github/workflows/release.yml
Due: none

init rfc
  rfcs/0000-release-lifecycle.md
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Create RELEASE.md
  RELEASE.md
Due: none

clarifications
  RELEASE.md
  rfcs/0000-release-lifecycle.md
Due: none

clarifications
  rfcs/0000-release-lifecycle.md
Due: none

Update rfcs/0441-release-lifecycle.md
  rfcs/0441-release-lifecycle.md
Due: none

update tracking
  rfcs/0441-release-lifecycle.md
Due: none
