Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

update abstractions
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/fiskaltrust.Middleware.Localization.QueueDEFAULT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build
  scu-de/fiskaltrust.Middleware.SCU.DE.Android.sln
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.TLVLogParser/fiskaltrust.Middleware.SCU.DE.Helpers.TLVLogParser.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/.editorconfig
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/ClientRegistrationException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/CloudTssException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/GeneralException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/InvalidInputException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/LibraryNotInitializedException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/NetworkException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/SessionExpiredException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/SessionNotStartedException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/StorageException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/TssCspCommunicationException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/TssErrorTypeException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/TssNotAllowedToStartException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/Additions/Exception/TssTokenException.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccApi.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccLibrary/.editorconfig
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccLibrary/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.Bindings.FccLibrary.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/Management/SwissbitCloudManagementClient.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/Resources/Resource.designer.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/SwissbitCloudAndroidSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

save state, add Iteration
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

using correct version and no restore for scu-it
  azure-pipelines/templates/scu-it/build-nuget.template.yml
  azure-pipelines/templates/scu-it/test.template.yml
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Drop net461 from queueit
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Bumped versions for packages to be released
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Ignore package issues Fixed compile errors Ignore c#11 featurres
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITStateTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
  scu-de/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Do not restore
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

Enhanced the transaction already open exception
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Enhanced exception text when transcation already finished
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/SwissbitProxy.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added the word "flag"
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/SwissbitProxy.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Removed internal feed
  nuget.config
Due: none

Install JDK during SCU DE build
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Use java 11
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Added Java to building zip files
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

Removed non-required LangVersions, updated to 11
  queue/Directory.Build.props
  queue/test/fiskaltrust.Middleware.Localization.QueueDEFAULT.UnitTest/fiskaltrust.Middleware.Localization.QueueDEFAULT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/fiskaltrust.Middleware.Queue.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Not required to install .NET on the latest agents
  azure-pipelines/templates/queue/acceptance-test.template.yml
Due: none

Update masterdate-add actionjournal- add dailyclosingnumber when tse is not reachable
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Resolve comments
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "Resolve comments"
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "Update masterdate-add actionjournal- add dailyclosingnumber when tse is not reachable"
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Create ActionJournal and Update masterdata in failed mode and ...
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DeltaTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DisabledQueueReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DisabledScuReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FinishScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/HandwrittenReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OrderReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OtherReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/SSCDFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/StartTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/UpdateTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/UsedFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

recorrect message
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added support for multi use voucher
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithMutliUseVoucherPurchase.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithMutliUseVoucherRedeem.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithSingleUseVoucher.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithTicket.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added support for single use voucher
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithSingleUseVoucher.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithSingleUseVoucher_Purchase.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithSingleUseVoucher_Redeem.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithSingleUseVoucher_Redeem_Multi_VatRates.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Don't print additional data
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

RC2
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update Queue versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed AdditionalTrailerLines usage
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed epson confgi
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/Config.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update DSFinVK
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
Due: none

Update release-legacy-nuget.yml
  azure-pipelines/templates/release-legacy-nuget.yml
Due: none

Fixed references to other projects
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/fiskaltrust.Middleware.SCU.IT.CustomRTServer.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed compile error
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix build
  queue/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "fix build"
  queue/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add NoWarn NU5104
  queue/src/Directory.Build.props
  queue/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

no warn NU5104
  queue/src/fiskaltrust.Middleware.Queue.SQLite/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
