Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

FIx
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/ReceiptCaseFlagsGR.cs
Due: none

Send number
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Allow 6.1 for own sales
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsIncomeClassificationCategoryTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsInvoiceTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SendPaymentsMethodTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: none

Remoeved invoice overriede
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Added uid, mark, authcode to XML signature + tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataXmlSignatureTests.cs
Due: none

Fixed greek signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/SignatureTypeGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypesGR.cs
Due: none

Adapted data
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
Due: none

Add myDATA acceptance tests for all invoice types, classifications, and correlation
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.AcceptanceTests/MyDataAcceptanceTests.cs
Due: none

Support invoice types 1.6 and 2.4 via override with correct correlation fields
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.AcceptanceTests/MyDataAcceptanceTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Add override tests for all invoice types 1.1 through 11.5
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Refactor invoice type determination logic for clarity and maintainability
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

Remove correlatedInvoices handling from AADEFactory and related tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Fix signature type for initial and out-of-operation receipts in tests
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Extend logging && allow empty incomeclassification
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

Add support for setting itemCode
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

fix
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

refactor: replace ReceiptReferenceProvider with FVReceiptReferenceProvider
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/E2E/ErrorMessagesE2ETests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Integration/ReceiptProcessorValidationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ReceiptValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

FVReceiptReferenceProvider
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/FVReceiptReferenceProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

set ftpossystemid in opentelemetry
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: improve validation logic
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: enhance Spanish receipt validation and introduce shadow validation logic
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: run global FV validation in log-only mode
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: remove ChargeItemsAmountSum validation from ReceiptRequest
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: remove demo shadow mismatch validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed reset printer
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/E2E/ErrorMessagesE2ETests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Integration/ReceiptProcessorValidationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/PayItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/UserValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix validation error formating
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

improve rules
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Customer/CustomerRequiredForInvoice.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Request/Currency.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/ReceiptProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

cleanup
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/ReceiptCaseFlagsPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/PayItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add comments chages
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix tests
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Allow setting expense types for self billing
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceRowType.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelDeliveryNoteValidationTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Added more tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceRowType.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Add noOp Logic and unit test
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

using 0x0100 and 0x0200 instead.
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
