Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Updated interface package
  nuget.config
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/Directory.Build.props
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/fiskaltrust.Middleware.SCU.IT.CustomRTServer.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added selection of cases
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ITReceiptCases.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

removed unused lines
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Integrated payload deserialization within the ExecuteAsync method
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Models/CopyPayload.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

added further step
  .DS_Store
  scu-es/.DS_Store
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/SignatureTypesIT.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Moved things around
  scu-it/Directory.Build.props
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/fiskaltrust.Middleware.SCU.IT.Abstraction.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ITReceiptCases.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix case
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml
Due: none

Improved a few things
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITConstants.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/SignatureTypesIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Removed unecessary changes
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/Directory.Build.props
  scu-es/.DS_Store
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Unchange
  queue/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Upgraded interface package
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/fiskaltrust.Middleware.SCU.IT.Abstraction.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/fiskaltrust.Middleware.SCU.IT.CustomRTServer.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Upgrdae interface package
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/Directory.Build.props
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/InMemoryTestScu.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Moved most Epson specific bits to EpsonSCU
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ITReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ftStatesFlags.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Exceptions/ItemPaymentInequalityException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Exceptions/MultiUseVoucherNoSaleException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Exceptions/RefundException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Extensions/ChargeItemExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Extensions/PayItemExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Extensions/ReceiptRequestExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

merged files
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ftStatesFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Exceptions/CbReferenceExistsException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/PrinterResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Exceptions/ItemPaymentInequalityException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Exceptions/SSCDErrorException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Extensions/ReceiptRequestExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/PosReceiptCommand.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Extended generic interface
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ftStatesFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/GenericSCUReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/QueueOnlyProcessingCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added init operation logic
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/SscdIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using default impl for closings
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignatureItemFactoryIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/GenericSCUReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added receipts
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ITReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/SignProcessorV2.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/OneReceipt0x2001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/ShiftClosing0x2010.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2B0x1002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2C0x1001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2G0x1003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceUnknown0x1000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/FinishSCUSwitch0x4012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/InitSCUSwitch0x4011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Log/InternalUsageMaterialConsumption0x3003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Log/Order0x3004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Log/ProtocolAccountingEvent0x3002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Log/ProtocolTechnicalEvent0x3001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Log/ProtocolUnspecified0x3000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/ECommerce0x0004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/PaymentTransfer0x0002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/PointOfSaleReceipt0x0001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/PointOfSaleReceiptWithoutObligation0x0003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/Protocol0x0005.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/UnknownReceipt0x0000.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Draft of PopulateFtJournalFRCopyPayloadTableAsync
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/FR/SQLiteJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implemented most cases
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/OneReceipt0x2001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/ShiftClosing0x2010.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2B0x1002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2C0x1001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2G0x1003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceUnknown0x1000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/FinishSCUSwitch0x4012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/InitSCUSwitch0x4011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/PaymentTransfer0x0002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/PointOfSaleReceipt0x0001.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Moved more components
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/GenericSCUReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/QueueOnlyProcessingCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/SignProcessorV2.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Invoice/InvoiceB2B0x1002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/ECommerce0x0004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/PaymentTransfer0x0002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/v2/Receipt/UnknownReceipt0x0000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed dbuild issues
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/SscdIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/Extensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/InMemoryTestScu.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed issue with initialization
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added factory for actionjournal / signatureitems
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further smaller fixes and improvement
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/States.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ftStatesFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ScuResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ftJournalITExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ftJournalITFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ReceiptTypeProcessorFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignatureItemFactoryIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed some minor issues and added tests
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ITReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored of journal payload processing and saving
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Helpers/JournalConverter.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/FR/SQLiteJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further smaller fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set receiptidentification
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2B0x1002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2C0x1001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2G0x1003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceUnknown0x1000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceipt0x0001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/Protocol0x0005.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/UnknownReceipt0x0000.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

dded more tests
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed PopulateFtJournalFRCopyPayloadTableAsync and deleted help class: JournalConverter
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Helpers/JournalConverter.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Deleted unused references
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added useful reference, deleted before by mistake
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added deleted reference by mistake
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add strict mode rfc initial commit
  rfcs/strict-mode.md
Due: none

add rfc id
  rfcs/0205-strict-mode.md
Due: none

Many tweaks and fixes. First draft for mapping
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/MasterData/MasterDataService.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/DocumentItemDataTaypes.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentItemData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentTaxData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/FDocument.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/QrCodeData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/QueueIdentification.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added support JournalFRCopyPayload repository in SQLiteStorageBootstrapper
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added migration data persistence to storage bootstrapper
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
