Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Use the right model
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix processing version
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.InMemory/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Helpers/VersionHelper.cs
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

readd pre processing steps
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add queue eu
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/SignProcessorATFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/JournalProcessorDETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/MigrationReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OutOfOperationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/PosReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/MasterDataServiceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEBootStrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/SignProcessorDEUnitTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ArchiveCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/IPOSTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/JournalProcessorUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix logtimeformat casing
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/EpsonSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Stop escaping for QueueItem(request and response)
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clean up
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update sign and test actions
  .github/actions/sign/action.yml
  .github/actions/test/action.yml
  .github/workflows/package.yml
Due: none

fix serialization
  queue/src/fiskaltrust.Middleware.Localization.v2/Queue.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add oversized compression
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Extensions/BytesExtensions.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix stream handling and tests
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.UnitTest/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove commented out code
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed some minor issues with GR
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Several test cleanups
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/MiddlewareCustomer.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataApiClient.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/DailyOperationsCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/LifecycleCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/MiddlewareCustomer.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/IssueResponse.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationExamplesCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationExamplesSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/Examples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/IGRSSCD/MyDataApiTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/ReceiptExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADEFactoryTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/DailyOperationsCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/LifecycleCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Processors/ReceiptCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed tests
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/DailyOperationsCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/TestHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADEFactoryTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/ReceiptProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Moved some things to the shared impl
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/Models/MyDataPaymentMethods.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/Models/MyDataVatCategory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/MyDataAADEValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/IGRSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataPaymentMethods.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/IGRSSCD/MyDataApiTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Moved to subdir
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/Models/MyDataPaymentMethods.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ReceiptCaseFlagsGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/InvoicesDoc-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/MyDataPaymentMethods.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/MyDataVatCategory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/RequestVatInfoResponse-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/RequestedProviderDoc-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/WithHoldingChargeItem.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/expensesClassification-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/incomeClassification-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/paymentMethods-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/requestedInvoicesDoc-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/response-v1.0.9.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/response-v1_0_9.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataAADEValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataApiClient.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/XmlHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/IGRSSCD/MyDataApiTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

REmoved
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsSelfPricing.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added parametres
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/IGRSSCD/MyDataApiTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added more tests and additional clenaup
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTestsCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTestsSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Initialization.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/PayResponse.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Scenarios/AADECertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Scenarios/AADECertificationExamplesCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Scenarios/AADECertificationExamplesSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Scenarios/Examples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/Scenarios/ReceiptExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/AADECertificationTestsSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/QueueGR/IGRSSCD/MyDataApiTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/AADECaseTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add tests
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.UnitTest/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update .github/actions/test/action.yml
  .github/actions/test/action.yml
Due: none

update artifact name
  .github/actions/test/action.yml
Due: none

check datatype instead of exception ctrl flow
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added siganture for providedr
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix nullrefex
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add test for null
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.UnitTest/Mapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Create RELEASE.md
  RELEASE.md
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Added elivery note type
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ReceiptCase.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/Examples/Request.json
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTestsCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTestsSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/Examples/MultiAfterCommaDigits.json
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/Examples/MutliChargeItems.json
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update nuspec files
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add pay protocol command
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ProtocolCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/Processors/ProtocolCommandProcessorEU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IProtocolCommandProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove opentransactions on tse flag
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

init rfc
  rfcs/0000-release-lifecycle.md
Due: none

fix nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
