Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Revert GetByQueueRowAsync to the original property filter
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Seed the GR invoice counter from the newest submission instead of the full history
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterMigrationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Read the migration's history walk in row-range chunks
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterMigrationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "Read the migration's history walk in row-range chunks"
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterMigrationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Treat AADE 233 as "number consumed" and advance the GR invoice counter
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Spell out why handwritten 233s never reach the counter advance
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Pin the AADEEErrorResponse JSON shape on the scu-gr side
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AadeErrorContractTests.cs
Due: none

Emit a structured warning when the counter advances past a duplicate
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Type duplicate rejections in the SCU instead of parsing the error payload
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/SignatureTypeGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptResponseHelper.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AadeErrorContractTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "Type duplicate rejections in the SCU instead of parsing the error payload"
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/SignatureTypeGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptResponseHelper.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AadeErrorContractTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Heal only invoice-filing flows; pin the 233 payload end-to-end
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataSCUProcessReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Drop the invoice-flow guard: 233 is myDATA's duplicate answer, full stop
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Align 233 semantics with the official myDATA error table
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterMigration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataSCUProcessReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Detect the provider channel's 228 as a duplicate-UID rejection
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

only for test
  .github/workflows/smoketests.yml
Due: none

..
  .github/workflows/smoketests.yml
Due: none

change order requests
  .github/workflows/smoketests.yml
Due: none

update requests
  .github/scripts/requests/Pos-receipt.json
  .github/scripts/requests/Zero-receipt.json
Due: none

add annotations in case error
  .github/workflows/smoketests.yml
Due: none

Annotate platform information
  .github/workflows/smoketests.yml
Due: none

add scu-pl foundation: SCU.PL.Abstraction + SCU.PL.InMemory
  scu-pl/Directory.Build.props
  scu-pl/fiskaltrust.Middleware.SCU.PL.sln
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/SignatureTypePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/StatePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Exceptions/PLSSCDExceptions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Helpers/PLAmountExtensions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Helpers/PLReceiptResponseExtensions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Helpers/PLStateMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Models/PLDeviceInfo.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Models/PLFiscalCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/PtuSlotResolver.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/fiskaltrust.Middleware.SCU.PL.Abstraction.csproj
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.InMemory/InMemorySCU.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.InMemory/fiskaltrust.Middleware.SCU.PL.InMemory.csproj
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/AbstractionHelperTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/InMemorySCUTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PtuSlotResolverTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/fiskaltrust.Middleware.SCU.PL.UnitTest.csproj
Due: none

add fiskaltrust.Middleware.Localization.QueuePL on the v2 architecture
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Factories/ftActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Models/ActivateQueuePL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Models/Cases/SignatureTypePL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Models/PLSSCDInfoHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/DailyOperationsCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/InvoiceCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/JournalProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/LifecycleCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/PLFallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/ProtocolCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/ReceiptCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/QueuePLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/fiskaltrust.Middleware.Localization.QueuePL.csproj
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Helpers/InMemoryLocalizationStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Helpers/MockPLSSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Scenarios/PLScenarioTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/ProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/fiskaltrust.Middleware.Localization.QueuePL.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add QueuePL projects to the queue solution
  queue/fiskaltrust.Middleware.sln
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add market PL to Test.Launcher.v2 with committed sample requests
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/.gitignore
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/CashBoxBuilder.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/ES/VeriFactuInMemoryClient.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/CashBoxBuilderPL.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/PLSSCDJsonWarper.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/fiskaltrust.Middleware.Test.Launcher.v2.csproj
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestDailyOperations_DailyClosing/daily-closing.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestDailyOperations_MonthlyClosing/monthly-closing.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestLifecycle_OutOfOperation/out-of-operation.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_CardSaleReceipt/card-sale.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_CashSaleReceipt/cash-sale.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_NipReceipt/nip-receipt.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_ReturnReceipt/return.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_ZeroReceipt/zero-receipt.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/queue-configuration-pl.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/scu-configuration-pl-inmemory.json
Due: none

enforce PLN as the queue currency in QueuePL
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/QueuePLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Validation/ReceiptValidatorPL.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Scenarios/PLScenarioTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

address review: seeded ctor PL repos + PL lists in the configuration journal
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryConfigurationRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

address review: restrict fiscal numbering and Z counter in InMemorySCU
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.InMemory/InMemorySCU.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/InMemorySCUTests.cs
Due: none

address review: discount-aware return guard and real NIP validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/ReceiptCommandProcessorPL.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/ProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fall back to the cached serial number in EpsonRTPrinter DC signatures
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/SignatureFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

preserve the PL device-unreachable state on SCU failures
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Models/Cases/StatePL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/DailyOperationsCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/PLSSCDErrorHandling.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/ReceiptCommandProcessorPL.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/ProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test
  .github/workflows/smoketests.yml
Due: none

Revert "test"
  .github/workflows/smoketests.yml
Due: none

test2
  .github/workflows/smoketests.yml
Due: none

test 2
  .github/workflows/smoketests.yml
Due: none

new test
  .github/workflows/smoketests.yml
Due: none

test 4
  .github/workflows/smoketests.yml
Due: none

fix(scu-it): read the Epson serial number before the reprint runs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReprintSerialNumberTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml
