Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0002_PaymentTransfer_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/WorkingDocumentReferenceScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed test
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed unused tests
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Logic/RefundValidatorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/MeetingFindings/ManualDocumentComplianceScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Exports/SAFTPT/SAFTMappingHandwrittenRecoveryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Foixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/VoidValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Allow differnt refunds
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0002_PaymentTransfer_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/DocumentStatusProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/VoidValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/PortugalValidationRules.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix valdiation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/VoidValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Apply suggestion from @Copilot
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Apply suggestion from @Copilot
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/PortugalValidationRules.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using right url
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorRefundTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added missing delivery note fields into signature
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/MyDataTranslationHelper.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
Due: none

Added missed call
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

Fixe
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/PortugalValidationRules.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Return anonymous customer if empty
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

DIFF field approach for void
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/VoidValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improve calculation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

If handwritten we can use the cbReceiptMoment
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/PortugalReceiptCalculations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix signature also
  scu-pt/src/fiskaltrust.Middleware.SCU.PT.InMemory/InMemorySCU.cs
Due: none

Fix signature
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

version fcc 4.4.0
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fix 123 - mapping Units of measurement
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/MyDataMeasurementUnit.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Refactor GetLocalTime to cache Athens zone and to treat non UTC argument
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

feat: add detailed validation rules for charge items and receipt requests
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: introduce comprehensive market-specific validation rules for PT and ES
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/UserValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added example URL for the new constructor(missed some tests)
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Cancel Delivery note fix
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelDeliveryNoteValidationTests.cs
Due: none

feat: expand market-specific receipt validation rules for PT and ES
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: implement market-specific VAT validation rules for Spain and Portugal
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: refactor tax ID validation logic for Spain and Portugal
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/TaxIdValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed QR from the signatures
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

feat: enhance receipt validation with async processing and reference checks
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: implement comprehensive receipt validation rules for refunds and payment transfers
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptComparisonHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

parse cert chain
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

feat: add validation for zero VAT rate and enhance receipt validation with reference checks
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

throw exception on version config lower
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Apply suggestion from @volllly
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove unused code
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

use bouncy castle
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
