Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Finalized first draft of queue
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/GlobalTools.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/QueueIdentification.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added more receipt examples
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Removed operator name
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed most things related to custom rt server impl
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentItemData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/QueueIdentification.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Opening day during init operation receipt
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added method to auto open new day if cashstatus = 0
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/QueueIdentification.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed serialization issues
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Add basic prototyp for using storno
  queue/src/fiskaltrust.Middleware.Contracts/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceipt0x0001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/Protocol0x0005.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/UnknownReceipt0x0000.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support Refund / Annulo
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Yeps
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Increase epson version
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Ignoring test
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/EpsonSCUTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed tests
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Commented test
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

1.3.50 rc1
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed most build errors
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/ReceiptRequestExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/ReceiptRequestV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/TestLauncher/Program.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ScuBootstrapperTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ScuBootstrapperTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/EpsonSCUTest.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/PrinterResponseTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed refund Fixed other things
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PaymentAdjustmentTypeExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PaymentExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/ChargeItemV0Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Ok that was .. not so smart
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed refund receipt
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Helpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/ChargeItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/PayItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/ReceiptRequestV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/v0/ChargeItemV0Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/v0/PayItemExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/v0/ReceiptRequestExtensions.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

NO need
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Add support for customer iva
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/NumberDefinitions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Customer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improved EpsonSCU
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/ChargeItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/FiscalReceiptInvoiceExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PayItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PaymentAdjustmentTypeExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PaymentExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PaymentsExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/StringExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Helpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/ErrorInfoFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Exceptions/ItemPaymentInequalityException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Exceptions/MultiUseVoucherNoSaleException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Exceptions/RefundException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/ReceiptRequestV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/v0/ChargeItemV0Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/v0/PayItemExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/QueueLogic/Extensions/v0/ReceiptRequestExtensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/SSCDErrorException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/ScuBootstrapper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/SoapSerializer.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/PrinterResponseTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Use refund instead of storno
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added void
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PayItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Support Annulo
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed several issues
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

add Param
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implemented integration tests for QueueFR
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Factories/PayloadFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/FR/InMemoryJournalFRCopyPayloadRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Data/CopyReceipt/Request.json
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Data/CopyReceipt/Response.json
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Helpers/RequestCommandFactoryHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/SignProcessorFRTests/Receipts/CopyReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Changed errormode
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ftStatesFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ReceiptTypeProcessorFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PaymentTransfer0x0002.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved custom RT server impl
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceipt0x0001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/Protocol0x0005.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/UnknownReceipt0x0000.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/LegacySCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ProcessResponseHelpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptResponseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentItemDataTaypes.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/FDocument.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/RTServerSignaturFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ScuBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Moved models
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/CancelCashRegisterResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/CommercialDocument.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/CustomRTDResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/CustomRTDetailedResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/GetDailyOpenResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/GetDailyStatusArrayResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/GetDailyStatusResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/GetDailyStatusResponseContent.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/GetDeviceMemStatusResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertCashRegisterAsyncResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertFiscalDocumentArrayResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertFiscalDocumentArraySubResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertFiscalDocumentResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertZDocumentResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/QueueIdentification.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/ReactivateCanceledCashRegisterResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/ResponseBodyErrory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/UpdateCashRegisterResponse.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added back pos signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Use abstract
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITConstants.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/POSReceiptSignatureData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/RTServerSignaturFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

NExt steps unification
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added acceptancetests project
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/LegacySCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/Usings.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml
