Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

fix nullpointer
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

generalize resend on Zeroreceipt
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/RequestCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  scu-it/test/TestLauncher/Program.cs
Due: none

.....
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

repo
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Repositories/QueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add to di
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

test & fix
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

daily closing
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ftJournalITExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignatureItemFactoryIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReport.cs
  scu-it/test/TestLauncher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

review suggestions
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Contracts/Exceptions/Errors.cs
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ftJournalITExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Repositories/QueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
  queue/test/Directory.Build.props
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Exceptions/OperatorException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

change resend configuration
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove deprecated frameworks
  azure-pipelines/templates/queue/acceptance-test.template.yml
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/fiskaltrust.Middleware.Storage.EFCore.SQLServer.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore/fiskaltrust.Middleware.Storage.EFCore.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest.csproj
  scu-at/test/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.QueueSimulator/fiskaltrust.Middleware.SCU.DE.QueueSimulator.csproj
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Tools/fiskaltrust.Middleware.SCU.DE.Test.Tools.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.AcceptanceTest/fiskaltrust.Middleware.SCU.DE.AcceptanceTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.CryptoVision.IntegrationTest/fiskaltrust.Middleware.SCU.DE.CryptoVision.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.IntegrationTest/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Epson.IntegrationTest/fiskaltrust.Middleware.SCU.DE.Epson.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.InMemory.UnitTest/fiskaltrust.Middleware.SCU.DE.InMemory.UnitTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.IntegrationTest/fiskaltrust.Middleware.SCU.DE.Swissbit.IntegrationTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
  scu-me/test/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix build
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

incl Error object
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "fix build"
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix build
  scu-at/Directory.Build.props
  scu-de/Directory.Build.props
  scu-it/test/TestLauncher/Grpc/Binders/Binder.cs
  scu-it/test/TestLauncher/Grpc/GrpcHelper.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove old compile flags
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use valid errortyp, handle device exception in resend
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Contracts/Exceptions/Errors.cs
  queue/src/fiskaltrust.Middleware.Contracts/Exceptions/SSCDErrorException.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update interface and storage
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/Directory.Build.props
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix at in memory scu interface version
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
Due: none

update clients
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix mysql it journal repo
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/IT/MySQLJournalITRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix check for missing initial operation receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix swissbitcloud version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix possible Actionjournal error on znr
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix for relative device urls
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
Due: none

fix nuspec file
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Single use voucher
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

finish Single use voucher, handle unvalid epson xml
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/PaymentExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/test/Directory.Build.props
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Redeem multi use voucher on payitems
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Exceptions/ItemPaymentInequalityException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/FiscalReceiptInvoiceExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/PaymentAdjustmentTypeExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/PaymentExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/PaymentsExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/StringExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/SoapSerializer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

multi use Voucher on chargeitems
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

"late signing mode"
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
