Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Build
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
      dependsOn: []
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/build-nuget.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/scu-at/test.template.yml
  - job: BuildNugetPackages
    displayName: Build v1 NuGet packages
    dependsOn:
    - Test
    condition: succeeded()
    pool:
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

return .nuspec to correct state
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Run new test separately
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/test-nuspec.template.yml
Due: none

AndroidTest depends on nothing
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Add DSfinVK to project
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

add csv helper package
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

add fiskaltrust.interface package
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

add fiskaltrust.storage package
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

change the version of fiskaltrust.interface
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

change packages
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

csvhelper:15
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: none

add condition for new test
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Add Readme file
  test/fiskaltrust.AndriodLauncherTest/Readme.md
Due: none

alignment with the established behavior of the interface description
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

initial customrtprinter commit
  scu-it/Directory.Build.props
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Clients/CustomRTPrinterClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Booleano.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/GetInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/QueryPrinterStatus.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Request.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/AddInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/InfoResp.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/Response.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/ScuBootstrapper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

rename test project
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/test-nuspec.template.yml
  test/fiskaltrust.AndriodLauncherTest/src/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/strings.xml
  test/fiskaltrust.NuspecTest/README.md
  test/fiskaltrust.NuspecTest/fiskaltrust.NuspecTest.sln
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Assets/AboutAssets.txt
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/MainActivity.cs
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Properties/AndroidManifest.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Properties/AssemblyInfo.cs
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/AboutResources.txt
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/Resource.designer.cs
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/layout/activity_main.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-anydpi-v26/ic_launcher.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-anydpi-v26/ic_launcher_round.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-hdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-hdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-hdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-mdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-mdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-mdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xhdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xhdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xhdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxhdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxhdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxhdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxxhdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxxhdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxxhdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/colors.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/dimens.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/ic_launcher_background.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/strings.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
  test/nuget.config
Due: none

fix
  test/nuget.config
Due: none

Test nuspec file by creating LocalFeed with sqlite package (#245)
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/test-nuspec.template.yml
  azure-pipelines/templates/queue/test.template.yml
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  test/fiskaltrust.NuspecTest/README.md
  test/fiskaltrust.NuspecTest/fiskaltrust.NuspecTest.sln
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Assets/AboutAssets.txt
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/MainActivity.cs
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Properties/AndroidManifest.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Properties/AssemblyInfo.cs
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/AboutResources.txt
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/Resource.designer.cs
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/layout/activity_main.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-anydpi-v26/ic_launcher.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-anydpi-v26/ic_launcher_round.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-hdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-hdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-hdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-mdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-mdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-mdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xhdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xhdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xhdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxhdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxhdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxhdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxxhdpi/ic_launcher.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxxhdpi/ic_launcher_foreground.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/mipmap-xxxhdpi/ic_launcher_round.png
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/colors.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/dimens.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/ic_launcher_background.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/Resources/values/strings.xml
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
  test/nuget.config
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

implement rec serialization
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Clients/CustomRTPrinterClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/GetInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/QueryPrinterStatus.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Records/PrintRecItem.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Request.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/AddInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/LastIdCmd.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/Response.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

add commands records and reports
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Commands/GetDailyTotals.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Commands/GetInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Commands/GetZReports.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Commands/QueryPrinterStatus.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecItem.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecItemVoid.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecRefund.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecTotal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecVoid.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/setLotteryCode.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/GetInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterCommand.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Records.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Reports/GetZTransmissionID.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Reports/PrintXReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Reports/PrintXZReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Reports/PrintZReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/DailyTotals.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/ZReportsResp.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

add error codes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/ProtocolErrors.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update client api
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Clients/CustomRTPrinterClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReport.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix tests
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Clients/CustomRTPrinterClient.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Update FiskalySCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update TargetFrameworkVersion
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

install sdk
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/scu-de/test.template.yml
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Fix Android SDK path in test template.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Fix Android SDK command in test template.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

debug
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

fix debug
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

fix
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
