Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Fixed more things
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/8.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/8_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed zeroreceipt
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed refund / storno
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases.zip
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/4_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/5_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

A few more fixes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

one more night
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Updated middleware
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Dipsoisng
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixeed a few mappings
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases.zip
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/4_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/5_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/3_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/8_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed zero receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed refund
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/4_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/5_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/3_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improved error handling for scu
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improved
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using ND instead of NP
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update to latest export
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved test readability and flexibility for future changes in ftJournalFRCopyPayload class structure
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

rfcs
  rfcs/0202-de-dsfinvk-include-orders.md
Due: none

..
  rfcs/0202-de-dsfinvk-include-orders.md
Due: none

Implemented MySQL storage integration with ftJournalFRCopyPayload migration
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/009_ftJournalFRCopyPayload.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/FR/MySQLJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

rfc - add explicit sa´tart and update transaction
  rfcs/0000-de-dsfinvk-add-explicit-start-update-transaction.md
Due: none

Update 0000-de-dsfinvk-add-explicit-start-update-transaction.md
  rfcs/0000-de-dsfinvk-add-explicit-start-update-transaction.md
Due: none

Added MySQLJournalFRCopyPayloadRepositoryTests
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/009_ftJournalFRCopyPayload.mysql
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/Fixtures/TableNames.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use query parameters
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/008_Indices2.mysql
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/012_ftJournalFRCopyPayload.sqlite3
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved tests in BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added implementation and testing of JournalFRCopyPayloadRepository in EFCore for PostgreSQL and SQLServer.
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLMiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/SQLServerMiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/FR/EFCoreJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/fiskaltrust.Middleware.Storage.EFCore.csproj
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/PostgreSQL/EFCorePostgreSQLJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use database function instead of parameters
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/008_Indices2.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored and Standardized JWT Generation in BaseStorageBootStrapperTests
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/JwtTestsHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Quick fix of BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/JwtTestsHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Quick fix JwtTestsHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/JwtTestsHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added EfJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/FR/EfJournalFRCopyPayloadRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

dsfinvk 1.5.3, version files, set incl orders default
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

move exclude to queue config
  queue/src/fiskaltrust.Middleware.Contracts/Constants/JournalTypes.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix copypayload deserialization
  queue/src/fiskaltrust.Middleware.Contracts/Models/FR/ftJournalFRCopyPayload.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add test
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added EfJournalFRCopyPayloadRepositoryTests
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added migrations EFCore PostgreSQL and SQLServer
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/PostgreSQLMiddlewareDbContextModelSnapshot.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/Migrations/SQLServerMiddlewareDbContextModelSnapshot.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add ef migrations
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202310031515331_ftJournalFRCopyPayload.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202310031515331_ftJournalFRCopyPayload.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202310031515331_ftJournalFRCopyPayload.resx
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implemented PerformMigrationInitialization for MySQL storage
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implemented migration detection and initialization in EF Bootstrapper
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
