Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

added more information to initiate switch exception
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

support unencrypted connectionstrings
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add postgres
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add raw connectionstring support
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add certificate header and footer if not present
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update cert trimming
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update dsfinv-k export
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version files
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

revert remove deps
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix fiskaly cert
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Adjusz payload
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update to dsfinvk sandbox version
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add receipt case in query
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add it scu
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml
  azure-pipelines/templates/scu-it/build-nuget.template.yml
  azure-pipelines/templates/scu-it/test.template.yml
  scu-it/Directory.Build.props
  scu-it/LICENSES/Microsoft.Extensions.DependencyInjection.txt
  scu-it/LICENSES/Microsoft.Extensions.Logging.txt
  scu-it/LICENSES/Newtonsoft.Json.txt
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Configuration/EpsonScuConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Directory.Build.props
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/ScuBootstrapper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/version.json
Due: none

add queue´s
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

sandbox release
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

create processors
  queue/src/fiskaltrust.Middleware.Localization.QueueES/SignProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

bootstrappers
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

repsitories
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageSignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageSignaturCreationUnitITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueIT.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtSignaturCreationUnitES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtSignaturCreationUnitIT.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/Configuration/EfQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/Configuration/EfQueueITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/Configuration/EfSignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/Configuration/EfSignaturCreationUnitITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/Configuration/EFCoreQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/Configuration/EFCoreQueueITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/Configuration/EFCoreSignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/Configuration/EFCoreSignaturCreationUnitITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemoryQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemoryQueueITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemorySignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemorySignaturCreationUnitITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/Configuration/MySQLQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/Configuration/MySQLQueueITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/Configuration/MySQLSignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/Configuration/MySQLSignaturCreationUnitITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteQueueITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteSignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteSignaturCreationUnitITRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add testlauncher lokalization override
  queue/src/fiskaltrust.Middleware.Localization.QueueES/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/JournalProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

PR comments, fixed build
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/ArchiveCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/fiskaltrust.Middleware.Localization.QueueAT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEBootStrapperUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed integration tests
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed comparison
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLActionJournalRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

first step xml & config
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Configuration/EpsonScuConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
Due: none

start test
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Configuration/EpsonScuConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/ScuBootstrapper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonXmlWriter.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: none

format decimals, invoive test
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonFormatter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonXmlWriter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: none

PrintRecRefund
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonXmlWriter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: none

new it
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonXmlWriter.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: none

add tests lottery & adjust payment
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonXmlWriter.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
Due: none

use built in path seperator
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

first draft
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ActionJournalEntry.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

versionb & storage ref
  queue/src/Directory.Build.props
  queue/test/Directory.Build.props
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update dsfinvk
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update queue versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
