Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Refactor unit tests and implement receipt case conversion
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/AT/CaseConverterATTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update ReceiptStates
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/AT/CaseConverterATTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests receipt cases
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/AT/CaseConverterATTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update ftReceiptcases
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftReceiptCaseFlags .cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update tests
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/AT/CaseConverterATTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update payItem and signatureformat
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
  queue/src/fiskaltrust.Interface.Tagging/FR/CaseConverterFR.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureTypes.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/AT/CaseConverterATTests.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/FR/CaseConverterFRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

ftState
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/DE/ftSignatureTypes.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update ftStates
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftStates.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftStates.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update tests ConvertftState
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/AT/CaseConverterATTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Interface.Tagging/ReceiptConverter.cs
  queue/src/fiskaltrust.Interface.Tagging/ReceiptConverter.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

VAT code review
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

review of the receipt examples for testing
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added publishing to CI build
  .github/workflows/ci.yml
  queue/Directory.Build.props
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Abstractions/fiskaltrust.Middleware.Abstractions.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  scu-at/Directory.Build.props
  scu-de/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/fiskaltrust.Middleware.SCU.DE.CryptoVision.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/fiskaltrust.Middleware.SCU.DE.Epson.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/fiskaltrust.Middleware.SCU.DE.InMemory.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
  scu-es/Directory.Build.props
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-it/Directory.Build.props
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/fiskaltrust.Middleware.SCU.IT.CustomRTServer.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-me/Directory.Build.props
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Fix step outputs
  .github/workflows/ci.yml
Due: none

Test release binaries
  .github/workflows/ci.yml
Due: none

.NET 6 is used in tests
  .github/workflows/ci.yml
Due: none

.NET 6 is required for tests
  .github/workflows/ci.yml
Due: none

Publish test results
  .github/workflows/ci.yml
Due: none

Put fail-fast into correct place
  .github/workflows/ci.yml
Due: none

Publishing test results requires linux
  .github/workflows/ci.yml
Due: none

Upload trx files in build step
  .github/workflows/ci.yml
Due: none

Always upload test results
  .github/workflows/ci.yml
Due: none

Use a shorter path in test
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added connection string secrets for tests
  .github/workflows/ci.yml
Due: none

Append files to sign correctly
  .github/workflows/ci.yml
Due: none

Fixed files
  .github/workflows/ci.yml
Due: none

Requires newline... I hope
  .github/workflows/ci.yml
Due: none

Fixed variable name
  .github/workflows/ci.yml
Due: none

Replaced SQLite nuspec with csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Publish SQLite files to support manually packing them
  .github/workflows/ci.yml
Due: none

Fixed copy/paste issue
  .github/workflows/ci.yml
Due: none

Include other directories
  .github/workflows/ci.yml
Due: none

Use msbuild and install Android dependencies
  .github/workflows/ci.yml
Due: none

Install Java 21
  .github/workflows/ci.yml
Due: none

Maybe the preinstalled Java is enough :|
  .github/workflows/ci.yml
Due: none

It isn't
  .github/workflows/ci.yml
Due: none

Setup msbuild
  .github/workflows/ci.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
