Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

test3
  .github/workflows/prepare-release.yml
Due: none

test4
  .github/workflows/prepare-release.yml
Due: none

test --what-if
  .github/workflows/prepare-release.yml
Due: none

Fixes
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/BESSCD/IBESSCD.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Helpers/ProcessResponseHelpers.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/IBESSCDAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/ZwarteDoosScuAcceptanceTests.cs
Due: none

add release task
  .github/workflows/prepare-release.yml
Due: none

test6
  .github/workflows/prepare-release.yml
Due: none

see version
  .github/workflows/prepare-release.yml
Due: none

test 7
  .github/workflows/prepare-release.yml
Due: none

test 10
  .github/workflows/prepare-release.yml
Due: none

update tag command
  .github/workflows/command-tag.yml
  .github/workflows/prepare-release.yml
Due: none

clean up
  .github/workflows/prepare-release.yml
Due: none

change command name to release
  .github/workflows/command-release.yml
  .github/workflows/slash-commands.yml
Due: none

Implement exponential backoff for export data requests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileExportService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/IFiskalyApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix statuscode
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix exponent
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileExportService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix fiskaly retry
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix retry logic
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/HttpClientWrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update .github/workflows/command-release.yml
  .github/workflows/command-release.yml
Due: none

Set version to '1.3.80-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Update version to 1.3.80-ci.{height}
  version.json
Due: none

Rename workflow from 'command tag' to 'command release'
  .github/workflows/command-release.yml
Due: none

Change job dependencies from 'tag' to 'release'
  .github/workflows/command-release.yml
Due: none

Fix syntax in releaseName assignment
  .github/workflows/command-release.yml
Due: none

Change condition from 'tag' to 'release' in workflow
  .github/workflows/command-release.yml
Due: none

Fix output variable assignment in command-release.yml
  .github/workflows/command-release.yml
Due: none

add no issue label to release pr
  .github/labeler.yml
Due: none

fix github release creation
  .github/workflows/command-release.yml
Due: none

fix release notes
  .github/workflows/command-release.yml
Due: none

add version response to comment
  .github/workflows/command-release.yml
Due: none

fix release name
  .github/workflows/command-release.yml
Due: none

fix comment mode
  .github/workflows/command-release.yml
Due: none

fix comment
  .github/workflows/command-release.yml
Due: none

Added tsts
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEMappingsIncomeClassificationValueTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
