Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Refactor Middleware tests and helper class ReceiptProcessorHelper was added into multiple tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FinishScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitialOperationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored error handling in InitiateScuSwitchReceipt tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update StartTransactionReceipt tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/StartTransactionReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated several unit tests in the FailTransactionReceiptTest class to check for expected error states
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update error handling in UpdateTransactionReceiptTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/UpdateTransactionReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add ReceiptProcessorHelper to OtherProcessTypeTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OtherProcessTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add ReceiptProcessorHelper to OrderProcessTypeTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderProcessTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add ReceiptProcessorHelper to ReceiptProcessTypeTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptProcessTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update MonthlyClosingTests with new helper and tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/MonthlyClosingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Changed the assertion method in the ZeroReceiptTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

roll back scu to implement ipos.v1
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ATrustSmartcardSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.csproj
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HostingHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/fiskaltrust.Middleware.SCU.AT.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Add receipt verification method to the tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

adjust zero flag to 1.2
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implemented additional error handling in SignProcessor
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add missing force signing param, fix ini sign when already started
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add build steps for ATrust scu
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml
  azure-pipelines/templates/scu-at/build-nuget.template.yml
Due: none

ini signature
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add actionjournal type docs
  queue/README.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix docs
  queue/README.md
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated error handling in SignProcessor
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Reverted changes SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/README.md
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix aj type
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

#276 - Release Middleware version 1.3.55
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update .nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add Unit Tests
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ATrustSmartcardSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardService.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardServiceFactory.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustACOS.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustAcosID.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustCardOS53.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.csproj
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/GlobalUsings.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/AtrustACOSCardTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/AtrustAcosIdCardTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/AtrustCardOS53Tests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/CardServiceFactoryTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest.csproj
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/testdata/Certificate.txt
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

update export version
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
Due: none

recorrect some small changes in primesignHSM
  azure-pipelines/fiskaltrust.Middleware.SCU.AT-Release.yml
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/PrimeSignSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

add Directory.Build.Props
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

add version to atrustsmartcard project
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Fix Actionjournalentry
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Reworked writing startup actionjournal
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

replace semaphores with mutex
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Helpers/LockHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

minor changes
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HostingHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

remove extra file
  azure-pipelines/templates/scu-at/build-zip.template.yml
Due: none

Get dailyclosings incl Queueitems
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/DailyClosingRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Repository/DailyClosingRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update dsfinvk version
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed loading queueitems of actionjournals affected by queueid = queueitemid
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/DailyClosingRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Repository/DailyClosingRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Correctly resolve ActionJournals that have the ftQueueItemId incorrectly set to ftQueueId
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/DailyClosingActionJournalHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix order, increase timerange
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/DailyClosingActionJournalHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
