Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Allow queueitesm
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add verifactu test
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Remove taxamount
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Mapping improvements
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix hash
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RegistroFacturacionAlta.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RegistroFacturacionAnulacion.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add reset receipt test
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix serialization
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/Cabecera.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/DesgloseRectificacion.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/Detalle.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/IDOtro.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/Operacion.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RegistroDuplicado.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RegistroFacturacionAlta.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RegistroFacturacionAnulacion.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RemisionRequerimiento.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RemisionVoluntaria.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RespuestaBase.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RespuestaExpedida.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RespuestaRegFactuSistemaFacturacion.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add comment
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix time
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed saftmapping
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

AAd
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationExamplesCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationExamplesSelfPricing.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationTestsCard.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor and fix hash
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/IESSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/SignatureTypesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update Version
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix qr code url
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix url
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

azure rc1
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix journal and void
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RegistroFacturacionAnulacion.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update test
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix numseriefactura in chain
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

maybe fix void chaining
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

squeze ticketbai scu into es queue as a prototype
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/IESSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/Soap/Client.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/Soap/Models/Envelope.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/Soap/Models/Header.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/Soap/Models/RequestBody.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/Soap/Models/ResponseBody.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/VeriFactuSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Interface/SignatureTypesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCUConfiguration.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Added Protocol receipt
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/NonFiscal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ScuBootstrapperTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix unit tests
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ScuBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix ticketbai fields
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Helpers/XmlHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Helpers/XmlHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix number formatting
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix framework
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

add framework
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

skip tests with local certificates
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

increase time range to find qi
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/DailyClosingRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add signaturescope
  azure-pipelines/templates/queue/test.template.yml
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/VeriFactuSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Interface/SignatureTypesES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix yaml
  azure-pipelines/templates/queue/test.template.yml
Due: none

skip local tests in ci
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/Soap/Client.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/TestHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Replace non-allowed characters from rowkeys in Table Storage repositories
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Helpers/ConversionHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageReceiptReferenceIndexRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageFailedFinishTransactionRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageFailedStartTransactionRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageOpenTransactionRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Version bump
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
