Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Fixed libraries for Swissbit
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-armel/native/libWormAPI.so
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Support for payment
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add system linq async
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Enhance MiddlewareState to include PreviousReceiptReference and refactor related processing logic
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/MiddlewareState.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/MiddlewareState.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

add smoke tests
  .github/workflows/smoke-tests.yml
Due: none

refactor: make PreviousReceiptReference and Response properties nullable in MiddlewareState
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

refactor: initialize PreviousReceiptReference and Response properties in MiddlewareState
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

update yaml
  .github/workflows/smoke-tests.yml
Due: none

update name
  .github/workflows/smoke-tests.yml
Due: none

update trigger part
  .github/workflows/smoke-tests.yml
Due: none

update
  .github/workflows/smoke-tests.yml
Due: none

add task to run launcher
  .github/workflows/smoke-tests.yml
Due: none

update variables
  .github/workflows/smoke-tests.yml
Due: none

Update variables
  .github/workflows/smoke-tests.yml
Due: none

..
  .github/workflows/smoke-tests.yml
Due: none

update version
  .github/workflows/smoke-tests.yml
Due: none

Upload test output
  .github/workflows/smoke-tests.yml
Due: none

run launcher
  .github/workflows/smoke-tests.yml
Due: none

stop running launcher
  .github/workflows/smoke-tests.yml
Due: none

create new nuget from main project and copy that to packages folder.
  .github/workflows/smoke-tests.yml
Due: none

checkout .github folder
  .github/workflows/smoke-tests.yml
Due: none

full checkout
  .github/workflows/smoke-tests.yml
Due: none

build project
  .github/workflows/smoke-tests.yml
Due: none

update
  .github/actions/build/action.yml
  .github/workflows/smoke-tests.yml
Due: none

..
  .github/actions/build/action.yml
  .github/workflows/smoke-tests.yml
Due: none

Several fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/ChargeItemCaseNatureOfVatPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationTestCasesPhase1.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationTestCasesPhase2.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PT_Phase2_CertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/TestRunner.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

see files in package folder
  .github/workflows/smoke-tests.yml
Due: none

refactor
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/MiddlewareState.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

get packages based on nuspec file from nuget package
  .github/workflows/smoke-tests.yml
Due: none

Workaround custom rt server
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update configuration
  .github/scripts/generate-launcher-configuration.ps1
  .github/workflows/smoke-tests.yml
Due: none
