Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

increase retry, readd flag
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Support GR myDATA discountOption for tax deduction line items
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptRequestExtensions.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataLineItemOverrideTests.cs
Due: none

feat: add missing Models/Cases files to git tracking
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/ChargeItemCaseNatureOfVatES.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/ChargeItemCaseNatureOfVatPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/TaxExemptionPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/ftReceiptCaseDataPayloadPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: cases
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/ES/ChargeItemCaseNatureOfVatES.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/PT/ChargeItemCaseNatureOfVatPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/PT/TaxExemptionPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/PT/ftReceiptCaseDataPayloadPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: update unit tests
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ReceiptValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

first version
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SendPaymentsMethodTests.cs
Due: none

use rule atoms
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Customer/CustomerRequiredForInvoice.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/CustomerValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: update validation rules
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/ES/ChargeItemCaseNatureOfVatES.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/PT/ChargeItemCaseNatureOfVatPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/PT/TaxExemptionPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/Cases/PT/ftReceiptCaseDataPayloadPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/UserValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/PayItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/UserValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix 129 - Partially return void a restaurant order 8.6
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/PartiallyCancelInvoiceValidationTests.cs
Due: none

integrate shadow validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/TaxExemptionPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/ftReceiptCaseDataPayloadPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/UserValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implement MyData overrides for invoice headers and details, including exchange rate, third-party collection, and counterpart fields; add unit tests for new functionality.
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

refactor
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: enhance validation rules
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: enhance receipt validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptReferenceProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: improve validation rules
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Change for entityVatNumber + Tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/ReceiptCaseFlagsGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SendPaymentsMethodTests.cs
Due: none

AddTransmissionFailure2Signature method
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
Due: none

changed description
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
Due: none

implement signature of Failure 2
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

Tests
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/TransmissionFailure2Tests.cs
Due: none

Dead code fix ?
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

refactor: enhance receipt and queue validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add subtotal Discount / Surcharge Fix negative importa sent to Printer
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix #100 - Reverse delivery note
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsReverseDeliveryNotePurposeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ReverseDeliveryNoteValidationTests.cs
Due: none

update GetMarketValidators to accept additional parameters
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

demo validation rule for shadow mismatch in receipt validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add Reset Printer command and Reboot Printer Command
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/IEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/PrinterCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added more support
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

refactor: enhance validation rules for Spanish receipts and improve error handling
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/UserValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update dotnet version
  .github/actions/build/action.yml
Due: none

Cleanup
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/CaseDataPayloads.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/AddressOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/ChargeItemMyDataOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceDetailOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/OtherDeliveryNoteHeaderOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PartyOverrides.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/ReceiptRequestMyDataOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/ShipOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

FIx
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/AddressTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/ChargeItemMyDataOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/EntityTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceDetailOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceRowType.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/OtherDeliveryNoteHeaderTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PartyOverrides.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PartyTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/ShipTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/TransportDetailOverride.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Fix
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PartyTypeOverride.cs
Due: none

Added override for classes and categoresi
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Added more tsts
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Fixes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

FIx
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Set myDATA XML payload in the Signature
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataXmlSignatureTests.cs
Due: none

FIxes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptRequestExtensions.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryCounterpartTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsIncomeClassificationValueTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

FIx
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none
