Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Further smaller fixes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed some more tests
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Ran code cleanu
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/ActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ftJournalITFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ReceiptTypeProcessorFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/OneReceipt0x2001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ShiftClosing0x2010.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2B0x1002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2C0x1001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2G0x1003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceUnknown0x1000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/FinishSCUSwitch0x4012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitSCUSwitch0x4011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/InternalUsageMaterialConsumption0x3003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/Order0x3004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/ProtocolAccountingEvent0x3002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/ProtocolTechnicalEvent0x3001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/ProtocolUnspecified0x3000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/ECommerce0x0004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PaymentTransfer0x0002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceipt0x0001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceiptWithoutObligation0x0003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/Protocol0x0005.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/UnknownReceipt0x0000.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improved stability
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ReceiptTypeProcessorFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/JournalProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/NumberDefinitions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/POSReceiptSignatureData.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed zeroreceipt
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed some smaller issuess
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improved handling of documents
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/FDocument.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertFiscalDocumentArrayResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertFiscalDocumentArraySubResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/InsertZDocumentResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

IMproved epson logic
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/FDocument.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/FDocumentLottery.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Helpers.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improved logging
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Logging errors and proceeding
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Support receipts without refere number
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentDataLottery.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed some smaller issues
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed wrong returning of signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed build
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Changed part of suggestions from review
  queue/src/fiskaltrust.Middleware.Contracts/Models/FR/ftJournalFRCopyPayload.cs
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Models/CopyPayload.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/FR/InMemoryJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/FR/SQLiteJournalFRCopyPayloadRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/SignProcessorFRTests/Receipts/CopyReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Optimize Database Migration Logic
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added unit test for PopulateFtJournalFRCopyPayloadTableAsync method
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added cosmetic changed in BaseStorageBootStrapperTests
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Don't process receipts in failed mode
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

using ND instead of POS
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturBuilder.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

implement omaggio
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed refund cases
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentData.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Persist state
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ScuBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

added additional lines
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixe
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed omaggio
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/Models/DocumentTaxData.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Calculate vatamounts
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added test to check GetCountOfCopiesAsync method
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Deleted reference which was added by mistake
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added InsertingSameEntityTwice_ShouldThrowException test
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored code in SQLiteJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Some more fixes to discount
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITConstants.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Changed suggested things
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Many more fixes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ProcessResponseHelpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Return sign error
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added test for verifying copy payload insertion
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/BaseStorageBootStrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added queue to process ele
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ScuBootstrapper.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

added cases
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/4.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/4_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/5.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/5_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/3.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/3_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed mapping issues
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/3_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml
