Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Remove commented-out test for ProcessReceiptAsync_ShouldReturnEmptyList
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add support for units
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Fixed build error
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Fix
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Using right flag
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/ReceiptCaseFlagsGR.cs
Due: none

Addes tests
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Add support for transport document
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ReceiptCaseFlagsGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support for 9.3
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsInvoiceTypeTests.cs
Due: none

calculate ticketbaiidentifier our selves
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/Result.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/XmlHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Territories/ITicketBaiTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiModels.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaTerritory.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/.gitignore
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/ES/CashBoxBuilderES.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/fiskaltrust.Middleware.Test.Launcher.v2.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Support for additional validations
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/PortugalReceiptValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Constants.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptRequestValidatorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/PortugalValidationHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/PortugalValidationRules.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidationContext.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/cbUserValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ValidationResultCollection.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/MockPTSSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/README.md
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Refunds/RefundValidationAcceptanceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Helpers/ReceiptRequestValidatorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Validation/PortugalValidationRulesTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTUserObject.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/cbUserValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/ReceiptExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/SAFTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Adapt error message
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added customer validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

previous is needed for certainr eceitps
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added discountd validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Validation/PortugalValidationRulesTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Copy Receipt
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/ReceiptRequestComparer.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/MiddlewareStateData.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added better tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Helpers/InMemoryLocalizationStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added better tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Include localizationfix
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Remvove
  scu-gr/docs/mydataoverride-feature.md
Due: none

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/IQueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/AbstractScenarioTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/VoidValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptResponseHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Factories/PortugalReceiptCalculationsTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.AcceptanceTests/AADECertificationTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.AcceptanceTests/Scenarios/AADECertificationExamples.cs
  storage/src/fiskaltrust.storage/Models/ftQueuePT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed PT receipts
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ReceiptCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/Processors/ReceiptCommandProcessorEU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/ReceiptRequestComparer.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IReceiptCommandProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/SAFTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Addded more validation and tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/InvoiceScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PaymentTransferScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support more tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/VoidValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/CopyReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/PosReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0001_PosReceipt_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0002_PaymentTransfer_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0006_TableCheck_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x100x_Invoice_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

added base scenarios
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/AbstractScenarioTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/CopyReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/ReceiptCaseFlagsGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed acceptance tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/CopyReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support only PT tags
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0002_PaymentTransfer_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x100x_Invoice_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Supprot for all tax reasons
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

FIxes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cleanu
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
