Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Applied suggestions from review
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/Fixtures/MySQLConnectionStringFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Changes
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Dummy/IMiddlewareJournalRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixed number of active txs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Models/TssDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

accounted for the api not returning the count
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

start posreceipt implementation
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added pos receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignProcessorDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

ftState data in json - not reachable on zero
  queue/src/fiskaltrust.Middleware.Contracts/Extensions/ReceiptResponseExtensions.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix queueitem country code
  queue/src/fiskaltrust.Middleware.Queue/ReceiptRequestHelper.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved code and configurations
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Resolved conflict
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

review
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

tests
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/IPOSTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

58520 scu force flag kba in exception
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

kba
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Changed country code
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added limit to use Default market on Sandbox only
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added test for veryfing sign works
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_79732487C_A2022_0399.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_79732487C_A2022_0399_signed.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_79732487C_A2022_0400.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_79732487C_A2022_0400_signed.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_B00000034_B2022_0100.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_B00000034_B2022_0100_signed.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_B00000034_B2022_0101.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestData/Example_bizkaia_TicketBAI_B00000034_B2022_0101_signed.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
Due: none

Copy testdata
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

Update queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed issue with serialization Added digests Add basic interface
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Digests.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiRequest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
Due: none

Updated interface packaeg
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
Due: none

rename
  queue/src/fiskaltrust.Middleware.Contracts/Interfaces/ISSCD.cs
  queue/src/fiskaltrust.Middleware.Contracts/Interfaces/ISigningDevice.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/SigningDeviceIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add diectrory build file
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update newtonsoft
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
Due: none

remove Signature change to log debug rename
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Services/SscdIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added ConfigurationValidator
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfigurationValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Addd basic ticketbaiscu
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

set operator per default to 1
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
Due: none

Added suggestions from Tom
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfigurationValidator.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

using Xades lib
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

Include path in test
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
Due: none

Fixded SignXml Method and using parameter
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
