Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Build
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
      dependsOn: []
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/build-nuget.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Create ci.yml
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

put test project in test folder
  queue/fiskaltrust.Interface.Tagging.UnitTests/fiskaltrust.Interface.Tagging.UnitTests.csproj
  queue/fiskaltrust.Middleware.sln
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/DE/CaseConverterDETests.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/GlobalUsings.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/fiskaltrust.Interface.Tagging.UnitTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add source generators for flag extensions
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/fiskaltrust.Interface.Tagging.Generator.csproj
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/fiskaltrust.Interface.Tagging.csproj
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Interface.Tagging.Generator.IntegrationTests/UnitTest1.cs
  queue/test/fiskaltrust.Interface.Tagging.Generator.IntegrationTests/fiskaltrust.Interface.Tagging.Generator.IntegrationTests.csproj
  queue/test/fiskaltrust.Interface.Tagging.Generator.UnitTests/UnitTest1.cs
  queue/test/fiskaltrust.Interface.Tagging.Generator.UnitTests/fiskaltrust.Interface.Tagging.Generator.UnitTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use source generator to create extension methods
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftPayItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftReceiptCaseFlags .cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftStateFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftStates.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftPayItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftReceiptCaseFlags .cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftStateFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftStates.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/FR/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/FR/ftPayItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/FR/ftReceiptCaseFlags .cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/FR/ftStateFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/FR/ftStates.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftPayItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftReceiptCaseFlags .cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftStateFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftStates.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use extensions in case converters
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging/AT/CaseConverterAT.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/FR/CaseConverterFR.cs
  queue/src/fiskaltrust.Interface.Tagging/Interfaces/ICaseConverter.cs
  queue/src/fiskaltrust.Interface.Tagging/JournalConverter.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftReceiptCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftReceiptCaseFlags .cs
  queue/src/fiskaltrust.Interface.Tagging/ReceiptConverter.cs
  queue/test/fiskaltrust.Interface.Tagging.UnitTests/DE/CaseConverterDETests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add case extensions
  queue/src/fiskaltrust.Interface.Tagging.Generator/CaseExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftReceiptCases.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix case generation
  queue/src/fiskaltrust.Interface.Tagging.Generator/CaseExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/TaggingVersions.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftReceiptCases.cs
  queue/test/fiskaltrust.Interface.Tagging.Generator.IntegrationTests/UnitTest1.cs
  queue/test/fiskaltrust.Interface.Tagging.Generator.UnitTests/UnitTest1.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add country codes to receipt cases
  queue/src/fiskaltrust.Interface.Tagging.Generator/CaseExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/CountryCodes.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

cleanup
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added URL
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added implementation for creating x report
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReport.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/0x2000_ZeroReceipt_XReportFlag.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Increased version number
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

refactor
  queue/src/fiskaltrust.Interface.Tagging.Generator/CaseExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/ExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/ToGenerate.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix version case shift
  queue/src/fiskaltrust.Interface.Tagging/Models/TaggingVersions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support for negative articles
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash_WithNegativeAmount.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash_WithNegativeAmount_Void.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

use enum field instead of field value
  queue/src/fiskaltrust.Interface.Tagging.Generator/CaseExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/ExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging.Generator/ToGenerate.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Interface.Tagging.Generator.IntegrationTests/UnitTest1.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

ChargeItem Cases & Flags
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftChargeItemCases.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

PayItems
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftChargeItemCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftPayItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftPayItemCases.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

cases v2 Journal Signatures States
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftJournalTypes.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftJournalTypesFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftReceiptCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureFormats.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureTypes.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureTypesFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftStates.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Sign format
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureFormats.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureFormatsFlag.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

cases chargeitems payitems de
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftChargeItemCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftPayItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftPayItemCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftReceiptCases.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add receiptreference index
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_000_Initial.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/BaseAzureTableStorageRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageReceiptReferenceIndexRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest/AzureTableStorageQueueItemRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest/Constants.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

de tagging
  queue/src/fiskaltrust.Interface.Tagging.Generator/FlagExtensionGenerator.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftChargeItemCaseFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftSignatureFormats.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftSignatureFormatsFlags.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftSignatureTypes.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftStates.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/ftSignatureFormatsFlag.cs
  queue/src/fiskaltrust.Interface.Tagging/fiskaltrust.Interface.Tagging.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageReceiptReferenceIndexRepository.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove storage emulator url
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest/Constants.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

deprecate storageconnectionstring parameter
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update cicd
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/build-nuget.template.yml
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add net6
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

start conversion, add vat tagging
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftReceiptCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V2/Vat.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Update scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
