Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

..
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

ooo receipt - register multiple queues
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/Extensions.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/SwissbitCloudV2TseState.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2ExportTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

optimize build pipeline
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/build-nuget.template.yml
Due: none

update names
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/build-nuget.yml
Due: none

update yml files
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

..
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

back changes
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

add httpclientwrapper 4 mono
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Constants/TransactionType.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/ClientCache.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add parameters to the pipeline
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

update yml file
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

update
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

minor change
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

test
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

test if condition
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

test else
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

add a condition
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

add build swissbitAndroid
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

Remove extra file
  azure-pipelines/templates/build-nuget.yml
Due: none

Remove Extra files
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/Enums/TseHealthState.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/Enums/TseInitializationState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Receiptcalcs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Tseinfo read certificate
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update parameters
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Removed unused params
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/CryptoHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/StringUtilities.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

keep tseInfo
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

new tse combine tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2ExportTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

resolve comments
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/HttpClientWrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
