Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

A few more things supported
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/PayItemCaseData.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed using android
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/PayItemCaseData.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/ReceiptExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Changed text of invoice
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataApiClient.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

BSI certificate update
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixed item
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Introduce line cancellation flag in German Middleware
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Extensions/ReceiptRequestExtensionsTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Let's not add series
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataApiClient.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update models
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/01_SuministroLR.xsd-Registrierungs-und-Loeschvorgaenge-VERIFACTU-u-Nicht-VERIFACTU-Systeme_EN.xml
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/02_RespuestaSuministro.xsd-Antwort-auf-Vorgaenge-VERIFACTU-u-Nicht-VERIFACTU-Systeme_EN.xml
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/03_SuministroInformacion.xsd-Definition-allgemeiner-Typen_EN.xml
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/04_EventosSIF.xsd-Definition-Ereignisprotokoll-f-Nicht-VERIFACTU-Systeme_EN.xml
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/EventosSIF.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/README.md
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/RespuestaSuministro.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/SuministroInformacion.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/SuministroLR.xsd
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/SuministroLR_RespuestaSuministro_SuministroInformacion_EventosSIF_xmldsig-core-schema.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update QR code
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add config
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/LifecycleCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update es receiptidentification
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

adjust payload
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/CalculationHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Helpers/CalculationHelperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed epsonscu
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Delete scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/Examples/AproCase1.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/Examples/AproCase1.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed epson calculation
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

skjip test
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

remove v1 configrepo experiment
  .gitignore
  queue/src/fiskaltrust.Middleware.Localization.v2/AzureStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageSignaturCreationUnitESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage/ES/ftSignaturCreationUnitES.cs
  queue/src/fiskaltrust.Middleware.Storage/Repositories/IConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage/Repositories/IJournalESRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove .DS_Store files
  .DS_Store
  scu-it/src/.DS_Store
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/.DS_Store
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

remove orphans
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/AzureTableStorageFtJournalES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtSignaturCreationUnitES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix unimpleneted tests
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/LifecycleCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix config parsing
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix confg deser
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/FullTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

skiptests
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/LifecycleCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

hack in signature with tmp selfsigned certificate
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Helpers/XmlHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Interface/SignatureTypesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use base 64 key for certification
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Revert "#360 - Introduce line cancellation flag in German Middleware"
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/CalculationHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Extensions/ReceiptRequestExtensionsTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Helpers/CalculationHelperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

#583 - Release Middleware 1.3.66
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix bootstrapper init
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added the updated package to the Middleware and update the Storage implementations and the migrations
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271059372_AddProcessingVersion.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271059372_AddProcessingVersion.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271059372_AddProcessingVersion.resx
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20241127103339_AddProcessingVersion.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20241127103339_AddProcessingVersion.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLMiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/010_AddProcessingVersion.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/013_AddProcessingVersion.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated the fiskaltrust.storage package to version 1.3.66 in multiple project
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.UnitTest/fiskaltrust.Middleware.Storage.AzureTableStorage.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/fiskaltrust.Middleware.Storage.EF.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EF.IntegrationTest/fiskaltrust.Middleware.Storage.EF.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest/fiskaltrust.Middleware.Storage.MySQL.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added ES-related tasks for configuration repositories
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLMiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteConfigurationRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Remove duplicate method and alias imports
  queue/src/fiskaltrust.Interface.Tagging/CaseConverterFactory.cs
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/PostgreSQL/EFCorePostgreSQLJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update namespace for ftJournalFRCopyPayload references
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/PostgreSQL/EFCorePostgreSQLJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalFRCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix ProcessingVersion column and index constraints in ftQueueItem table
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271059372_AddProcessingVersion.resx
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271519262_FixProcessingVersionIndex.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271519262_FixProcessingVersionIndex.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202411271519262_FixProcessingVersionIndex.resx
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Pay Item Case suppor for payment postponed to a following invoice
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml
