Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

test4
  queue/src/fiskaltrust.Middleware.Queue.InMemory/PosBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test 6
  queue/src/fiskaltrust.Middleware.Queue.InMemory/PosBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.InMemory/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clean up
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove extra usings
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.InMemory/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix version in queue
  queue/src/fiskaltrust.Middleware.Queue/Helpers/VersionHelper.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix null
  queue/src/fiskaltrust.Middleware.Queue/Helpers/VersionHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Queue/Helpers/VersionHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

resolve nullable
  queue/src/fiskaltrust.Middleware.Queue/Helpers/VersionHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clean up
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add Production Endpoint
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Ignore casing
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build error
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueESRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add warning
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

clean up
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add try-catch
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add CertificationId
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add macos arm64 support
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update deps
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update acceptance tests manual trigger
  .github/workflows/queue-acceptance-tests.yml
Due: none

fix
  .github/workflows/queue-acceptance-tests.yml
Due: none

update acceptance test run slash command
  .github/workflows/command-run.yml
Due: none

downgrade
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

close connection
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

gc collect for tests
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

disable sqlite pooling
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Connection/SqliteConnectionFactory.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/DatabaseMigratiorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

disable pooling
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Connection/SqliteConnectionFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Allow to be prefixed
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add minver to swissbit
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Update package reference for Microsoft.CodeAnalysis.CSharp to version 4.8.0 and enhance null check for WithHoldingAmount in AADEFactory
  queue/src/fiskaltrust.Interface.Tagging.Generator/fiskaltrust.Interface.Tagging.Generator.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

further adjust range
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/DailyClosingRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved lookup of data
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ChargeItemCaseFlagsExt.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed test
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/AADE/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added tests
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/Examples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

try android sqlite fixes
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  scu-it/src/.DS_Store
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/.DS_Store
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

try fix nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

upport for cashboxes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/myDataSCU/MyDataApiClient.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
