Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

QueueDE: write TSE TAR export temp file into the service folder
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

QueueDE: only use the service folder for the TSE TAR temp file on Android
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fiskaly SCU: return an empty export when there is nothing new to export
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest/FiskalySCUExportRangeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

scu-gr: support mydataoverride invoice.packingsDeclarations
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PackagingDetailTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PackingsDeclarationOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/README.md
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v2.0.2.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

scu-gr: move packingsDeclarations support out of the generated schema file
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/AadeBookInvoiceType.PackingsDeclarations.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/README.md
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v2.0.2.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/fiskaltrust.Middleware.SCU.GR.MyData.csproj
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

scu-gr: AADE dev acceptance test for packingsDeclarations on a 1.1 delivery note
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.AcceptanceTests/AADECertificationTests.cs
Due: none

scu-gr: use a real "other" packaging title in the packingsDeclarations test
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

scu-gr: flag the stale packingsDeclarations comment in the Scheme README
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/README.md
Due: none

scu-gr: reject packingsDeclarations packages missing packagingType or quantity
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PackagingDetailTypeOverride.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

scu-de-fiskaly: single-flight token login with backoff, reuse token client, fix 5xx retry
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest/AuthenticatedHttpClientHandlerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

queue-pt: align validation checks, rule descriptions and error messages
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/PortugalValidationRules.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidationContext.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x100x_Invoice_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Validation/ChargeItemValidationAcceptanceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Validation/ReceiptValidatorVoidTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

queue-pt: return EEEE_MultipleReceiptReferencesNotSupported for void, refund and payment transfer
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(pl): drive the POSNET over USB on Android
  scu-pl/README.md
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/AndroidUsbHostLink.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/AndroidUsbHostLinkFactory.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/PosNetUsbPermission.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/ServiceCollectionExtensions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/UsbDevices.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/fiskaltrust.Middleware.SCU.PL.PosNet.Android.csproj
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetConfiguration.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetDeviceAddress.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/ScuBootstrapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/CdcLineCoding.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/IPosNetUsbHostLink.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetSerialSettings.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetTransportFactory.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/UsbHostPosNetTransport.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/UsbHostPosNetTransportTests.cs
Due: none

test(pl): an Android test host for the Polish middleware
  scu-pl/test/Manual/fiskaltrust.Middleware.PL.Android.TestHost/AndroidManifest.xml
  scu-pl/test/Manual/fiskaltrust.Middleware.PL.Android.TestHost/MainActivity.cs
  scu-pl/test/Manual/fiskaltrust.Middleware.PL.Android.TestHost/Resources/xml/device_filter.xml
  scu-pl/test/Manual/fiskaltrust.Middleware.PL.Android.TestHost/fiskaltrust.Middleware.PL.Android.TestHost.csproj
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/CashBoxBuilderPL.cs
Due: none

fix(pl): stop waiting for a USB permission answer that never comes
  .github/workflows/scu-pl-build.yml
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet.Android/PosNetUsbPermission.cs
Due: none

ci(pl): check out the full history for the Android build
  .github/workflows/scu-pl-build.yml
Due: none

Set version to '1.3.91-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Update version to full release
  version.json
Due: none

queue-pt: fix SAF-T (PT) export failing XSD validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Exports/SAFTPT/SAFTMappingSchemaComplianceTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/SAFTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

queue: warn when a started queue starts with an empty database
  queue/src/fiskaltrust.Middleware.Contracts/Interfaces/IEmptyDatabaseCheck.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/EmptyDatabaseCheck.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/NoOpEmptyDatabaseCheck.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/EmptyDatabaseCheckTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

resolve comments
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove es repo
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Use local deploy-v2-packages action in workflow
  .github/workflows/deploy.yml
Due: none

Update version.json from main before merge
  version.json
Due: none

Fix-action-refrences
  .github/actions/package/action.yml
Due: none

update
  .github/actions/package/action.yml
Due: none

feat(pl): anchor every POSNET receipt in the register
  scu-pl/README.md
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/PLReceiptCases.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/SignatureTypePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptReadback.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceModelTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceProbeTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLBusinessCaseTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetDeviceModel.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/FiscalDocumentNumber.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
Due: none

test(pl): re-record the POSNET cassettes with the receipt readback
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/CardSaleWithChange_SettlesLikeTheSpecExample.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/CashSale_LeavesExactlyItsFootprintOnTheRegister.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/CashSale_RunsTheFullTransaction_AndReturnsTheFiscalDocumentNumber.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/ConsecutiveSales_ReuseTheConnection_AndNumberDocumentsSequentially.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/DailyClosing_AfterASale_PrintsTheDailyReport_AndReportsItsNumber.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/DiscountSale_GrantsTheLineRabatOnTheLine_AndTheSubtotalRabatAfterIt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/GetInfo_ReadsTheRegisterStateWithASingleStatusCommand.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/GetInfo_ReadsTheRegisterStatusAndItsPtuTable.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/MarkupSale_GrantsTheNarzutOnTheLine_AndOnTheSubtotal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/NipReceipt_PrintsTheBuyersNip.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/Return_PrintsTheGoodsReturn_AndReportsNoFiscalDocumentNumber.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoOfDiscountedSale_CarriesTheRabatOnTheReversal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoOfDiscountedSale_LeavesTheValueOfWhatIsLeft.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoSale_ReversesThePositionItNames_AndSettlesWithWhatIsLeft.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/ZeroReceipt_ReadsTheDeviceStatus.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/CardSaleReceipt_PaysByCard.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/CardSaleWithChange_SettlesLikeTheSpecExample.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/CashSaleReceipt_IsPrinted_AndLeavesItsFootprint.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/ConsecutiveSales_NumberTheDocumentsSequentially.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/DailyClosing_PrintsTheDailyReport_AndStartsTheDayOver.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/DiscountReceipt_GrantsTheLineRabat_AndTheSubtotalRabat.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/InitialOperation_ActivatesTheQueue_AgainstTheRegister.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/MarkupReceipt_GrantsTheLineNarzut_AndTheSubtotalNarzut.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/MonthlyClosing_IsStoredUnsigned_UntilTheScuSupportsPeriodicReports.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/NipReceipt_PrintsTheBuyersNip.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/ReturnReceipt_PrintsTheGoodsReturn_AndLeavesTheTotalizersAlone.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/StornoOfDiscountedReceipt_CarriesTheRabatOnTheReversal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/StornoReceipt_ReversesThePositionItNames.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/ZeroReceipt_OnlyReadsTheRegisterStatus.json
Due: none

test(pl): verify against the PTU table the register reports
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceProbeTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestDailyOperations_DailyClosing/daily-closing.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_DiscountReceipt/discount-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_MarkupReceipt/markup-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_StornoOfDiscountedReceipt/storno-of-discounted-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_StornoReceipt/storno-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLBusinessCaseTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLEndToEndHarness.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/README.md
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/PosNetTestTarget.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/PosNetDeviceProbe.cs
Due: none

fix(pl): tighten the receipt readback after review
  scu-pl/README.md
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/PLReceiptCases.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/SignatureTypePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Client/PosNetStatus.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptReadback.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReceiptReadbackTests.cs
Due: none

DE: add ftChargeItemCase 0x...B1-B7 for Ein-/Auszahlung with VAT
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Transactions/DSFinVKTransactionPayloadFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
