Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Added further improvements to structure
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/PTFallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/ReceiptRequestValidatorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/QueuePTConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/DailyOperationsCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecycleCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/ReceiptRequestValidatorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix config parsing
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

move middleware state
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecycleCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/DailyOperationsCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/TestHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix middleware state
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/MiddlewareState.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix journal es export
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix rt server
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/LifecycleCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/ftActionJournalFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/DailyOperationsCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Processors/TestHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/AuditFileTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Exports/SAFTPT/AuditFileTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/DailyOperationsCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/LifecycleCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ProtocolCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/QRCodeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/ReceiptRequestValidatorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Several fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecycleCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/TestHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Several fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

FIxes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/IPTSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/Processors/JournalProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update GovernmentAPISchemaVersion naming
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Soap/Client.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

FIxes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Constants/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/MiddlewareCustomer.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/ftActionJournalFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecycleCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Constants/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/PTFallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/ReceiptRequestValidatorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/ErrorMessages.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further fixes
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/SaftSignatureValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Exports/SAFTPT/AuditFileTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ProtocolCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using aademapping
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEMappingsIncomeClassificationCategoryTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Constants/ErrorMessagesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
  storage/src/fiskaltrust.storage/Models/ftQueuePT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface and clients
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix test launcher
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix signature algorithm
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/TestHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEMappingsIncomeClassificationTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/SignatureItemFactoryGR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Few more fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Helpers/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEMappingsInvoiceTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add backup scu test and fix backup mechanism
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/IATSSCDProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/Helpers/MockClientFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/PosReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/SignProcessorATFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/fiskaltrust.Middleware.Localization.QueueAT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove dead code
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix maxretries null ref ex
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add explanation
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix migration versions
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_003_QueueEU.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_004_SignaturCreationUnitES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_005_JournalES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataAADEValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Validation/MiddlewareValidationError.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Validation/ValidationGR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

REvert
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Removed privat folders
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/SaftSignatureValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
