Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Small refactor of names in code
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated the MigrateAsync method in the DatabaseMigrator.cs class to verify the existence of the ftJournalFRCopyPayload table after all migrations
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added several tests
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ScuBootstrapper.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ScuBootstrapperTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/Usings.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Using cashud
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Adjust Reference znr lookup to get all closings (failed mode) update to chnges
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update const
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored migration initialization to handle multiple migrations
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored instantiation required repositories directly in SQLiteStorageBootstrapper
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added example of Acceptance Test for SQLiteJournalFRCopyPayloadRepository
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Deleted reference and changed BaseStorageBootStrapper to use the repository interface correctly
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed relevant repos to the PersistMigrationDataAsync method
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed comments from BaseStorageBootStrappe class
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed unused parameters from SQLiteStorageBootstrapper class
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed signaturtypes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Using init op
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update SignatureTypesIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

A few fixes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/ReceiptCaseHelper.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Several more improvements
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Changed handling a bit
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ReceiptTypeProcessorFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/DailyClosing0x2011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/MonthlyClosing0x2012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/OneReceipt0x2001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ShiftClosing0x2010.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/YearlyClosing0x2013.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperations/ZeroReceipt0x200.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2B0x1002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2C0x1001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceB2G0x1003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Invoice/InvoiceUnknown0x1000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/FinishSCUSwitch0x4012.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitSCUSwitch0x4011.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/OutOfOperationReceipt0x4002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/InternalUsageMaterialConsumption0x3003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/Order0x3004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/ProtocolAccountingEvent0x3002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/ProtocolTechnicalEvent0x3001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Log/ProtocolUnspecified0x3000.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/ECommerce0x0004.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PaymentTransfer0x0002.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceipt0x0001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/PointOfSaleReceiptWithoutObligation0x0003.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/Protocol0x0005.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Receipt/UnknownReceipt0x0000.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Smaller fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed build errors
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Extensions/ReceiptRequestExtensions.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed tests
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Ignore test for now
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ITSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Aded packages to build
  azure-pipelines/templates/scu-it/build-nuget.template.yml
Due: none

Added rtinfo
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Made a few changes to support v2 interface
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/QueueLogic/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed scu unit
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed build error
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed build issue
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/EpsonSCUTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update rfc
  rfcs/0205-strict-mode.md
Due: none

add swissbit armel support
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/WormLibraryManager.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Upgraded packges to match
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/fiskaltrust.Middleware.SCU.IT.Abstraction.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/fiskaltrust.Middleware.SCU.IT.CustomRTServer.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

So let's get rid of some deadlocks
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/EpsonSCUTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Removed semaphore
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonCommunicationClientV2.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added AbstractCopyPayloadRepositoryTests and SQLiteJournalFRCopyPayloadRepositoryTests classes
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

sandbox
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests nullcheck
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

renaming & new version
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
