Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Update version to full release
  version.json
Due: none

update version command
  .github/workflows/command-version.yml
Due: none

Fixes
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Remove on message
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update scu names
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Update version to 1.3.79-ci.{height}
  version.json
Due: none

Add integrationtests
  scu-be/test/fiskaltrust.Middleware.SCU.BE.IntegrationTest/ZwarteDoosScuBeIntegrationTests.cs
Due: none

Add CloseOpenTSETransactionsOnDailyClosing parameter to QueueDEConfiguration and update DailyClosingReceiptCommand to utilize it
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix flag
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set version to '1.3.79-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

fix queue concurrency
  .github/workflows/queue-build.yml
Due: none

to finally block
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use new interface
  scu-es/Directory.Build.props
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiModels.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix logging
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix config
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Add missing using fiskaltrust.ifPOS.v2.Cases to SpecialTaxMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/SpecialTaxMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added descriptions
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/SpecialTaxMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed tests
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/SpecialTaxHandlingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/SpecialTaxMappingsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor submitting
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Added acceptance tets
  scu-be/fiskaltrust.Middleware.SCU.BE.sln
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/BESSCD/IBESSCD.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Helpers/ProcessResponseHelpers.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Helpers/ReceiptResponseHelpers.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Helpers/SignatureFactory.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/IBESCD.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Monikers.imagemanifest
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ScuBootstrapper.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/fiskaltrust.Middleware.SCU.BE.ZwarteDoos.csproj
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/IBESSCDAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/ZwarteDoosScuAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/fiskaltrust.Middleware.SCU.BE.AcceptanceTests.csproj
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/ZwarteDoosDemo.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/ZwarteDoosScuBeTests.cs
Due: none

Fixed devinceinfo reading
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/BESSCD/IBESSCD.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/GraphQL/GraphQLResponse.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Device/DeviceInfo.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Device/DeviceResponse.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Report/ReportTurnoverZInput.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Shared/BaseInputData.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/ZwarteDoosModels.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ScuBootstrapper.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosApiClientConfiguration.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosApiClientFactory.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosFactory.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuConfiguration.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwartedoosApi/ZwarteDoosApiClient.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwartedoosApi/ZwarteDoosConstants.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/ZwarteDoosScuAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.IntegrationTest/ZwarteDoosScuBeIntegrationTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/TestCertificates/README.md
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/TestData/README.md
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/ZwarteDoosFactoryTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/fiskaltrust.Middleware.SCU.BE.UnitTest.csproj
Due: none

Add GitHub workflows for pull request labeling and issue checks
  .github/labeler.yml
  .github/workflows/add-labels.yml
  .github/workflows/check-issue.yml
  .github/workflows/check-labels.yml
  .github/workflows/remove-no-issue-label.yml
Due: none

tmp change trigger
  .github/workflows/add-labels.yml
  .github/workflows/check-issue.yml
Due: none

fix
  .github/labeler.yml
  .github/workflows/add-labels.yml
  .github/workflows/check-labels.yml
Due: none

update name
  .github/workflows/check-issue.yml
Due: none

fix
  .github/workflows/check-issue.yml
Due: none

correct trigger
  .github/workflows/add-labels.yml
  .github/workflows/check-issue.yml
  .github/workflows/check-labels.yml
  .github/workflows/remove-no-issue-label.yml
Due: none

rename
  .github/workflows/check-linked-issue.yml
Due: none

SUppoert for signatures
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Mappings.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Enums/TransactionLineType.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Enums/VatLabel.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Sale/PaymentLineInput.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Sale/SaleInput.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Shared/BaseInputData.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Shared/ProductInput.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Shared/TransactionInput.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/Models/Shared/TransactionLineInput.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuConfiguration.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/IBESSCDAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/ZwarteDoosScuAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.IntegrationTest/ZwarteDoosScuBeIntegrationTests.cs
Due: none

fix
  .github/workflows/remove-no-issue-label.yml
Due: none

merge label prs
  .github/workflows/add-labels.yml
  .github/workflows/check-labels.yml
Due: none

Fix
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/BESSCD/IBESSCD.cs
Due: none

Fix
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
Due: none

get tag
  .github/workflows/prepare-release.yml
Due: none

REmove companyid
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuConfiguration.cs
Due: none

test 2
  .github/workflows/prepare-release.yml
Due: none
