Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

fix(scu-de/fiskaly): log every TSE state, not only the deleted one
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

corrected the support for invoiceType 8.2
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ClimateResilienceFee82Tests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

changed description
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

more description changes
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ClimateResilienceFee82Tests.cs
Due: none

undo chatgpt nonsense
  .github/workflows/cla.yml
Due: none

fix(scu-it/epson): drop the recovery baseline when the document state is unknown
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/StaleBaselineRecoveryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

resolve scu from client factory
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/DailyOperationsCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/LifecycleCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/ReceiptCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/QueuePLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Helpers/RecordingPLSSCDClientFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Scenarios/PLScenarioTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/ProcessorTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLEndToEndHarness.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/CashBoxBuilderPL.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update Repositories
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/015_Poland.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteQueuePLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteSignaturCreationUnitPLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteConfigurationRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

docs(rfc-712): address review findings on TLS, references, outcomes, retry
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

resolve comments
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/015_Poland.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteSignaturCreationUnitPLRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Move the InMemoryProvider into the fiskaltrust.Middleware.Storage.InMemory project
  queue/src/fiskaltrust.Middleware.Storage.Base/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add SQLiteStorageProvider
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/MasterData/SQLitePosSystemMasterDataRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(queue/v2): eInvoicing and eReporting services around fiscalization (RFC 712)
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/QueueEUBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/QueuePLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/MiddlewareStateData.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/PostFiscalizationStateData.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/Contracts/IEInvoicingService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/Contracts/IEReportingService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/Contracts/ProcessRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/Contracts/ProcessResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/Contracts/ValidateRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/Contracts/ValidateResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationConfigurationException.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationPreflight.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationServiceClient.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationServiceException.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/FakePostFiscalizationService.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/IsFiscalizedTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationConfigurationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationServiceClientTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/SignProcessorPostFiscalizationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Make all v2 localization bootstrappers take a IStorageProvider
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/QueueEUBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/QueuePLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix(queue/v2): attribute finalize failures per service and keep the fiscalization marker
  queue/src/fiskaltrust.Middleware.Localization.v2/PostFiscalization/PostFiscalizationProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update tests
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test(queue): count the PostFiscalizationProcessor registration in PosBootstrapperTests
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix Tests
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLitePosSystemMasterDataRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add missing v2 market tables/repositories for sqlite
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/015_Poland.sqlite3
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteQueuePLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/Configuration/SQLiteSignaturCreationUnitPLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteConfigurationRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(queue): preflight rejections carry the fail state, record the queue-item decision
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Queue/PostFiscalization/PostFiscalizationMapper.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/SignProcessorPostFiscalizationTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/PostFiscalization/PostFiscalizationMapperTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/PostFiscalization/SignProcessorPostFiscalizationTests.cs
  rfcs/712-queue-einvoicing-ereporting.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix scu tests
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLEndToEndHarness.cs
Due: none

feat(queue): eInvoicing only for invoice documents, service-based configuration with fixed endpoints
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/QueueEUBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/QueuePLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.PostFiscalization/KnownPostFiscalizationServices.cs
  queue/src/fiskaltrust.Middleware.PostFiscalization/PostFiscalizationConfiguration.cs
  queue/src/fiskaltrust.Middleware.PostFiscalization/PostFiscalizationProcessor.cs
  queue/src/fiskaltrust.Middleware.PostFiscalization/PostFiscalizationServiceClient.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationConfigurationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationProcessorTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationServiceClientTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/PostFiscalization/SignProcessorPostFiscalizationTests.cs
  rfcs/712-queue-einvoicing-ereporting.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

docs(rfc-712): add IT and DE sample cashbox configurations with the service key
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

feat(queue): known-service endpoints carry the concern segment (…/v2/einvoicing)
  queue/src/fiskaltrust.Middleware.PostFiscalization/KnownPostFiscalizationServices.cs
  queue/src/fiskaltrust.Middleware.PostFiscalization/PostFiscalizationConfiguration.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationConfigurationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationServiceClientTests.cs
  rfcs/712-queue-einvoicing-ereporting.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(queue): add the government-eu service to the known-service catalog
  queue/src/fiskaltrust.Middleware.PostFiscalization/KnownPostFiscalizationServices.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PostFiscalization/PostFiscalizationConfigurationTests.cs
  rfcs/712-queue-einvoicing-ereporting.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(queue): DE invoice allow list for eInvoicing on the legacy stack
  queue/src/fiskaltrust.Middleware.PostFiscalization/PostFiscalizationProcessor.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/PostFiscalization/LegacyInvoiceReceiptCases.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/PostFiscalization/PostFiscalizationMapperTests.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/PostFiscalization/SignProcessorPostFiscalizationTests.cs
  rfcs/712-queue-einvoicing-ereporting.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update Swissbit Android WORM library to SDK v6.0.0-rc1
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/arm64-v8a/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/armeabi-v7a/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/x86/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/x86_64/libWormAPI.so
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add loggerfactory
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Adjust 10.1 and 10.2 to be quantitive documents
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Set version to '1.3.90-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Point the Italian launch profile at its SCU configuration
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Properties/launchSettings.json
Due: none

Handle IT fallback country and preserve error responses
  queue/src/fiskaltrust.Middleware.Queue/ReceiptRequestHelper.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/SignProcessorATFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clarify reasoning
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add IT country fallback regression tests for SignProcessor
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
