Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Use poublic
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Using dedicated fields
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improve data
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueES.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Helpers/ReceiptResponseHelper.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/ReceiptResponseHelperTests.cs
  storage/src/fiskaltrust.storage/Models/ftQueueES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Allow null
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/Models/MiddlewareState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Fix
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Updated series
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Deleted
  scu-es/scripts/Add-XsdPrefix.ps1
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Wrapped up
  queue/src/fiskaltrust.Middleware.Localization.v2/Configuration/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIArabaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIBizkaiaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIGipuzkoaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/VeriFactuAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Fixed build error
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using prod
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

enhance country code validation in SignProcessor and add test coverage
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor SignProcessor to remove fallback country code parameter
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Ignore non spanish tax numbers for the validation step
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/SpainValidationHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add GitHub Actions workflow to enforce all checks on pull requests
  .github/workflows/enforce-all-checks.yml
Due: none

fix triggers
  .github/workflows/enforce-all-checks.yml
  .github/workflows/smoketests.yml
Due: none

fix triggers
  .github/workflows/enforce-all-checks.yml
Due: none

fix
  .github/workflows/enforce-all-checks.yml
Due: none

Support for customers being not from spain
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/Models/MiddlewareCustomer.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/CountryType2Mapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/CountryType2MapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix test names
  .github/workflows/queue-acceptance-tests.yml
  .github/workflows/queue-build.yml
  .github/workflows/scu-at-build.yml
  .github/workflows/scu-be-build.yml
  .github/workflows/scu-de-build.yml
  .github/workflows/scu-es-build.yml
  .github/workflows/scu-it-build.yml
Due: none

fix
  .github/workflows/remove-no-issue-label.yml
Due: none

Return error if we don't find the customercountry
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/CountryType2Mapper.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/CountryType2MapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix
  .github/workflows/check-labels.yml
  .github/workflows/remove-no-issue-label.yml
Due: none

update cla assistant
  .github/workflows/cla.yml
Due: none

fix double checks
  .github/workflows/queue-acceptance-tests.yml
  .github/workflows/queue-build.yml
  .github/workflows/scu-at-build.yml
  .github/workflows/scu-be-build.yml
  .github/workflows/scu-de-build.yml
  .github/workflows/scu-es-build.yml
  .github/workflows/scu-it-build.yml
Due: none

fix
  .github/workflows/queue-acceptance-tests.yml
  .github/workflows/queue-build.yml
  .github/workflows/scu-at-build.yml
  .github/workflows/scu-be-build.yml
  .github/workflows/scu-de-build.yml
  .github/workflows/scu-es-build.yml
  .github/workflows/scu-it-build.yml
Due: none

Support for foreign customers
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/SpainValidationHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/ReceiptRequestHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ESScuAcceptanceTestBase.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Some review suggestions to be squashed later. and some misc refactors.
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/BEFallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/DailyOperationsCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ReceiptCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/ErrorMessagesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ChargeItemCaseNatureOfVatGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ReceiptCaseFlagsGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/SignatureTypeGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/ReceiptCaseFlagsGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/IQueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ParitalRefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/ReceiptCases/ReceiptCases_0x0002_PaymentTransfer_Scenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RefundScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/VoidScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/ChargeItemCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignatureTypeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/InvoiceCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ReceiptCommandProcessorBE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix country code validation v2
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

enhance country code handling in queue processing and refactor tagging validation v1
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Queue/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor SignProcessor to simplify country code validation and remove unused fallback logic
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor SignProcessor v2
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix unit tests v1
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactorings
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/BEFallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/DailyOperationsCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/InvoiceCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/LifecycleCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ProtocolCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ReceiptCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Helpers/Result.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/FallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/Result.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/IQueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

set processing version
  queue/src/fiskaltrust.Middleware.Localization.v2/Configuration/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

implement be and gr storages
  queue/src/fiskaltrust.Middleware.Contracts/Models/StorageBaseInitConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/AzureStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueBERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueGRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageSignaturCreationUnitBERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageSignaturCreationUnitGRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueBE.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueGR.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtSignaturCreationUnitBE.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtSignaturCreationUnitGR.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemoryQueueBERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemoryQueueGRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemorySignaturCreationUnitBERepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemorySignaturCreationUnitGRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteConfigurationRepository.cs
  storage/src/fiskaltrust.storage/Repositories/IConfigurationRepository.cs
  storage/src/fiskaltrust.storage/Repositories/IReadOnlyConfigurationRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryConfigurationRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest/InMemoryConfigurationRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix state
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
