Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Update queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add if not extist to index creation
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/008_Indices.sqlite3
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

set commandtimeout in migrator
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

exclude non pos receipt from receipt references
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add sqlite json parsing
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/Fixtures/StorageTestFixtureProvider.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add json reqeiptrequest parsing
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add runAcceptanceTests override to pipeline
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

fix mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove double lock
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/Interop/SwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/SwissbitBase.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update ef
  queue/src/fiskaltrust.Middleware.Storage.Base/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Helpers/JsonHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Helpers/JsonHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

tests
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test failure
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTestResults.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove efcore json helper
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Helpers/JsonHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "remove efcore json helper"
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Helpers/JsonHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use client side filtering
  queue/src/fiskaltrust.Middleware.Storage.EF/Helpers/JsonHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Helpers/JsonHelper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/fiskaltrust.Middleware.SCU.DE.CryptoVision.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/fiskaltrust.Middleware.SCU.DE.Epson.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/fiskaltrust.Middleware.SCU.DE.InMemory.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.StaticLib/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.StaticLib.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/fiskaltrust.Middleware.SCU.DE.SwissbitBase.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.TestLauncher/fiskaltrust.Middleware.SCU.DE.TestLauncher.csproj
  scu-de/test/Directory.Build.props
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
  scu-me/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Temporary fall back to 32-bit Swissbit SDK
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/FunctionPointerFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Removed unused dlerror method
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/LinuxNativeLibrary.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added transitive dependency
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fully specify native system libs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/LinuxNativeLibrary.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixed case-sensitive path
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Throw exception on unsupported CPU arch
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/FunctionPointerFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix build
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/InMemorySCU.cs
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/ScuBootstrapper.cs
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/InMemorySCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix case
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/fiskaltrust.Middleware.SCU.DE.CryptoVision.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/fiskaltrust.Middleware.SCU.DE.Epson.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/fiskaltrust.Middleware.SCU.DE.InMemory.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.DynamicLib.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.StaticLib/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.StaticLib.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop/fiskaltrust.Middleware.SCU.DE.Swissbit.Interop.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/fiskaltrust.Middleware.SCU.DE.SwissbitBase.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.TestLauncher/fiskaltrust.Middleware.SCU.DE.TestLauncher.csproj
  scu-de/test/Directory.Build.props
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/fiskaltrust.Middleware.SCU.ME.InMemory.csproj
  scu-me/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

update case
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix query
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update storage
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated migrations and journal
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/006_InitME.mysql
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/009_QueueME.sqlite3
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Adjusted to storage release package
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/Mapping/Mapper.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/TableEntities/AzureFtJournalME.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/TableEntities/Configuration/AzureFtSignaturCreationUnitME.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/TestHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/PosReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/ZeroReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added migrations to cleanup MNE
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202209270855597_MECleanup.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202209270855597_MECleanup.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/202209270855597_MECleanup.resx
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20220927085417_MECleanup.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/20220927085417_MECleanup.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/Migrations/PostgreSQLMiddlewareDbContextModelSnapshot.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/Migrations/20220927085435_MECleanup.Designer.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/Migrations/20220927085435_MECleanup.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Some cleanups
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/FunctionPointerFactory.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/INativeFunctionPointerFactory.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/ISwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/SwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/WormLibraryManager.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixed tests
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Exceptions/SwissbitExceptionHelper.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.IntegrationTest/SwissbitProxyTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.IntegrationTest/SwissbitSCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.InteropDynamicLibTest/FunctionPointerFactoryTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.InteropDynamicLibTest/fiskaltrust.Middleware.SCU.DE.Swissbit.InteropDynamicLibTest.csproj
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.InteropStaticLibTest/FunctionPointerFactoryTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.Swissbit.InteropStaticLibTest/fiskaltrust.Middleware.SCU.DE.Swissbit.InteropStaticLibTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added missing targets file
  .gitignore
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/build/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.targets
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Build with VS
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
