Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

fix(scu-it/epson): redeem a multi-use voucher charge item as sconto a pagare (#514)
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_CashWithMultiUseVoucherRedeem_AsChargeItem.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/MultiUseVoucherRedeemTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

refactor(scu-it/epson): name the voucher department and payment type instead of literals
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

feat(pl): drive the POSNET printer over its USB/COM port
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetConfiguration.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetDeviceAddress.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/ScuBootstrapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetSerialSettings.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetTransportFactory.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/ResponseFrameBuffer.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/SerialPosNetTransport.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/TcpPosNetTransport.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/fiskaltrust.Middleware.SCU.PL.PosNet.csproj
  scu-pl/test/Manual/fiskaltrust.Middleware.SCU.PL.Test.Launcher/Program.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetConfigurationTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/ResponseFrameBufferTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/ScuBootstrapperTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/SerialPosNetTransportTests.cs
Due: none

refactor(pl): resolve every rabat before the first storno is resolved
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetModifier.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/MappingFixture.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetDiscountMappingTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReversalMappingTests.cs
Due: none

test(pl): shared test support with a device model, a read-back probe and the fiscal footprint
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/EmulatorOnlyFactAttribute.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceModelTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceProbeTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/Cassette.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/CommandTranscript.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinterEmulatorTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/TestProject.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/fiskaltrust.Middleware.SCU.PL.AcceptanceTest.csproj
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/AssumeFiscalizedPLSSCD.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetDeviceModel.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetArithmetic.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/Cassette.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/CommandTranscript.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/PosNetFrameReader.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/PosNetPayload.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/PosNetTestTarget.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/RecordingPosNetTransport.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/DeviceReadings.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/FiscalDocumentNumber.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/FiscalFootprint.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/PosNetDeviceProbe.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/fiskaltrust.Middleware.SCU.PL.TestSupport.csproj
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/CashBoxBuilderPL.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/fiskaltrust.Middleware.Test.Launcher.v2.csproj
Due: none

test(pl): end-to-end acceptance suite from JSON through QueuePL and the PosNet SCU to the register
  .github/workflows/scu-pl-build.yml
  scu-pl/fiskaltrust.Middleware.SCU.PL.sln
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestDailyOperations_DailyClosing/daily-closing.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestDailyOperations_MonthlyClosing/monthly-closing.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestLifecycle_InitialOperation/initial-operation.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestLifecycle_OutOfOperation/out-of-operation.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_CardSaleReceipt/card-sale.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_CardSaleWithChange/card-sale-with-change.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_CashSaleReceipt/cash-sale.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_DiscountReceipt/discount-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_MarkupReceipt/markup-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_NipReceipt/nip-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_ReturnReceipt/return.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_StornoOfDiscountedReceipt/storno-of-discounted-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_StornoReceipt/storno-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestReceipt_ZeroReceipt/zero-receipt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLBusinessCaseTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLEndToEndHarness.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/README.md
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/TestProject.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest.csproj
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/.gitignore
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/MiddlewareHost.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
Due: none

feat(pl): read the PTU table off the register, print goods returns and the daily report
  .github/workflows/queue-acceptance-tests.yml
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/SignatureTypePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetConfiguration.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetRateTable.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReturnMapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceModelTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLBusinessCaseTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetDeviceModel.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/PosNetTestTarget.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Verification/DeviceReadings.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetRateTableTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReturnMapperTests.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
Due: none

test(pl): cassettes recorded on the fiscalized, authorized printer over USB
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/CardSaleWithChange_SettlesLikeTheSpecExample.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/CashSale_LeavesExactlyItsFootprintOnTheRegister.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/CashSale_RunsTheFullTransaction_AndReturnsTheFiscalDocumentNumber.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/ConsecutiveSales_ReuseTheConnection_AndNumberDocumentsSequentially.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/DailyClosing_AfterASale_PrintsTheDailyReport_AndReportsItsNumber.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/DiscountSale_GrantsTheLineRabatOnTheLine_AndTheSubtotalRabatAfterIt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/GetInfo_ReadsTheRegisterStateWithASingleStatusCommand.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/MarkupSale_GrantsTheNarzutOnTheLine_AndOnTheSubtotal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/NipReceipt_PrintsTheBuyersNip.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/Return_PrintsTheGoodsReturn_AndReportsNoFiscalDocumentNumber.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoOfDiscountedSale_CarriesTheRabatOnTheReversal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoOfDiscountedSale_LeavesTheValueOfWhatIsLeft.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoSale_ReversesThePositionItNames_AndSettlesWithWhatIsLeft.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetDeviceModelTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/CardSaleReceipt_PaysByCard.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/CardSaleWithChange_SettlesLikeTheSpecExample.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/CashSaleReceipt_IsPrinted_AndLeavesItsFootprint.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/ConsecutiveSales_NumberTheDocumentsSequentially.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/DailyClosing_PrintsTheDailyReport_AndStartsTheDayOver.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/DiscountReceipt_GrantsTheLineRabat_AndTheSubtotalRabat.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/InitialOperation_ActivatesTheQueue_AgainstTheRegister.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/MarkupReceipt_GrantsTheLineNarzut_AndTheSubtotalNarzut.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/MonthlyClosing_IsStoredUnsigned_UntilTheScuSupportsPeriodicReports.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/NipReceipt_PrintsTheBuyersNip.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/ReturnReceipt_PrintsTheGoodsReturn_AndLeavesTheTotalizersAlone.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/StornoOfDiscountedReceipt_CarriesTheRabatOnTheReversal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/StornoReceipt_ReversesThePositionItNames.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/Cassettes/ZeroReceipt_OnlyReadsTheRegisterStatus.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetDeviceModel.cs
Due: none

chore(pl): script to read the printer's authorization state and enter a dealer code
  scu-pl/test/Manual/posnet-auth.ps1
Due: none

Extend PartyTypeOverride
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/PartyTypeOverride.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

fix(pl): tie every POSNET answer to the command it answers
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Exceptions/PLSSCDExceptions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Client/PosNetClient.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetConfiguration.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetSerialSettings.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetTransportFactory.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/SerialPosNetTransport.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/TcpPosNetTransport.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetClientTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetConfigurationTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/SerialPosNetTransportTests.cs
Due: none

fix(pl): a storno reverses a quantity of the position it names
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetRateTable.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/MappingFixture.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReversalMappingTests.cs
Due: none

fix(pl): close the register's day, not the host's
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/PLReceiptCases.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.InMemory/InMemorySCU.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinterEmulatorTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetDeviceModel.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/PosNetPrinter/PosNetTestTarget.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
Due: none

test(pl): resolve a business case's placeholders in one place
  .github/workflows/queue-acceptance-tests.yml
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/BusinessCases/SignRequestDailyOperations_DailyClosing/daily-closing.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.EndToEnd.AcceptanceTest/PLEndToEndHarness.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/BusinessCaseSample.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/MiddlewareHost.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
Due: none

docs(pl): a reader's entry point to the Polish market
  scu-pl/README.md
Due: none

test(scu-pl): cassette-replay sale has no sfsk read (table comes from configuration)
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
Due: none

docs(rfc-712): add end-to-end sequence diagram for post-fiscalization processing
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

docs(rfc-712): add legacy-stack backport section for DE, AT and FR
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

docs(rfc-712): switch to a two-phase preflight/finalize design
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

fix(scu-it/epson): print grouped children as items when the group has no head
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/MultiUseVoucherRedeemTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

style(scu-it/epson): const departments and explicit nature-bits comment
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(scu-it/epson): pay the rest in cash when a voucher redeem comes without pay items
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/MultiUseVoucherRedeemTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

feat(scu-fr): NF525 signature creation units for France (Infocert and LNE)
  .github/workflows/scu-fr-build.yml
  scu-fr/Directory.Build.props
  scu-fr/fiskaltrust.Middleware.SCU.FR.sln
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Cases/SignatureTypeFR.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Cases/StateFR.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/FRSSCDInfo.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/IFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/ProcessRequest.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Exceptions/FRSSCDExceptions.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Helpers/FRReceiptResponseExtensions.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Helpers/FRStateMapper.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/fiskaltrust.Middleware.SCU.FR.Abstraction.csproj
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InMemory/InMemorySCU.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InMemory/fiskaltrust.Middleware.SCU.FR.InMemory.csproj
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/InfoCertConfiguration.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/InfoCertFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Models/InfoCertScuInfo.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/ScuBootstrapper.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertJwsSigner.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertReceiptPayload.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertTotals.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/fiskaltrust.Middleware.SCU.FR.InfoCert.csproj
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/LneConfiguration.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/LneFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Models/LneScuInfo.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/ScuBootstrapper.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneDataSetBuilder.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneSignatureCreator.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/fiskaltrust.Middleware.SCU.FR.LNE.csproj
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/FRTestData.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/InMemorySCUTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/InfoCert/InfoCertFRSSCDTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/LNE/LneFRSSCDTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/fiskaltrust.Middleware.SCU.FR.UnitTest.csproj
Due: none

ci: label the new French paths as market-fr
  .github/labeler.yml
Due: none

fix(fr): address Codex review on lifecycle, closing totals and key curve
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRChainState.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRPeriodTotalsAccumulator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRTotalsCalculator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Models/Cases/SignatureTypeFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/FRSigningPipeline.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/JournalProcessorFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/LifecycleCommandProcessorFR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.AcceptanceTest/Scenarios/FRScenarioTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/FakeFRSSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/PeriodTotalsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/ProcessorTests.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/FRPeriodTotals.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/ProcessRequest.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InMemory/InMemorySCU.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/InfoCertFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertJwsSigner.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertReceiptPayload.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/LneFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneDataSetBuilder.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneSignatureCreator.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/InfoCert/InfoCertFRSSCDTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/LNE/LneFRSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(fr): expose ftTypeOfService (S/B/M) in the QueueFR.v2 response
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRTypeOfServiceCalculator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Models/MiddlewareStateDataFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/FRFallBackOperations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/FRSigningPipeline.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/FakeFRSSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/TypeOfServiceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set Portuguese software certificate number to 3535
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Factories/PortugalReceiptCalculationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Keep placeholder certificate number 9999 in the sandbox
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Factories/PortugalReceiptCalculationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Pass sandbox flag into static SAF-T header builder
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(scu-it): read the codice fiscale from cbCustomer.CustomerTaxId
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Customer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Validation/CustomerTaxIdValidation.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Validation/ItalyValidationHelpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/IntegrationTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/CustomerTaxIdDirectIOTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/CustomerTaxIdValidationTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/ItalyValidationHelpersTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(scu-it/epson): decide from the printer's answer, never from its silence
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(scu-it/epson): give the recovery's status query its own short deadline
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/IEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/DailyClosingRebootTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReprintSerialNumberTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(scu-de/fiskaly): handle new TSE states and log unknown ones
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/Extensions.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/FiskalyTseState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

feat(scu-pl): printout customization via ftReceiptCaseData.PL.printout
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/SignatureTypePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetPrintout.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.TestSupport/Emulator/PosNetDeviceModel.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPrintoutMappingTests.cs
Due: none

refactor(scu-pl): e-receipt customer id moves to ftReceiptCaseData.PL.eReceipt.customerId
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PLReceiptCaseDataReader.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetPrintout.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReceiptMapperTests.cs
Due: none

test(scu-it/epson): cover the recovery verdicts here, and pin its assumptions
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/RecoveryVerdictTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

docs(rfc-712): resolve open questions from author review
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

docs(rfc-712): decide legacy finalize failures, fix the v1 SignProcessor
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

fix(scu-de/fiskaly): report deleted TSE as Terminated instead of throwing
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
