Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Fix comments PR
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

rmoving not used method
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support for sending tips
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptRequestExtensions.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsIncomeClassificationCategoryTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GetGroupedPayItemsTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GetPaymentsTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataXmlSignatureTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SendPaymentsMethodTests.cs
Due: none

feat: add validation configuration and enhance receipt processing with validation signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Configuration/ValidationConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test: add unit tests for ReceiptProcessor validation logic
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/ReceiptProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

rename ReceiptProcessorTests to ReceiptProcessorValidationTests
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/ReceiptProcessorValidationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: simplify validation error handling and remove redundant severity logging in ReceiptProcessor
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: enhance validation messages with detailed help
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Customer/CustomerRequiredForInvoice.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Request/Currency.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Testlauncher help for Url registration
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Setup-UrlReservations.ps1
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Wcf/RestService.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Wcf/WCFService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: remove `ValidationHelp` usage across validation rules and ReceiptProcessor
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Customer/CustomerRequiredForInvoice.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Atoms/Request/Currency.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add first stub for the PDF envoice refactor httpclient pool
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureTypesIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/IPdfReceiptClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/GetPdfResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/PdfReceiptClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/ScuBootstrapper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-it/test/TestLauncher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Update queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Apply suggestion from @volllly
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix: add SupportedChargeItemCases and fix ZeroVatNature in ES FV to match old validator behavior
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix: exclude delivery notes from global Amount check and align ES/PT FV with old validator
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Forward GR ECommerce receipts to SCU, require invoiceType override
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Make GR ECommerce a no-op in SCU when invoiceType override is missing
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Add new sandbox
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/IPdfReceiptClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/PdfReceiptClient.cs
  scu-it/test/TestLauncher/Program.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/Config.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix: update Portuguese VAT ID validation to skip for foreign customers and add tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/cbCustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/CustomerValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/CustomerValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix: update ChargeItem validation to include additional VAT nature check
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix: remove delivery note check from ChargeItem validation
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove test for zero amount validation
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/Rules/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

The rule with otherserivce amount applies only to posreceipt
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

We don't need to round quantity
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Filter InternalMaterialConsumption pay items from myDATA submission
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsGetPaymentTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GetPaymentsTests.cs
Due: none

add to workflow
  .github/workflows/scu-de-package.yml
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/.nuspec
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/fiskaltrust.Middleware.SCU.DE.SwissbitV2.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Allow overrides for row
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceRowType.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

FIxes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptRequestExtensions.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GetGroupedByPositionTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxHandlingTests.cs
Due: none

Mark vatable special tax lines with recType=2
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxHandlingTests.cs
Due: none

Support header & row field overrides in AADEFactory
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceRowType.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Allow correlating GR myDATA receipts to foreign AADE invoices by MARK
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/CaseDataPayloads.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/PreviousReceiptReferenceTests.cs
Due: none

GR myDATA: honor ChargeItem Unit/UnitQuantity with fallbacks (#182)
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Apply UnitQuantity to row.quantity instead of otherMeasurementUnitQuantity
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Always emit positive quantity for the UnitQuantity override
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Move PreviousReceiptReference under GR and pin precedence over mydataoverride
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/CaseDataPayloads.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/PreviousReceiptReferenceTests.cs
Due: none

Fill mandatory otherMeasurementUnitQuantity for measurementUnit=7
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Resolve B2B refund Item51/Item52 selection for external MARK (Codex P1)
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsInvoiceTypeTests.cs
Due: none

Treat mydataoverride correlations as a third Item51 trigger
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsInvoiceTypeTests.cs
Due: none
