Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Added missing overrides to German Azure Table Storage repos
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageFailedFinishTransactionRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageFailedStartTransactionRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/DE/AzureTableStorageOpenTransactionRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update es signatures with position flags
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/VeriFactuSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/Cases/SignatureTypesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureFormatFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureType.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignatureFormatTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix qrcode caption
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update qrcode format
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/VeriFactuSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add gipuzkoa
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureTypeFlags.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/Certificates/.gitignore
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix ticketbai null ref ex
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/FullTest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Gipuzkoa.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

add messages onto receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update notice messages
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Smaller fixes for PT
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/QueueGR/AADECertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor EpsonRTPrinterSCU for better modularity and testing
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/IEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/PrinterReceiptReceiptInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/PrinterReceiptResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/SoapSerializer.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Remove lines
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Reloading serialnr
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Smaller fixes for error handling
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed error handling
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/ErrorInfoFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed error
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/ErrorInfoFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Removed printout parts unnecessary for non-fiscal receipt layout
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added warning for printer status not OK
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Add scoped service registration for IEpsonFpMateClient
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/ScuBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

added the local flag to enable the printing
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add Request to FailedFinishTransaction
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Migrations/014_FailedFinishTransactionRequest.sqlite3
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor and enhance receipt handling and command creation
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptResponseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonPrinterDepartmentConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Removed table
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

catch only specific exception
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added unit tests to confirm wrong behavior
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ProtocolCommandProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ReceiptCommandProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

consider language
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed lookup Added more tests
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/MiddlewareStorageHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/MiddlewareStorageHelpersTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ReceiptCommandProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added more tests
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ReceiptCommandProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Handle null/empty cbTerminalID in LoadReceiptReferencesToResponse
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/MiddlewareStorageHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/MiddlewareStorageHelpersTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ProtocolCommandProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ReceiptCommandProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor method calls to use destructured variables
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed test
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/MiddlewareStorageHelpersTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ProtocolCommandProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ReceiptCommandProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using old logic
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/MiddlewareStorageHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Prepare release
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

adjust receipts cases
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

seperate isini and is download
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

write actionJournal on log
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/ProtocolTechnicalEventLogCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

throw exception
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

This change fixes a problem that occurred when a receipt failed to be sent, was resent and then a Nachdruck was made. In this case we weren't able to reload the data #396
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/MiddlewareStorageHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/MiddlewareStorageHelpersTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

merge actions into main
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/actions/sign/action.yml
  .github/actions/test/action.yml
  .github/workflows/package-command.yml
  .github/workflows/queue-acceptance-tests.yml
  .github/workflows/queue-build.yml
  .github/workflows/queue-package.yml
  .github/workflows/run-command.yml
  .github/workflows/slash-commands.yml
Due: none

fix action reactions
  .github/workflows/package-command.yml
  .github/workflows/run-command.yml
Due: none
