Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

add test
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add option for .net 5 launcher 2.0
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Set version to '1.3.82-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Change branches-ignore syntax to array format
  .github/workflows/manual-merging.yml
Due: none

Change pull_request to pull_request_target in workflow
  .github/workflows/enforce-all-checks.yml
Due: none

fix cla bot
  .github/workflows/cla.yml
Due: none

feat: add unit tests for user, customer, and charge item validations
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Validation/PortugalValidationRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/E2E/ErrorMessagesE2ETests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Integration/ReceiptProcessorValidationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/PayItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/UserValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Solved conflicts
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

Update version to full release
  version.json
Due: none

add client reg flag to zero receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json from main before merge
  version.json
Due: none

fix ci
  .github/workflows/enforce-all-checks.yml
  .github/workflows/manual-merging.yml
  .github/workflows/slash-commands.yml
Due: none

fix test
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Logic/RefundVoidCustomerValidationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: remove comments for sync and async validation rules in ReceiptValidations
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

change to config param
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  .github/workflows/enforce-all-checks.yml
  .github/workflows/manual-merging.yml
Due: none

update readme
  .github/workflows/README.md
Due: none

remove release docs
  .github/workflows/README.md
  RELEASE.md
Due: none

Update README to remove release process reference
  .github/workflows/README.md
Due: none

Fix-116--CancelInvoice
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
Due: none

Create 0000-v2-failed-mode.md
  rfcs/0000-v2-failed-mode.md
Due: none

add rfc number
  rfcs/0630-v2-failed-mode.md
Due: none

add failure mode combinations and flesh out the functionality.
  rfcs/0630-v2-failed-mode.md
Due: none

Reboot command
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Reset command
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

GetNextReceipt
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix 115 Plastic bag update to include vat
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SpecialTaxMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxHandlingTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxMappingsTests.cs
Due: none

Cancel Delivery note fix
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelDeliveryNoteValidationTests.cs
Due: none

solved conflict
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

wrong test
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

feat: enhance validation rules with country consistency checks and single reference enforcement
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add constructor overload for ReceiptProcessor to support additional command processors
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add nullability check for MarketValidator in ReceiptProcessor
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add unit tests for country consistency and single reference validation rules
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Made tableAA Mandatory for 8.6 + added test for this
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
Due: none

made tableAA mandatory for 8.6
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Add test for missing tableAA in RestaurantOrderVoid
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
Due: none

restore
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
