Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

update
  .github/workflows/scu-de-build.yml
Due: none

Create matrix strategy for integration tests
  .github/workflows/scu-de-build.yml
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update matrix
  .github/workflows/scu-de-build.yml
Due: none

update pattern
  .github/workflows/scu-de-build.yml
Due: none

update environment variables
  .github/workflows/scu-de-build.yml
Due: none

Test
  .github/workflows/scu-de-build.yml
Due: none

add dependency
  .github/workflows/scu-de-build.yml
Due: none

Upload and download build files
  .github/workflows/scu-de-build.yml
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

do check out in integration tests
  .github/workflows/scu-de-build.yml
Due: none

add csproj
  .github/workflows/scu-de-build.yml
Due: none

update tests
  .github/workflows/scu-de-build.yml
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Test
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

updaet yaml
  .github/workflows/scu-de-build.yml
Due: none

Update tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/HttpClientWrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove extra test
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update yaml
  .github/workflows/scu-de-build.yml
Due: none

clean up
  .github/workflows/scu-de-build.yml
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove manual versioning
  storage/Directory.Build.props
Due: none

update
  storage/Directory.Build.props
Due: none

Update scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update version
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update storage version
  storage/Directory.Build.props
Due: none

update System.Linq.Async to last version
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/fiskaltrust.Middleware.Localization.QueueFR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added AustriaCard identification value to CardService
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardServiceFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Revert "clean up"
  .github/workflows/scu-de-build.yml
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update linq version
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/fiskaltrust.Middleware.Localization.QueueFR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "update linq version"
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/fiskaltrust.Middleware.Localization.QueueFR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "update System.Linq.Async to last version"
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/fiskaltrust.Middleware.Localization.QueueFR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/fiskaltrust.Middleware.Storage.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed signature order
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further smaller fixes and improvements for QueuePT
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/PaymentDocumentModels/PaymentMethod.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/Constants.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/IssueResponse.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationExamples.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/SaftSignatureValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/TestHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/PTVATRates.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/ReceiptRequestValidatorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/SAFTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/fiskaltrust.Middleware.sln
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Helpers/IssueResponse.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Helpers/PTVATRates.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Helpers/TestHelpers.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationTestCasesPhase1.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PT_Phase2_CertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/TestRunner.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
