Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Accept exempt natures in QueueES zero-VAT validation; defer the code to the SCU
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ESLegacyZeroVatNatureTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json from main before merge
  version.json
Due: none

reference SQLitePCLRaw.lib.e_sqlite3 package conditionally
  queue/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

parse certificate, remove additional info
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add DSFinVK-Export.json and update smoketests
  .github/scripts/requests-v2/DSFinVK-Export.json
  .github/workflows/smoketests.yml
Due: none

open command
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix key parsing
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

try another way
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fix signature encoding in inmemory scu
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/InMemoryTSE.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.InMemory.UnitTest/InMemorySCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

enable Initial-operation-receipt
  .github/scripts/requests-v2/Receipt-Journal-Export.json
  .github/scripts/template-v2.json
  .github/workflows/smoketests.yml
Due: none

enable Initial-operation-receipt
  .github/scripts/template-v2.json
  .github/workflows/smoketests.yml
Due: none

Fix JSON structure in Receipt-Journal-Export.json
  .github/scripts/requests-v2/Receipt-Journal-Export.json
Due: none

missing transmission failure 2 in case of 5xx
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataSCU_TransmissionFailure2_Tests.cs
Due: none

Test with Empty Data
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/InMemoryTSE.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Test Array.Empty<byte>()
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/InMemoryTSE.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Ignore rule
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Key ES nature-of-VAT mapping on the spec NN byte, not the wrong interface enum
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ChargeItemCaseNatureOfVatES.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/TicketBaiNatureOfVatMapping.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/ChargeItemCaseNatureOfVatES.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/VeriFactuMapping.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/README.md
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryReferenceComparisonAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryXmlAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/VeriFactuMappingXmlAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiNatureOfVatMappingTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/VeriFactuMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

VeriFactu: omit TipoImpositivo/CuotaRepercutida on exempt & not-subject lines
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/VeriFactuMapping.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/excluded-third-party-NN80.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/exempt-article20-mainland.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/export-article21-mainland.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/foreign-tax-applies-NN60.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/non-subject-art7and14.xml
  scu-es/tools/.gitignore
  scu-es/tools/verify-tbai-sandbox.mjs
  scu-es/tools/verify-verifactu-sandbox.mjs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix missing publickey and timestampformat
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/InMemorySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/InMemoryTSE.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

test publickey and timestamp format
  scu-de/test/fiskaltrust.Middleware.SCU.DE.InMemory.UnitTest/InMemorySCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version in template-v2.json to latest
  .github/scripts/template-v2.json
Due: none

test 1
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove onmessage feature
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove onMessage property
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

docs: add RFC for SQLCipher secure-element storage
  rfcs/sqlcipher-secure-element-storage.md
Due: none

docs: rename RFC to PR number
  rfcs/689-sqlcipher-secure-element-storage.md
Due: none

update ci triggers
  .github/workflows/check-labels.yml
  .github/workflows/enforce-all-checks.yml
Due: none

Update smoke tests
  .github/workflows/smoketests.yml
Due: none

Apply suggestion from @LeilaZarban
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor smoke tests to use environment variable for FT_SMOKETESTS_PASSWORD
  .github/workflows/smoketests.yml
Due: none

test pass
  .github/workflows/smoketests.yml
Due: none

test hard pass
  .github/workflows/smoketests.yml
Due: none

test pass variable
  .github/workflows/smoketests.yml
Due: none

test 3
  .github/workflows/smoketests.yml
Due: none

test 4
  .github/workflows/smoketests.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
