Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

improve country code handling in queue v1
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

implement number series and ftreceiptidintification
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/ES/CashBoxBuilderES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix cashboxidentification
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

move numseries out of ftstate
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/MiddlewareStateDataES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Helpers/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/VeriFactuMapping.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

enhance unit tests for queue processing
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Merge main
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaTerritory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

REmoved md files
  queue/COMBINED_VALIDATION.md
  queue/ONE_SIGNATURE_PER_ERROR.md
  queue/RECEIPT_MOMENT_ORDER_VALIDATION.md
  queue/USER_DISPLAY_NAME_VALIDATION.md
  queue/VALIDATION_REFACTORING_SUMMARY.md
  queue/VALIDATION_SIGNATURE_REFACTORING.md
  queue/VALIDATION_USAGE_EXAMPLES.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

enhance country code handling in queue processing
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added acceptance tests + CRC check
  scu-es/fiskaltrust.Middleware.SCU.ES.sln
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/CRC8Calculator.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ESScuAcceptanceTestBase.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ReceiptExamples/ReceiptExamples.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIArabaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIBizkaiaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIGipuzkoaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/VeriFactuAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/fiskaltrust.Middleware.SCU.ES.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

enhance code handling with tagging version
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

enhance handling with tagging version validation in v1
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improvements
  scu-es/scripts/Add-XsdPrefix.ps1
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/Anula_ticketBaiV1-2-1.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/Anula_ticketBaiV1-2-2.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/README.md
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/TicketBaiResponse.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiResponse.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-1.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-2.xsd
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ESScuAcceptanceTestBase.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ReceiptExamples/ReceiptExamples.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIArabaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/fiskaltrust.Middleware.SCU.ES.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Improvements
  scu-es/scripts/Add-XsdPrefix.ps1
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/Anula_ticketBaiV1-2-2.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiResponse.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-2.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-2.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/xmldsig-core-schema.xsd
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

SUpport for invoices with customers
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/MiddlewareCustomer.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ReceiptRequestHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Territories/ITicketBaiTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/Anula_ticketBaiV1-2-2.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiResponse.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiResponse.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-2.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-2.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaTerritory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Fix
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Update
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiDemo.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

added test
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ESScuAcceptanceTestBase.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Smaller improvements to the description
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Support for FT types
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Handle non-Spanish customers in TicketBai requests
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Fix
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Fixed error
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Added validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Supper for validatsions
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Helpers/Result.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Helpers/XmlHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/ErrorMessagesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/DailyOperationsCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidationContext.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/RefundValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/ReceiptRequestValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/SpainValidationHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ValidationResult.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ValidationResultCollection.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/VoidValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/InvoiceCommandProcessorESTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIBizkaiaAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Imporved validations
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/ErrorMessagesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/SpainValidationHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build error
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

enhance queue item reservation with country code validation and error handling
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  scu-es/fiskaltrust.Middleware.SCU.ES.sln
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/Models/MiddlewareCustomer.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/ReceiptRequestHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/ReceiptResponseHelper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/XmlHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.Common/fiskaltrust.Middleware.SCU.ES.Common.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Factories/SignaturItemFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/XmlHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Models/SignatureType.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Models/TicketBaiRequest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Territories/ITicketBaiTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCUConfiguration.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Soap/Client.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/ESScuAcceptanceTestBase.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBAIBizkaiaAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiDemo.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Fixes
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Require VAT AMount to be specified
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/ErrorMessagesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Require cbcustomer
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/ErrorMessagesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Formally validte nif
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/SpainValidationHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Allow zero state
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/MiddlewareStateDataES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor v2
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Ignore when null
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/MiddlewareStateData.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

refactor v1
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

enhance unit tests
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

enhance country code validation and fallback handling in queue processing
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
