Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

FIxed payment transfer
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

revert
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/InvoiceLine.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/SubmitInvoiceRequest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/SubmitResponse.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

remove moved extensions
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ChargeItemCase.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ChargeItemCaseFlagsExt.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ChargeItemCaseTypeOfService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/PayItemCase.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/PayItemCaseFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ReceiptCase.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ReceiptCaseFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/ReceiptCaseType.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureFormat.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureFormatFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureType.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureTypeCategory.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/SignatureTypeFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/State.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Models/ifPOS/v2/Cases/StateFlags.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ChargeItemExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Storage.EFCore/fiskaltrust.Middleware.Storage.EFCore.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Dailyclosing incl Tar-Export on ooo-receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface version
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update to grouped cbreceiptreferences
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Parse lottery data
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Customer.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Additional structure fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePTBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added yearly and monthly
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Perform daily closing
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed receiptcasehelper
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Rename property 'codice_lotto' to 'codicelotteria' in servizi_lotteriadegliscontrini_gov_it class
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/Customer.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

no daily
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using excluding vat for type 8
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update rfcs/0441-release-lifecycle.md
  rfcs/0441-release-lifecycle.md
Due: none

Update 0441-release-lifecycle.md
  rfcs/0441-release-lifecycle.md
Due: none

Rename 0000-release-lifecycle-ui-mockup.svg to 0441-release-lifecycle-ui-mockup.svg
  rfcs/assets/0441-release-lifecycle-ui-mockup.svg
Due: none

Rename 0000-release-lifecycle-ui-mockup.tldr to 0441-release-lifecycle-ui-mockup.tldr
  rfcs/assets/0000-release-lifecycle-ui-mockup.tldr
  rfcs/assets/0441-release-lifecycle-ui-mockup.tldr
Due: none

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/TicketBaiSCU/TicketBaiSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/VeriFactuSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataAADEValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ReceiptRequestValidatorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/ChargeItemCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/ReceiptCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignatureTypeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix receipt case
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/Processors/ReceiptCommandProcessorEU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ITReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IReceiptCommandProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fixes
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/DailyOperationsCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/InvoiceCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/LifecycleCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ProtocolCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/DailyOperationsCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/DailyOperationsCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/LifecycleCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ProtocolCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix usings
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/Processors/JournalProcessorEU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/EchoProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IEchoProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Synchronizer/LocalQueueSynchronizationDecorator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ReceiptCaseFlagsGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataAADEValidation.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add project to solution
  scu-es/fiskaltrust.Middleware.SCU.ES.sln
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

update namespaces
  scu-es/src/ClassLibrary1/Helpers/DecimalHelpers.cs
  scu-es/src/ClassLibrary1/Helpers/Result.cs
  scu-es/src/ClassLibrary1/ScuBootstrapper.cs
  scu-es/src/ClassLibrary1/VeriFactuConfiguration.cs
  scu-es/src/ClassLibrary1/VeriFactuSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
