Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/scu-at/test.template.yml
  - job: BuildNugetPackages
    displayName: Build v1 NuGet packages
    dependsOn:
    - Test
    condition: succeeded()
    pool:
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

fix feed url
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
Due: none

log traces
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DeltaTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DisabledQueueReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DisabledScuReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FinishScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/HandwrittenReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OtherReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/StartTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/UpdateTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/UsedFailedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/TransactionFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OutOfOperationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/PosReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Transactions/DSFinVKTransactionPayloadFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version files
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix warnings
  queue/Directory.Build.props
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/Directory.Build.props
  queue/test/Directory.Build.props
  scu-at/Directory.Build.props
  scu-de/Directory.Build.props
  scu-es/Directory.Build.props
  scu-it/Directory.Build.props
  scu-me/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix warnings
  scu-me/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix feed
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
Due: none

fix feed
  azure-pipelines/templates/scu-at/build-nuget.template.yml
  azure-pipelines/templates/scu-at/build-zip.template.yml
  azure-pipelines/templates/scu-at/test.template.yml
Due: none

add default queue to nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update sqlite version
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

further increase logging
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileExportService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tseserialnumber
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignatureFactoryDE.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Text review
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ProcessResponseHelpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/DeviceStatus.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/NonFiscal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/PrinterCommand.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/QueryPrinterStatusCommand.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/ReportResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/StatusResponse.cs
  scu-it/test/TestLauncher/Helpers/HelipadHelper.cs
  scu-it/test/TestLauncher/Program.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ScuBootstrapperTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ScuBootstrapperTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/PrinterResponseTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Update fiskaltrust.Middleware.SmokeTests.yaml
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
Due: none

Create LocalFeed with sqlite package
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

Create and zip localfeed
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

change displayname
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

Change localfeed's name
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

save exception in queueitem
  queue/src/fiskaltrust.Middleware.Contracts/Interfaces/IMarketSpecificSignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/SignProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignProcessorDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/SignProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/SignProcessorFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/SignProcessorME.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

creating sqlite-localfeed-1.3.53 on pipeline
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions in nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add new test project and update yaml file to use new sqlite package
  azure-pipelines/templates/queue/build-nuget.template.yml
  queue/fiskaltrust.Middleware.sln
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Assets/AboutAssets.txt
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/MainActivity.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Properties/AndroidManifest.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Properties/AssemblyInfo.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/AboutResources.txt
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/Resource.designer.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/layout/activity_main.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/layout/content_main.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/menu/menu_main.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-anydpi-v26/ic_launcher.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-anydpi-v26/ic_launcher_round.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-hdpi/ic_launcher.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-hdpi/ic_launcher_foreground.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-hdpi/ic_launcher_round.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-mdpi/ic_launcher.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-mdpi/ic_launcher_foreground.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-mdpi/ic_launcher_round.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xhdpi/ic_launcher.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xhdpi/ic_launcher_foreground.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xhdpi/ic_launcher_round.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xxhdpi/ic_launcher.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xxhdpi/ic_launcher_foreground.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xxhdpi/ic_launcher_round.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xxxhdpi/ic_launcher.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xxxhdpi/ic_launcher_foreground.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/mipmap-xxxhdpi/ic_launcher_round.png
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/colors.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/dimens.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/ic_launcher_background.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/strings.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/styles.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update project's name
  azure-pipelines/templates/queue/build-nuget.template.yml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update yamlfile
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

update test yaml file
  azure-pipelines/templates/queue/test.template.yml
Due: none

exclude Androidlauncher from yaml
  azure-pipelines/templates/queue/test.template.yml
Due: none

update build template
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

recorrect projects in yaml file
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

update yaml file
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

add working directory
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

update yaml files
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

exclude androidTest folder
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

Add ! to exclude
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

recorrect version and add androidtest build
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/queue/test.template.yml
Due: none

add package using dotnet add command
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

add java SDk
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

add task: Restore NuGet packages
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

update Xamarin.AndroidX.AppCompat
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/Resource.designer.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update Xamarin.Google.Android.Material
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/Resource.designer.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add outputDirectory to XamarinAndroid@1 task and make simple pipeline only for test
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/queue/build-nuget.template.yml
Due: none

remove styles.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/MainActivity.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Properties/AndroidManifest.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/Resource.designer.cs
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/layout/activity_main.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/menu/menu_main.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/Resources/values/styles.xml
  queue/test/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest/fiskaltrust.Middleware.Queue.Sqlite.AndriodLauncherTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
