Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Build
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
      dependsOn: []
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/build-nuget.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Don't add package ref to included storage library
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Include blobs package reference
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added more missing packages
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use tar-chunk-param, remove chunked export
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/ISwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Updat Tar Export 1.1.2
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use filestream, change to Stream on hashcalc
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileExportService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

review
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

´rename temp file
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix ftReceiptTotal
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

minor changes
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

review suggestions
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/IFiskalyApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Put file deletion into finally clause
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added CustomRT Printer tests
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

retry fix
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update Version
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

refresh package cache after release
  azure-pipelines/templates/release-legacy.yml
Due: none

fix indent
  azure-pipelines/templates/release-legacy.yml
Due: none

continue on error
  azure-pipelines/templates/release-legacy.yml
Due: none

,,
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

v. 1.3.59
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Resolve TarExport webexception files
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

minor changes
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

handle exceptions
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add if condition to prevent doublicationg
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Updated rounding method to MidpointRounding.AwayFromZero
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix flag calculation in it
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

create instances
  queue/src/fiskaltrust.Interface.Tagging/AT/Models/ftReceiptCasesATV1.cs
  queue/src/fiskaltrust.Interface.Tagging/CaseConverterFactory.cs
  queue/src/fiskaltrust.Interface.Tagging/DE/Models/ftReceiptCasesDEV1.cs
  queue/src/fiskaltrust.Interface.Tagging/FR/Models/ftReceiptCasesFRV1.cs
  queue/src/fiskaltrust.Interface.Tagging/ReceiptConverter.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clean up
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftChargeItemCaseFlagsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftChargeItemCasesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftJournalTypesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftPayItemCaseFlagsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftPayItemCasesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftReceiptCaseFlags V2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftSignatureFormatsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftSignatureTypesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftStateFlagsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/V2/ftStatesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftChargeItemCaseFlagsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftChargeItemCasesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftJournalTypesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftPayItemCaseFlagsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftPayItemCasesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftReceiptCaseFlags V2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftReceiptCasesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftSignatureFormatsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftSignatureTypesV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftStateFlagsV2.cs
  queue/src/fiskaltrust.Interface.Tagging/CommonModels/ftStatesV2.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Interface.Tagging/Interfaces/ICaseConverter.cs
  queue/src/fiskaltrust.Interface.Tagging/Interfaces/ICaseConverter.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clean up
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/ReceiptConverter.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add tests
  queue/fiskaltrust.Interface.Tagging.UnitTests/DE/CaseConverterDETests.cs
  queue/fiskaltrust.Interface.Tagging.UnitTests/GlobalUsings.cs
  queue/fiskaltrust.Interface.Tagging.UnitTests/fiskaltrust.Interface.Tagging.UnitTests.csproj
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Interface.Tagging/DE/CaseConverterDE.cs
  queue/src/fiskaltrust.Interface.Tagging/JournalConverter.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/AT/ftReceiptCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/DE/ftReceiptCases.cs
  queue/src/fiskaltrust.Interface.Tagging/Models/V1/FR/ftReceiptCases.cs
  queue/src/fiskaltrust.Interface.Tagging/ReceiptConverter.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
