Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

clean up
  .github/workflows/smoketests.yml
Due: none

test mysql
  .github/workflows/smoketests.yml
Due: none

add possibility to void initiate scu switch receipts
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

ES: drop ZeroVatNature validation — 0% VAT is not a validation failure
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/ErrorMessagesES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/Rules/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ESLegacyZeroVatNatureTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

environment variable for MySQL password
  .github/workflows/smoketests.yml
Due: none

improve naming and run context
  .github/workflows/smoketests.yml
Due: none

refactor
  .github/workflows/smoketests.yml
Due: none

..
  .github/workflows/smoketests.yml
Due: none

fix init-scu-switch in failed mode
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/Factories/RequestCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update logging
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix error handling
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add RT printer reboot command via zero receipt flag
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/RebootCommandTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

feat: auto-reboot Epson RT printer after daily closing
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/DailyClosingRebootTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Set version to '1.3.85-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Implement receipt lottery handling on the Custom RT Server
  .claude/settings.local.json
  .gitignore
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignaturItemFactoryTests.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/SignatureFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Add lottery code to RequestResponse in Epson, Custom PrinterRT and RT Server SCUs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Set AllowUnsafeScuSwitch default to true
  queue/src/fiskaltrust.Middleware.Contracts/Models/MiddlewareConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix formatting
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

formatting
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

format
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove allowunsafeswitch parameter
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove dead code
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version to full release
  version.json
Due: none

Add SCU.IT.EpsonRTServer — new Epson RT Server SCU
  scu-it/fiskaltrust.Middleware.SCU.IT.sln
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/GlobalTools.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/IEpsonRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/Models/EpsonToken.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/Models/FiscalDocumentResult.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/Models/RtServerResponse.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/Models/TillState.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/ScuBootstrapper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/CcdcTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonTokenTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/Usings.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improve stability + add docs readme
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerErrorCodes.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/README.md
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/ScuBootstrapper.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Add release packaging, acceptance tests and device-validated fixes for EpsonRTServer
  .github/labeler.yml
  .github/workflows/scu-it-package.yml
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerErrorCodes.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/IEpsonRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/README.md
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/version.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Update version.json from main before merge
  version.json
Due: none

feat: make Epson RT auto-reboot after daily closing opt-in
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/DailyClosingRebootTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

rename parameter to ForceRebootAfterDailyClosing
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/DailyClosingRebootTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Set version to '1.3.86-rc.{height}'
  version.json
Due: none

update action
  .github/actions/package/action.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
