Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Fixed smaller issus
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/ReceiptRequestExtensionTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADECaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Skipping tests
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/SaftSignatureValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Only set correlatedinvoices for invoices types that support it
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support for improved mapping
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/MyDataVatCategory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEMappingsVATCategoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

REmove tests
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/SaftSignatureValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update soap version
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update package
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface version
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update packages
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/fiskaltrust.Middleware.Localization.QueueAT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/fiskaltrust.Middleware.Queue.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/fiskaltrust.Middleware.Storage.AzureTableStorage.csproj
  queue/src/fiskaltrust.Middleware.Storage.Base/fiskaltrust.Middleware.Storage.Base.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
  queue/src/fiskaltrust.Middleware.Storage.InMemory/fiskaltrust.Middleware.Storage.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Storage.SQLite/fiskaltrust.Middleware.Storage.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage/fiskaltrust.Middleware.Storage.csproj
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/fiskaltrust.Middleware.Localization.QueueDE.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/fiskaltrust.Middleware.Queue.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/fiskaltrust.Middleware.Storage.AcceptanceTest.csproj
  queue/test/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest/fiskaltrust.Middleware.Storage.SQLite.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add reference to storage
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "update soap version"
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using hashpayload
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix ftstate nesting
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update es interface
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix version
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Update-tests-Get-free-port
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/IPOSTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

use nbgv
  queue/Directory.Build.props
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix public release refs
  version.json
Due: none

fix public refs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix public ref
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/version.json
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix height
  version.json
Due: none

use in storage
  queue/Directory.Build.props
  queue/src/Directory.Build.props
  storage/Directory.Build.props
  storage/azure-pipelines/fiskaltrust.storage.yml
  storage/src/fiskaltrust.storage.encryption/version.json
  storage/src/fiskaltrust.storage.serialization/version.json
  storage/src/fiskaltrust.storage/version.json
  storage/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

set assembly version precision
  storage/src/fiskaltrust.storage/version.json
Due: none

fix
  storage/src/fiskaltrust.storage/version.json
Due: none

fix
  version.json
Due: none

remove pub release branch
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/version.json
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/version.json
  storage/src/fiskaltrust.storage.encryption/version.json
  storage/src/fiskaltrust.storage.serialization/version.json
  storage/src/fiskaltrust.storage/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Normalize vat
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add integration tests for scu.de
  .github/workflows/scu-de-build.yml
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update
  .github/workflows/scu-de-build.yml
Due: none

check tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestForTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
