Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

fix multiple oversize columns
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "trigger release on gh release"
  .github/workflows/release.yml
Due: none

VATRate fixing
  .claude/settings.local.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/test/TestLauncher/PrinterTester.cs
  scu-it/test/TestLauncher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Task 178 service goods and owner tip
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsIncomeClassificationTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsIncomeClassificationValueTypeTests.cs
Due: none

adjust format
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update scu grpc core
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

testlauncher debug hint
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

feat: add v2 request templates and update smoketests for launcher v2 compatibility
  .github/scripts/requests-v2/Daily-closing-receipt.json
  .github/scripts/requests-v2/Echo.json
  .github/scripts/requests-v2/Initial-operation-receipt.json
  .github/scripts/requests-v2/Pos-receipt.json
  .github/scripts/requests-v2/Zero-receipt.json
  .github/scripts/template-v2.json
  .github/workflows/smoketests.yml
Due: none

fix
  .github/scripts/requests-v2/Initial-operation-receipt.json
  .github/scripts/requests-v2/Pos-receipt.json
  .github/scripts/requests-v2/Zero-receipt.json
Due: none

fix: comment out Initial-operation-receipt in smoketests.yml
  .github/workflows/smoketests.yml
Due: none

update
  .github/scripts/requests-v2/Daily-closing-receipt.json
Due: none

update test
  .github/workflows/smoketests.yml
Due: none

Subtotal subcharge/discount
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix subtotal charge/discount xml to the printer
  .claude/settings.local.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecItem.cs
  scu-it/test/TestLauncher/PrinterTester.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

test with last version
  .github/scripts/template-v2.json
Due: none

scu-de remove firmware update queue testlaunvcher adapt message to port of connfig
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/UrlReservationChecker.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Wcf/RestService.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Wcf/WCFService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  .github/workflows/scu-de-package.yml
Due: none

..
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix build
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/IntegrationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Revert "#399 - QR-Code Brutto-Steuerumsaetze 2 Dezimalstellen"
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add Action-Journal-Export.json
  .github/scripts/requests-v2/Action-Journal-Export.json
Due: none

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Transactions/DSFinVKTransactionPayloadFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add journal files
  .github/workflows/smoketests.yml
Due: none

add journal files
  .github/scripts/requests-v2/QueueItem-Export.json
  .github/scripts/requests-v2/Receipt-Journal-Export.json
Due: none

comment Initial-operation-receipt
  .github/workflows/smoketests.yml
Due: none

Fix tests [skipped]
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Clients/CustomRTPrinterClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/FixedLines.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecTotal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceipt.cs
  scu-it/test/TestLauncher/PrinterTester.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/IntegrationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix casedata comparison for pt refund validation
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Potential fix for pull request finding
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add debug message
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix build
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove debug message
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

improve equality check
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix item discount
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecItemAdjustment.cs
  scu-it/test/TestLauncher/PrinterTester.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

skip test
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Update version to full release
  version.json
Due: none

Set version to '1.3.84-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Harden TicketBAI exempt-reason work: regression snapshots + own the nature enum
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/ChargeItemCaseNatureOfVatES.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/TicketBaiNatureOfVatMapping.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-usual-vat-multirate.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/foreign-usual-vat-goods-and-service.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryReferenceComparisonAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryXmlAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiNatureOfVatMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Refresh NN[60] skip reason now that the local enum has ForeignTaxApplies
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/README.md
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryReferenceComparisonAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml
