Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

fix np
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

prevent further Actionjournal entries after migration receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/MigrationHelper.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated the Swissbit (hardware) SDK to v5.9.3
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-x64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-x86/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/win-x64/native/WormAPI.dll
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/win-x86/native/WormAPI.dll
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/arm64-v8a/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/armeabi-v7a/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/x86/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/x86_64/libWormAPI.so
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Version bump
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Version bump
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

initialize project
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Directory.Build.props
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Exceptions/SwissbitCloudV2Exception.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/ClientCache.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/ConfigurationHelpers.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/RuntimeHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/TaskHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/ClientDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/ExportStateData.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update pipeline
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

Add RegisterClient
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

minor changes
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

test proj
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/ExportTest.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Implement TransactionPart
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Constants/TransactionType.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/ClientCache.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TransactionRequestDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TransactionResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Utilities.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

tar export
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/ExportStateResponse.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/StartExportResponse.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/ExportTest.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2ExportTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Add IntegrationTests
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

minor changes
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Initial draft for v2 localization Stream + QueuePT
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueES/SignProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/ftActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/Models/ProcessCommandRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/Models/ProcessCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/Models/ftQueuePT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/SignatureTypesPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/SignProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/DailyOperationsCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/LifecyclCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/IsExternalInit.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignatureFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/ftStatesFlags.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added UnitTests
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Interface/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/SignProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/DailyOperationsCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/LifecyclCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/v2/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/IsExternalInit.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptRequestHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/SignatureFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/ftStatesFlags.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Queue.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IDailyOperationsCommandProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IInvoiceCommandProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/ILifecyclCommandProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IProtocolCommandProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IReceiptCommandProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/ProcessCommandRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/ProcessCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/ftQueuePT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueueITStateTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/SignProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Implement DeregisterClientAsyn
  .gitignore
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Implement DeregisterClientAsync
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

rename test fixture
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2ExportTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Implement GetTseInfoAsync and SetTseStateAsync methods in SwissbitCloudV2SCU and SwissbitCloudV2ApiProvider
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fix missing references for TseInfo model in SwissbitCloudV2ApiProvider and SwissbitCloudV2SCU
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/Enums/TseHealthState.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/Enums/TseInitializationState.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TseInfo.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Add GetTseInfo
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/Extensions.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/SwissbitCloudV2TseState.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

minor change
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TseInfo.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

compatible dtos
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TseInfo2.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove Extra function
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

start delete export
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update TSE state
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/SwissbitCloudV2TseState.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update cache
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Helpers/ClientCache.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update setTseState
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

set payload in start transaction
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/StartTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/ITransactionFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/TransactionFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "set payload in start transaction"
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/StartTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/ITransactionFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/TransactionFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set processdata & type "", end export
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/ExportStateResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/StartExportResponseDto.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/ISwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Services/SwissbitCloudV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update Tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove client query in export
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
