Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Set version to '1.3.88-rc.{height}'
  version.json
Due: none

Set version to next -ci version
  version.json
Due: none

Modify branch name setting in command-tag.yml
  .github/workflows/command-tag.yml
Due: none

Refactor release workflow to use create-pull-request action
  .github/workflows/prepare-release.yml
Due: none

Update release workflow to use GitHub CLI for PR
  .github/workflows/prepare-release.yml
Due: none

Set version to '1.3.89-rc.{height}'
  version.json
Due: none

Set version to v1.3.89
  version.json
Due: none

Update command-tag.yml
  .github/workflows/command-tag.yml
Due: none

Fix command-tag.yml to correctly set branch name
  .github/workflows/command-tag.yml
Due: none

Update condition for success step in command-tag.yml
  .github/workflows/command-tag.yml
Due: none

Update condition for success step in workflow
  .github/workflows/command-version.yml
Due: none

Update branch name setting in workflow
  .github/workflows/command-version.yml
Due: none

Update version to full release
  version.json
Due: none

Update commit message for version.json change
  .github/workflows/prepare-release.yml
Due: none

Set version to '1.3.90-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Update version.json
  version.json
Due: none

Added more tests
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/PortugalReceiptCalculations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Factories/PortugalReceiptCalculationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

change version detection in prepare-release
  .github/workflows/prepare-release.yml
Due: none

update version files
  storage/src/fiskaltrust.storage/version.json
  version.json
Due: none

update fiskaltrust.interfaces to 1.3.77-rc1 for GR and PT interfaces
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/GRSSCD/IGRSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/SignatureItemFactoryGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/IPTSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update rest of fiskaltrust.interface to 1.3.77-rc1
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: update namespace imports for GR and PT command processors
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix pack
  .github/actions/package/action.yml
Due: none

refactor: update namespace imports for GR and PT test files
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ProtocolCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: implement IPTSSCD and IGRSSCD interfaces in InMemorySCU and MyDataSCU
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/PTSSCD/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update reaction icon
  .github/workflows/command-package.yml
Due: none

fix build
  .github/actions/package/action.yml
Due: none

refactor: revert version of ReceiptCommandProcessorPTTests
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

added series injection
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

maybe fix build
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update exports
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed withholding taxes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/SpecialTaxMappings.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/SpecialTaxMappingsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Swissbitv2 export and delete tar on full storsage error close transaction on tse on closing
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/DailyClosingReceiptCommand.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Create one instance of ATSSCDProvider
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ATSSCDProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix code signing
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/actions/sign/action.yml
  .github/workflows/package.yml
Due: none

update storage codesigning
  storage/azure-pipelines/fiskaltrust.storage.yml
Due: none

fix
  storage/azure-pipelines/fiskaltrust.storage.yml
Due: none

tmp remove condition
  storage/azure-pipelines/fiskaltrust.storage.yml
Due: none
