Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Revert "test ef"
  .github/workflows/smoketests.yml
Due: none

Revert "Test ef.nuspec project"
  .github/workflows/smoketests.yml
  queue/src/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

prevent storage package in dependencies
  queue/src/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update on part
  .github/workflows/smoketests.yml
Due: none

add parameters as input
  .github/workflows/smoketests.yml
Due: none

install .net version 6
  .github/workflows/queue-acceptance-tests.yml
Due: none

don't set ftstate for gr and pt
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

install ,net version 6
  .github/workflows/queue-acceptance-tests.yml
Due: none

Test ef
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Revert "Test ef"
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/Payment.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Helpers/TestHelpers.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationTestCasesPhase2.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PT_Phase2_CertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update
  .github/workflows/queue-acceptance-tests.yml
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Use Public Key provided
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/SwissbitCloudV2SCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

tdo
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2/Models/TseDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update code page
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Test
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add missing package
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update code project
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloudV2.IntegrationTest/SwissbitCloudV2Fixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Test ef-package
  .github/workflows/smoketests.yml
Due: none

test ef
  .github/workflows/smoketests.yml
Due: none

update constring
  .github/workflows/smoketests.yml
Due: none

add scuid
  .github/scripts/template.json
Due: none

clean up
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

see inside the folder
  .github/workflows/smoketests.yml
Due: none

test2
  .github/scripts/template.json
  .github/workflows/smoketests.yml
Due: none

set default on sqlite
  .github/workflows/smoketests.yml
Due: none

clean up
  .github/workflows/smoketests.yml
Due: none

Fix the bug
  .github/workflows/smoketests.yml
Due: none

update if
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix storage pipeline
  storage/azure-pipelines/fiskaltrust.storage.yml
Due: none

pin reportgenerator
  storage/azure-pipelines/fiskaltrust.storage.yml
Due: none

parse certificate NotAfter
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/DieboldNixdorfSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/EpsonSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixed positions Fixed wrong reference
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Further fixes for user, signatures and other sampes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/PTUserObject.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/Payment.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Models/Cases/ChargeItemCaseNatureOfVatPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PT_Phase2_CertificationExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Enhance receipt handling and update related methods
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Exports/SAFTPT/SAFTSchemaPT10401/SourceDocuments/Invoice.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Helpers/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/Helpers/TestHelpers.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationExamples.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PTCertificationTestCasesPhase2.cs
  queue/test/Manual/fiskaltrust.Middleware.Localization.QueuePT.CertificationTool/PT_Phase2_CertificationExamples.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update-storage-version
  storage/Directory.Build.props
  storage/version.json
Due: none
