Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

AbortReceiptCommand
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/AbortReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/ITransactionPayloadFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

suggestions
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Transactions/DSFinVKTransactionPayloadFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/AbortReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEBootStrapperUnitTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Transactions/DSFinVKTransactionPayloadFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

DE: read ftReceiptCaseData from flat and market-keyed shape
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptCaseDataExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FailTransactionReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Extensions/ReceiptCaseDataExtensionsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Queue.InMemory.IntegrationTest/PosBootstrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix acceptance tests
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

bug fix for override on fee line
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

update storage version
  storage/src/fiskaltrust.storage/version.json
Due: none

add eol
  queue/README.md
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update export packages
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Drop QueueIT from the SQLite package and refuse group references in Italy
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/ReceiptReferences.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Models/ErrorMessagesIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SCU/ITSSCDContractConverter.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/Helpers/ReceiptReferencesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/Processors/ProtocolCommandProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

GR: apply issuer override (branch, name, address) from mydataoverride
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

GR: restrict issuer override to branch only
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

GR: reject empty-string non-branch issuer overrides
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

GR: clarify null semantics in issuer override guard
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Update exception message for classification override
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Refactor incomeClassification handling for fee lines
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

fix smoketests
  .github/workflows/smoketests.yml
Due: none

Update version to full release
  version.json
Due: none

clean up
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

GR: fix missing closing paren in classification override validation
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

GR: don't apply expensesClassification overrides on fee rows
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: test that the classification consistency check still rejects unclassified ordinary lines next to a fee line
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: reject charge items whose VATAmount does not match VATRate
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/VatAmountValidationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

GR: reject classification overrides on fee lines instead of dropping them
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: replace VAT tolerance check with zero-VAT check
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: none

GR: treat items overridden to recType 2 as fee lines
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: reject final invoice rows with vatAmount 0 on a non-zero-rate category
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: none

GR: isolate the recType-2 auto-classification strip in its own test
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: drop recType-2 override handling for ordinary items
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: validate classification overrides before applying line overrides
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/Issue302OverrideOnFeeLineTests.cs
Due: none

GR: drop final invoice row VAT validation
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: none

GR: drop queue ValidationConfiguration wiring
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/VatAmountValidationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

GR: drop AADEFactory end-to-end VAT test
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

GR: explain zero-VAT rounding guard
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
Due: none

GR: skip zero-VAT check for void receipts
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: none

Revert "GR: skip zero-VAT check for void receipts"
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ValidationGRTests.cs
Due: none

Update version.json from main before merge
  version.json
Due: none

Update Swissbit WORM API to SDK v6.0.1 and support TSE v2
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Exceptions/SwissbitExceptionHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/FunctionPointerFactory.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/ISwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/NativeFunctionPointer.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/NativeWormAPI.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Interop/SwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Models/TseStatusInformation.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimesv2/linux-arm/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimesv2/linux-arm64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimesv2/linux-x64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimesv2/linux-x86/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimesv2/win-x64/native/WormAPI.dll
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimesv2/win-x86/native/WormAPI.dll
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/arm64-v8a/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/armeabi-v7a/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/x86/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/lib/x86_64/libWormAPI.so
  scu-de/test/fiskaltrust.Middleware.SCU.DE.AcceptanceTest/tools/Swissbit/WormAPI.dll
  scu-de/test/fiskaltrust.Middleware.SCU.DE.AcceptanceTest/tools/Swissbit/wormCli.exe
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
