Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

add testlauncher to readme
  README.md
Due: none

add migrations readme
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/README.md
  queue/src/fiskaltrust.Middleware.Storage.EF/README.md
  queue/src/fiskaltrust.Middleware.Storage.EFCore/README.md
  queue/src/fiskaltrust.Middleware.Storage.MySQL/README.md
  queue/src/fiskaltrust.Middleware.Storage.SQLite/README.md
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added ATrustSmartcard SCU
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ATrustSmartcardSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ATrustSmartcardSCUConfiguration.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Enums/ReaderMode.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Helpers/CertificateHelpers.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Helpers/LockHelper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardServiceFactory.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/ICardService.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustACOS.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustAcosID.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustCardOS53.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.csproj
Due: none

Fixed InMemory SCU and test launcher
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Binders/Binder.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Binders/RemoveMethodVersionPrefixBinder.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Binders/SkipNonVersionedMethodsBinder.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/GrpcHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/GrpcHost.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Interceptors/ExceptionHandlingInterceptor.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Interceptors/ServerLoggingInterceptor.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/Extensions.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HelipadHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HostingHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Enums/DateFormat.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/ClientJsonDateFormatter.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/JsonDispatchMessageFormatter.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/RawDataWriter.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/XElementExtensions.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/RestService.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/WCFService.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/fiskaltrust.Middleware.SCU.AT.Test.Launcher.csproj
Due: none

Added PrimeSignHSM SCU
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/Models/Config.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/Models/User.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/PrimeSignSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/PrimeSignSCUConfiguration.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM.csproj
Due: none

Added SCU.AT projects to sln
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
Due: none

Updated Austrian Queue to use v2 namespace, fixed test launcher
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/IATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/ATSSCDClientFactory.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

create procedure with input param Queue = Dbase
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/005_Indices.mysql
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/008_Indices2.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use dapper param
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/008_Indices2.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/008_Indices2.mysql
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added TicketBAI models
  scu-es/fiskaltrust.Middleware.SCU.ES.sln
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TBAI/Configuration/TBaiScuConfiguration.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TBAI/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TBAI/TbaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Directory.Build.props
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/SignatureType.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiRequest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCUConfiguration.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/version.json
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Anula_ticketBaiV1-2-1.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/ticketBaiResponse.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/ticketBaiV1-2-1.xsd
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/PertsonaFisikoa_PersonaFísica.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

parse as dapper cannot handle procedure params
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/008_Indices2.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add MultipleActiveResultSets
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

doe not change existing settings
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update EpsonSCUTest.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/EpsonSCUTest.cs
Due: none

update interface and clients
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions
  queue/src/Directory.Build.props
  queue/test/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix clientoptions
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/DESSCDClientFactory.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/ITSSCDClientFactory.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/MESSCDClientFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix warning as error
  .editorconfig
  queue/Directory.Build.props
  scu-de/Directory.Build.props
  scu-it/Directory.Build.props
  scu-me/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix AutoResetEvent starvation
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/Models/SynchronizedResult.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

zero receipt incl resending I
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/RequestCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/IT/AzureTableStorageJournalITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/IT/EfJournalITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/IT/EFCoreJournalITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/IT/InMemoryJournalITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/IT/MySQLJournalITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/IT/SQLiteJournalITRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest/AzureTableStorageJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EFCore.AcceptanceTest/PostgreSQL/EFCorePostgreSQLJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest/InMemoryJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/MySQLJournalITRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.SQLite.AcceptanceTest/SQLiteJournalITRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use channels
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/Models/SynchronizedResult.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/fiskaltrust.Middleware.QueueSynchronizer.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add status List - refakter Response creation
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/ErrorCodeFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/ErrorInfoFactory.cs
Due: none

fix disposing
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use channels implementation only on newer .net versions
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/Models/SynchronizedResult.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/fiskaltrust.Middleware.QueueSynchronizer.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

split ref query ef, add param to exclude refs for unvalid data
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix test
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/JournalProcessorDETests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

rename
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/JournalProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

prepare reprocessing, refund settings
  queue/src/fiskaltrust.Middleware.Contracts/Exceptions/MissiningInitialOpException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/RequestCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix refund
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add late signing
  queue/src/fiskaltrust.Middleware.Contracts/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/States.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

resend on Zeroreceipt
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/IRequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/RequestCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update Certificate
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/SwissbitCloudSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

resende, signatures, ftReceiptIdentification
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/RequestCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix build
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/ScuBootstrapper.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest/SwissbitCloudFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
