Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Implemented migration detection and initialization for EFCorePostgreSQL and EFCoreSQLServer
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix migrations
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove HasEntries
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/FR/EfJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/FR/EFCoreJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/FR/InMemoryJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/FR/MySQLJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/FR/SQLiteJournalFRCopyPayloadRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractCopyPayloadRepositoryTests.cs
  queue/test/fiskaltrust.Middleware.Storage.EF.AcceptanceTest/EfJournalFRCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

review
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/PostgreSQLMiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/MiddlewareDbContext.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/fiskaltrust.Middleware.Storage.EFCore.csproj
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved EFCoreSQLServerStorageBootstrapper with proper configuration initialization
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/SQLServerStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

push test
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/SQLServerStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed spaces from test push
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/SQLServerStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix: Refactored EFCoreJournalFRCopyPayloadRepository for clarity and EFCore conventions
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/FR/EFCoreJournalFRCopyPayloadRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use abstractrepository repo implementations
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/FR/IJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/FR/EfJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/FR/EFCoreJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/FR/InMemoryJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/FR/MySQLJournalFRCopyPayloadRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/FR/SQLiteJournalFRCopyPayloadRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractCopyPayloadRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improvd structure slightly
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecyclCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Some PR cleanups
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/ActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/ftJournalITFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Models/ScuResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/InvoiceCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecyclCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/ftActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/IsExternalInit.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Models/ProcessCommandRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Re-added missing extension method
  queue/src/fiskaltrust.Middleware.Contracts/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add comment
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecyclCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

added a few receipts
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/4_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Refund/5_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/1_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/2_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/3_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/6_rec.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/ReceiptCases/Sales/7_rec.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

group error handling
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/JournalProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecyclCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ITReceiptCases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Tagging/ftStatesFlags.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cleanup
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/IsExternalInit.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Lifecycle/InitialOperationReceipt0x4001.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Checking result from SCU
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecyclCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cleanup for epson scu
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/ChargeItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/PayItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Helpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/SoapEnvelope.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/SSCDErrorException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

smaller fixes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Extensions/ChargeItemV2Extensions.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added a few tests
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ITReceiptCases.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/0x2000_ZeroReceipt.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/0x2011_DailyClosing.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/0x3010_Reprint.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/0x4001_InitialOperation.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/0x4002_OutOfOperation.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.sln
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added pwd for reprint
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added Tip
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash_Tip.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash_cbCustomer.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fixed Queue build
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/IsExternalInit.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed absolute paths
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Releaseing with a single pipe
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/templates/release-legacy.yml
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added detailed error message
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

use legacy
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
Due: none

Fixed pipe
  azure-pipelines/templates/release-legacy.yml
Due: none

Fix
  azure-pipelines/templates/release-legacy.yml
Due: none

Fixed typo
  azure-pipelines/templates/release-legacy.yml
Due: none

Using separate service connection
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/templates/release-legacy.yml
Due: none

Fixed parameter
  azure-pipelines/templates/release-legacy.yml
Due: none

Fixed tests
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Using iitsscd provider
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecyclCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITStateTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cleanup
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITStateTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove sync calls
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CompleteVoidedReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Queue/JournalProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
