Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Added prod pipe
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/templates/release-legacy.yml
Due: none

Added release pipe for nuget
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/templates/release-legacy-nuget.yml
Due: none

Added release stesp
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
Due: none

Fixed tests
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITStateTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed unittsets
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignProcessorITTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed usage of feed
  azure-pipelines/templates/release-legacy-nuget.yml
Due: none

Okay another fix
  azure-pipelines/templates/release-legacy-nuget.yml
Due: none

Fixed variable
  azure-pipelines/templates/release-legacy-nuget.yml
Due: none

Fixed build pipes
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.IT-Release.yml
  azure-pipelines/templates/release-legacy-nuget.yml
Due: none

Enforce database update for IT if url changes
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Setting retries to 1
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed wrong signaturtype
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Clearer instructions et for password
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added config
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCUConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Fix
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added logging
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added additional examples. Fixed refund issue
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0005_Cash_cbCustomer.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

add async bootstrapper and init
  queue/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Abstractions/IMiddlewareBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Contracts/Interfaces/ILocalizedQueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Contracts/fiskaltrust.Middleware.Contracts.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/QueueFRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/QueueMeBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.InMemory/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.MySQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue.SQLite/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/InMemoryStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix de init
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

review suggestions
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/QueueMeBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use exception on failed receipt only
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

initial rfc close_transactions_on_daily_closing
  rfcs/0000-close-transactions-on-daily-closing.md
  rfcs/0000-template.md
  rfcs/0192-fr-copy-receipt-performance.md
Due: none

rename
  rfcs/0211-close-transactions-on-daily-closing.md
Due: none

add tracking issue
  rfcs/0211-close-transactions-on-daily-closing.md
Due: none

remove unfinished RFC
  rfcs/0000-de-dsfinvk-add-explicit-start-update-transaction.md
Due: none

Improved handling of subitemcases
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Abstraction/ReceiptCaseHelper.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/FiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added subitem support
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTPrinterTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ITSSCDTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptExamples.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash_withSubItemReduction.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/ReceiptRequests/PosReceipts/0x0001_Cash_withSubItems.json
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/fiskaltrust.Middleware.SCU.IT.AcceptanceTests.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

remove duplicate
  rfcs/0000-close-transactions-on-daily-closing.md
Due: none

fix pseudo code
  rfcs/0211-close-transactions-on-daily-closing.md
Due: none

clarify process
  rfcs/0211-close-transactions-on-daily-closing.md
Due: none

clarify
  rfcs/0211-close-transactions-on-daily-closing.md
Due: none

change type
  rfcs/0211-close-transactions-on-daily-closing.md
Due: none

update version files
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add abstractions pipeline
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml
  queue/src/fiskaltrust.Middleware.Abstractions/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix paths
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml
Due: none

add feed
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml
Due: none

fix pipeline
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml
Due: none

add triggers
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml
Due: none

fix variable
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
