Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

feat: implement validation rules for receipt requests
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ErrorMessages.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptRequestValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/RuleSetNames.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/DERules.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ESRules.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/GlobalRules.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ValidationResult.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ValidationRunner.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/ESRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/GlobalRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/PTRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add validation rules for charge items and receipt requests
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ErrorMessages.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptRequestValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/RuleSetNames.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/DERules.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ESRules.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/GlobalRules.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ValidationResult.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ValidationRunner.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/ESRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/GlobalRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/PTRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test: add unit tests for charge item validations across different markets
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/E2E/ErrorMessagesE2ETests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ChargeItemValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: simplify validation handling by removing ReceiptRequestValidator and consolidating market-specific logic into individual ReceiptValidators
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptRequestValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor: remove legacy validation logic and integrate new market-specific validation in ReceiptProcessor
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/InvoiceCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ProtocolCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test: add integration tests for ReceiptProcessor validation logic
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Integration/ReceiptProcessorValidationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: implement market-specific VAT validation rules for Spain and Portugal
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: introduce comprehensive market-specific validation rules for PT and ES
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/PayItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/UserValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: expand market-specific receipt validation rules for PT and ES
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: refactor tax ID validation logic for Spain and Portugal
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/TaxIdValidation.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/ES/CustomerValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/CustomerValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add detailed validation rules for charge items and receipt requests
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: enhance validation error handling in ReceiptProcessor
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: enhance receipt validation with async processing and reference checks
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add constructor overload for ReceiptProcessor to support additional command processors
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: enhance validation rules with country consistency checks and single reference enforcement
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add unit tests for user, customer, and charge item validations
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Validation/PortugalValidationRulesTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/E2E/ErrorMessagesE2ETests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Integration/ReceiptProcessorValidationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/CustomerValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/PayItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/ReceiptValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/PT/UserValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add nullability check for MarketValidator in ReceiptProcessor
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: implement comprehensive receipt validation rules for refunds and payment transfers
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptComparisonHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/ReceiptReferenceProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add validation for zero VAT rate and enhance receipt validation with reference checks
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/ValidationFV/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/MarketValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ChargeItemValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/PT/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: add unit tests for country consistency and single reference validation rules
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ChargeItemValidationsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/Global/ReceiptValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat: remove comments for sync and async validation rules in ReceiptValidations
  queue/src/fiskaltrust.Middleware.Localization.v2/Validation/Rules/Global/ReceiptValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

restore
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

disable FluentValidation for QueuePT
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed direct calls to Swissbit.Interop.NativeWormAPI
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add firmwareupdate if not v2
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/Interop/ISwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/Interop/SwissbitProxy.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/SwissbitV2SCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitV2/SwissbitV2SCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Removed redundant condition
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Fixed Void order checking + tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
Due: none

always set tableAA
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Modify total cancel to consider the Void flag from ReceiptCase
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
Due: none

void item instead of description
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Changed multiple connected marks check and completion and corrected tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
Due: none

Apply suggestion from @StefanKert
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Added references
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix build erro
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix compile error
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed test
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update
  .github/workflows/deploy.yml
Due: none

shadow validation in QueuePT
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
