Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Fix SwissbitAndroid Build (#252)
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-de/test.template.yml
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update FCC to 4.0.8 in SwissbitCloud and DF SCUs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/Helpers/ClientConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccProcessHost.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

refakt
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccErsApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/Helpers/ClientConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/HttpHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

test
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/DeutscheFiskalFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest/SwissbitCloudFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

export query, adjust testlauncher
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ExportService.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/ATSSCDClientFactory.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Helpers/HostingHelper.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

scu at launcher
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/InMemorySCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Binders/Binder.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Binders/RemoveMethodVersionPrefixBinder.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Binders/SkipNonVersionedMethodsBinder.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/GrpcHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/GrpcHost.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Interceptors/ExceptionHandlingInterceptor.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Grpc/Interceptors/ServerLoggingInterceptor.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/Extensions.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HelipadHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HostingHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Properties/launchSettings.json
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Enums/DateFormat.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/ClientJsonDateFormatter.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/JsonDispatchMessageFormatter.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/RawDataWriter.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/Formatting/XElementExtensions.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/RestService.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Wcf/WCFService.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/fiskaltrust.Middleware.SCU.AT.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

test Receipts manual
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ATSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/IATSSCDProvider.cs
  queue/test/Directory.Build.props
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/InMemorySCU.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HostingHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/fiskaltrust.Middleware.SCU.AT.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

update smoketests helper repo
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
Due: none

..
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add to mw
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add task:PublishBuildArtifacts
  azure-pipelines/templates/smoketests/helpers/test.yaml
Due: none

remove extra line
  azure-pipelines/templates/smoketests/helpers/test.yaml
Due: none

fix smoketests
  azure-pipelines/templates/smoketests/tests/launcher-2-0-released.yaml
  azure-pipelines/templates/smoketests/tests/launcher-2-0.yaml
Due: none

fix ftstate differences
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/DisabledQueueReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/SignProcessorAT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix signature differenzes
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

#256 FCC 4.0.8: Include metrics option
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/ConfigHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccProcessHost.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccProcessHost.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/ConfigHelperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

#303 - Create ActionJournal entry on queue startup containing queue infos
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Simplify services
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ATrustSmartcardSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardService.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardServiceFactory.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustACOS.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustAcosID.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustCardOS53.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

remove interface
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/ICardService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

simplify ATrustSmartCard
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ATrustSmartcardSCU.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Constants/Operation.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Helpers/LockHelper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/ScuBootstrapper.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Clarify error handling for receipts
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add a new unit test for SignProcessor
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor tests: Add ActionJournalRepositoryMock
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

returned exception handling tests for ReceiptRequest
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update test cases and refactor test code
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/MonthlyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/YearlyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/StartTransactionReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactored ReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added test for exception handling in ReceiptTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

match Readcertificate fully with old data
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardService.cs
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/atrustACOS.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Add scu projects
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

#276 - Release Middleware version 1.3.55
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Refactored error message in SignProcessor
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor argument exception tests in DailyClosingTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

missing ZeroReceipt param added as requiresSigning
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

minimal changes
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/RequestCommand.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Helpers/HostingHelper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/fiskaltrust.Middleware.SCU.AT.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

Added a SignProcessor property to the SignProcessorDependenciesFixture and updated tests in FinishScuSwitchTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Helpers/ReceiptProcessorHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FinishScuSwitchTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

ReceiptProcessorHelper was added to the DeltaTransactionReceiptTests class to handle receipt requests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/DeltaTransactionReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add ReceiptProcessorHelper to ZeroReceiptTests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
