Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/LifecycleCommandProcessorESTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

skip verifactu tests for now
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix storage pipeline
  storage/azure-pipelines/fiskaltrust.storage.yml
Due: none

Added tax exempt reasons
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ChargeItemCaseNatureOfVatGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/Models/MyDataVatExemptionCategory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/VatExemptionMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor export file handling to use temporary paths and streams
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/IFiskalyApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

test: add unit test to verify export files are created in system temp folder
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

make the storageprovider async with lazy types
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/DailyOperationsCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/ESSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/IESSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/QueueEUBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecycleCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/AzureStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Extensions/LazyExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/MasterData/MasterDataService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueES.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/DailyOperationsCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/JournalProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/InvoiceCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/LifecycleCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ProtocolCommandProcessorPTTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/Processors/ReceiptCommandProcessorPTTests.cs
  storage/src/fiskaltrust.storage/Models/ftQueueES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added mapping documentation
  doc/market-gr/MyData-fiskaltrust-Mappings.md
Due: none

replace essscdprovider with lazy
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/DailyOperationsCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/ESSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/IESSSCDProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/DailyOperationsCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/DailyOperationsCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/MasterData/IMasterDataService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/MasterData/MasterDataService.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/DailyOperationsCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

create helper asynclazy type
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/DailyOperationsCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/QueueEUBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/LifecycleCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProcessorPreparation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/AzureStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Extensions/LazyExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/AsyncLazy.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/MasterData/MasterDataService.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/JournalProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update doc/market-gr/MyData-fiskaltrust-Mappings.md
  doc/market-gr/MyData-fiskaltrust-Mappings.md
Due: none

Removed wrong docs
  doc/market-gr/MyData-fiskaltrust-Mappings.md
Due: none

fixes
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/IFiskalyApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Fixed build error
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix verifactu error handling
  .editorconfig
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Helpers/Error.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/Models/Schema/ConsultaLR.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/Models/Schema/RespuestaConsultaLR.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/Models/Schema/RespuestaSuministro.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/Models/Schema/SistemaFacturacion.wsdl.xml
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/Models/Schema/SuministroInformacion.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/Models/Schema/xmldsig-core-schema.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Soap/Client.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuConfiguration.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/VeriFactuTest.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
  storage/.editorconfig
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

remove mapping from queue
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

don't run local only tests
  .github/workflows/scu-es-build.yml
Due: none

add echo endpoint in scu
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

update interface package
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update interface
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update journal interface
  storage/src/fiskaltrust.storage/Models/ftJournalES.cs
  storage/src/fiskaltrust.storage/Repositories/ES/IJournalESRepository.cs
  storage/src/fiskaltrust.storage/Repositories/ES/IReadOnlyJournalESRepository.cs
Due: none

update journal
  .editorconfig
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/Processors/JournalProcessorEU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/QueueEUBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/QueuePTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/AzureStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/AsyncLazy.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IV2QueueBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Queue.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/ES/AzureTableStorageJournalESRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/FullTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/MyDataSCU/AADECertificationTestsCard.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/Certification/PTCertificationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/JournalProcessorPTTests.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/VeriFactuMapping.cs
  storage/src/fiskaltrust.storage/Models/ftJournalES.cs
  storage/src/fiskaltrust.storage/Models/ftReceiptJournal.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

update journalrequest
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/JournalProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/JournalProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/JournalProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

test: add unit tests for FiskalySCU to verify usage of system temp folder for export files
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest/FiskalySCUTempFolderTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix tests
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/TestFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Create TarExport On OOO with all signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

clean up
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Revert "clean up"
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

clean up
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test: add test to verify export data uses system temp folder for export files
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

resolve commands
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test: add end-to-end tests for export session handling with temporary files
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.UnitTest/FiskalySCUTempFolderTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

resolve tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added support for more countrycodse
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/CountryTypeMapper.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/AADEFactoryCounterpartTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added tests
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADECaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEFactoryCounterpartTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/AADEMappingsInvoiceTypeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/CustomerCountryCategoryTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/SCU/MyData/VatExemptionMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
