Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

fix artifact paths
  azure-pipelines/templates/smoketests/tests/1-3.yaml
  azure-pipelines/templates/smoketests/tests/2-0.yaml
Due: none

update download paths
  azure-pipelines/templates/smoketests/helpers/download.yaml
Due: none

update 2.0 service paths
  azure-pipelines/templates/smoketests/tests/2-0.yaml
Due: none

fix service folder
  azure-pipelines/templates/smoketests/tests/2-0.yaml
Due: none

rename test files
  azure-pipelines/templates/smoketests/harness.yaml
  azure-pipelines/templates/smoketests/tests/launcher-1-3.yaml
  azure-pipelines/templates/smoketests/tests/launcher-2-0.yaml
Due: none

54256 - Add launcher 2.0 smoketests (#75)
  azure-pipelines/fiskaltrust.Middleware.SmokeTests.yaml
  azure-pipelines/templates/smoketests/harness.yaml
  azure-pipelines/templates/smoketests/helpers/download.yaml
  azure-pipelines/templates/smoketests/helpers/run.yaml
  azure-pipelines/templates/smoketests/helpers/test.yaml
  azure-pipelines/templates/smoketests/post/swissbitcloud.yaml
  azure-pipelines/templates/smoketests/pre/fiskalycertified.yaml
  azure-pipelines/templates/smoketests/pre/swissbitcloud.yaml
  azure-pipelines/templates/smoketests/smoke-test.yaml
  azure-pipelines/templates/smoketests/test.yaml
  azure-pipelines/templates/smoketests/tests/launcher-1-3.yaml
  azure-pipelines/templates/smoketests/tests/launcher-2-0.yaml
Due: none

implement ME config repos
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteConfigurationRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

ini
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

increase defaul fiskaly client timeout
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Include linux-armel SQLite libs into build
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set SQLite version to 1.3.41
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix mysql index creation
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/005_Indices.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update noop
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/005_Indices.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

allow user variables
  queue/src/fiskaltrust.Middleware.Storage.MySQL/DatabaseInitialization/DatabaseMigrator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

formatting
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Migrations/005_Indices.mysql
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

release
  queue/src/fiskaltrust.Middleware.Localization.QueueME/fiskaltrust.Middleware.Localization.QueueME.csproj
  queue/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

revert swissbit android
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove me grpc dependency
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashDepositReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/CashWithdrawalReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/ZeroReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/fiskaltrust.Middleware.Localization.QueueME.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Repos Methods grouped receipt referenes + test
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

surpress NU1605 for testing, rename to ... async :)
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

ref
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

GetQueueItemsForReceiptReferenceAsync Test
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update release pipelines
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
Due: none

GetFirstPreviousReceiptReferencesAsync + test
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

ReadOnlyReceiptReferenceRepositoryTest
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update rdsfinvk ref 4 sandbox realease
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

use derived ReceiptReferencesGroupedData, exclude response = null entries reference dsfinvk testrelease
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

ref update
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Create middleware-data-access-flows.md
  doc/dev/middleware-data-access-flows.md
Due: none

visualistion
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/References.PNG
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

typo
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

external references & tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Repositories/ReadOnlyReceiptReferenceRepositoryTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add target znumber & moment, turn ref queue from end to start
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/ReadOnlyReceiptReferenceRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update reference to dsfinvk
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add smoketests for released packages
  azure-pipelines/fiskaltrust.Middleware.SmokeTests-Released.yaml
Due: none

.
  azure-pipelines/fiskaltrust.Middleware.SmokeTests-Released.yaml
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
