Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Build
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
      dependsOn: []
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/build-nuget.template.yml

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

np, enable fr
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/JournalProcessorFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/QueueFRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/SignProcessorFR.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

unit tests ooo
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/Requests/OutOfOperation.json
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/SignProcessorATFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/fiskaltrust.Middleware.Localization.QueueAT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added support for FCC 4.1.1
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/Resources/Resource.designer.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloudAndroid/Resources/Resource.designer.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/FccDownloaderTests.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.IntegrationTest/FccDownloaderTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Version bump
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

initial receipt
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/InitialOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/Requests/InitialOperation.json
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/SignProcessorATFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/fiskaltrust.Middleware.Localization.QueueAT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

finish Commandtests
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/JournalProcessorAT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/QueueATBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ExportService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/IExportService.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/MonthlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/PosReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/Requests/CashSale.json
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/Requests/MonthlyReceipt.json
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/Requests/YearlyReceipt.json
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/Requests/ZeroReceipt.json
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/SignProcessorATFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/YearlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/ZeroReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/fiskaltrust.Middleware.Localization.QueueAT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

add helper tests
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Helpers/ConversionHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/Helpers/ConversionHelperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/Helpers/TotalizerEncryptionHelperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/SignProcessorATFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add Build and release pipeline and Integration Tests for PrimeSignHSM
  azure-pipelines/fiskaltrust.Middleware.SCU.AT-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml
  azure-pipelines/templates/scu-at/build-nuget.template.yml
  scu-at/fiskaltrust.Middleware.SCU.AT.sln
  scu-at/src/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM/ScuBootstrapper.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/Program.cs
  scu-at/test/Manual/fiskaltrust.Middleware.SCU.AT.Test.Launcher/fiskaltrust.Middleware.SCU.AT.Test.Launcher.csproj
  scu-at/test/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM.IntegrationTest/GlobalUsings.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM.IntegrationTest/PrimeSignHSMTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM.IntegrationTest/fiskaltrust.Middleware.SCU.AT.PrimeSignHSM.IntegrationTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

FFC add TypeOfSystem
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Communication/FccAdminApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

simplyfy unit tests
  scu-at/src/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard/Services/CardService.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/IAtrustCardTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/AtrustACOSCardTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/AtrustAcosIdCardTests.cs
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/Services/AtrustCardOS53Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

correct the name
  scu-at/test/fiskaltrust.Middleware.SCU.AT.ATrustSmartcard.UnitTest/IAtrustCardTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml

helper and extension tests
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/Helpers/ConversionHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Extensions/QueueFRExtensionsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Extensions/ReceiptRequestExtensionsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/ArchiveCsvHelperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/ConversionHelperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/FileHelperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/HashHelperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/Helper/RequestValidationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update FiskalySCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

command test
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ArchiveCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/BillCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/CashPayInCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/CashPayOutCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/CopyCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/DailyReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/DeliveryNoteCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ForeignSalesCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/InternalMaterialCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/InvoiceCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/MonthlyReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/PaymentProveCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/PaymentTransferCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ProtocolAccountingAuditCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ProtocolTechnicalEventLogCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ShiftReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/StartReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/StopReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/TicketCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/YearlyReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.IntegrationTest/RequestCommands/ZeroReceiptCommandTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.UnitTest/fiskaltrust.Middleware.Localization.QueueFR.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

extract testresult methode
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/InitialOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/MonthlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/OutOfOperationReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/PosReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/YearlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/RequestCommands/ZeroReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueAT.UnitTest/SignProcessorATFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Helpers/CalculationHelperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

merge changes of getting missing queuitem
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/DailyClosingActionJournalHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Repositories/DailyClosingRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Treat DateTimes in Azure storage as UTC, fixed migration
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Mapping/Mapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_000_Initial.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update Dsfink version amd rename Parameters
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/fiskaltrust.Middleware.Localization.QueueDE.csproj
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
  queue/src/fiskaltrust.Middleware.Queue.InMemory/fiskaltrust.Middleware.Queue.InMemory.csproj
  queue/src/fiskaltrust.Middleware.Queue.MySQL/fiskaltrust.Middleware.Queue.MySQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/fiskaltrust.Middleware.Queue.PostgreSQL.csproj
  queue/src/fiskaltrust.Middleware.Queue.SQLite/fiskaltrust.Middleware.Queue.SQLite.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

rename
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/JournalProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

review suggestions
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueAT/Services/ExportService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

first draft
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Models/SplitExportStateData.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/IFiskalyApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

end export in split mode
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

set default value
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

set lastExportnumber
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

adjust MaxExported Tranactiom
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update interface in .nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
Due: none

Updated DSFinV-K reference
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  test/fiskaltrust.NuspecTest/src/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest/fiskaltrust.Middleware.Queue.Sqlite.NuspecTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build of test projects
  queue/test/fiskaltrust.Middleware.Storage.AzureTableStorage.AcceptanceTest/Fixtures/AzureTableStorageFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added AzureTableStorage to build scripts
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
Due: none

Cleaned config parsing in AzureTableStorage implementation
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/PosBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/AzureTableStorageConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
