Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

clean up
  scu-es/src/ClassLibrary1/Factories/ftActionJournalFactory.cs
  scu-es/src/ClassLibrary1/Helpers/ReceiptResponseHelper.cs
  scu-es/src/ClassLibrary1/ScuBootstrapper.cs
  scu-es/src/ClassLibrary1/Soap/Client.cs
  scu-es/src/ClassLibrary1/Soap/Models/Envelope.cs
  scu-es/src/ClassLibrary1/Soap/Models/RequestBody.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

no daily - therefor no actionjournal
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

..
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

if fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/IESSSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ESSSCD/VeriFactu/VeriFactuSCU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update if
  queue/src/fiskaltrust.Middleware.Localization.QueueES/fiskaltrust.Middleware.Localization.QueueES.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/fiskaltrust.Middleware.Localization.QueueEU.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/fiskaltrust.Middleware.Localization.QueuePT.csproj
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest/fiskaltrust.Middleware.Localization.QueueGR.IntegrationTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/fiskaltrust.Middleware.Localization.QueueGR.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/fiskaltrust.Middleware.Localization.QueuePT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/ChargeItemCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/fiskaltrust.Middleware.Localization.v2.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update
  scu-es/src/ClassLibrary1/Factories/SignaturItemFactory.cs
  scu-es/src/ClassLibrary1/Helpers/ChargeItemHelper.cs
  scu-es/src/ClassLibrary1/Helpers/DecimalHelper.cs
  scu-es/src/ClassLibrary1/Helpers/ReceiptResponseHelper.cs
  scu-es/src/ClassLibrary1/Helpers/SignaturItemHelper.cs
  scu-es/src/ClassLibrary1/Helpers/XmlHelpers.cs
  scu-es/src/ClassLibrary1/Mapping/VeriFactuMapping.cs
  scu-es/src/ClassLibrary1/Soap/Models/ResponseBody.cs
  scu-es/src/ClassLibrary1/VeriFactuSCU.cs
  scu-es/src/ClassLibrary1/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/PayItemCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/ReceiptCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignatureTypeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/StateFlagsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update
  scu-es/src/ClassLibrary1/Mapping/VeriFactuMapping.cs
  scu-es/src/ClassLibrary1/ScuBootstrapper.cs
  scu-es/src/ClassLibrary1/Soap/Client.cs
  scu-es/src/ClassLibrary1/VeriFactuConfiguration.cs
  scu-es/src/ClassLibrary1/VeriFactuSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

update
  scu-es/src/ClassLibrary1/Mapping/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

improve modern .net local queue synchronizer
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix activity ids and add queue id
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignaturItemFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix dataflow dependency
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/fiskaltrust.Middleware.QueueSynchronizer.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix deps
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/fiskaltrust.Middleware.QueueSynchronizer.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

using IHttpClientFactory
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Soap/Client.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Update scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Helpers/XmlHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Helpers/XmlHelpers.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

update v2 decorator
  queue/src/fiskaltrust.Middleware.Localization.v2/Synchronizer/LocalQueueSynchronizationDecorator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/ScuBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

update interface version
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fixes
  queue/src/fiskaltrust.Middleware.Localization.v2/Queue.cs
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/LocalQueueSynchronizationDecorator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix deps
  queue/src/fiskaltrust.Middleware.Localization.v2/fiskaltrust.Middleware.Localization.v2.csproj
  queue/src/fiskaltrust.Middleware.QueueSynchronizer/fiskaltrust.Middleware.QueueSynchronizer.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove extra package
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/fiskaltrust.Middleware.SCU.ES.VeriFactu.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Epson department fix
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

review
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Handle if response is null
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed signing author. Using deliverynote
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed compile errors
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.UnitTest/QueuePT/JournalProcessorPTTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed build
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/VeriFactuMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Calc vatamount
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Smaller fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ProtocolCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ProtocolCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/SCU/GR/MyData/AADEFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
