Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

test(GR): failing tests for discount mapping (market-gr#103, market-gr#110)
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GrDiscountBusinessCaseTests.cs
Due: none

docs: add RFC for multi-currency support in the Queue
  rfcs/queue-multi-currency.md
Due: none

docs: rename RFC to its PR number (0705) per RFC process
  rfcs/0705-queue-multi-currency.md
Due: none

docs: fill in RFC PR number in header
  rfcs/0705-queue-multi-currency.md
Due: none

docs: address Codex review — changeover totalizer boundary + EUR-market break
  rfcs/0705-queue-multi-currency.md
Due: none

docs: address steininger review — book-currency framing, FX at pay-item, names
  rfcs/0705-queue-multi-currency.md
Due: none

Upgrade GR myDATA SCU schema from v1.0.12 to v2.0.1
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/TransportDetailOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/ConfirmDeliveryOutcome-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/GenerateGroupQRCode-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/GenerateGroupQRCodeResponse-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/GetDeliveryStatusResponse-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/InvoicesDoc-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/InvoicesDoc-v2.0.1_aade_detailed.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/README.md
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RegisterTransfer-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RejectDeliveryNote-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestE3InfoResponse-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestGroupQRDetailsResponse-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestVatInfoResponse-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestedProviderDoc-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestedStatementDoc-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SendStatement-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SimpleTypes-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/TransportTypes-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/expensesClassification-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/incomeClassification-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/paymentMethods-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/requestedInvoicesDoc-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v2.0.1.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v2.0.1.xsd
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Honor invoiceType override in customer-info validation (unblocks 9.2 ΣΔΑ)
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Support v2.0.1 line-level movePurposeLine in invoice-detail override
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceRowType.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataLineItemOverrideTests.cs
Due: none

docs: drop per-workstation-queues note (off-topic tangent)
  rfcs/0705-queue-multi-currency.md
Due: none

Revert override-aware customer-info validation; default RequiresCustomerInfo to false
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

docs: reframe as single-currency spec + consolidation; rename feature
  rfcs/0705-queue-single-currency.md
Due: none

Treat createReceipt 'accepted with error in log' codes as non-blocking warnings
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerErrorCodes.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/README.md
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerErrorCodesTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Map tip and voucher charge items instead of throwing on unmapped VAT
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix 103-110 Full line discounts and distributed basket discounts
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GrDiscountBusinessCaseTests.cs
Due: none

docs: add short readable summary companion to the RFC
  rfcs/0705-queue-single-currency-summary.md
Due: none

docs: add restructured RFC applying section-altitude feedback
  rfcs/0705-queue-single-currency-restructured.md
Due: none

fix: classify Epson RT reboot outcomes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonNoResponseException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Helpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Models/PrinterCommand.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/DailyClosingRebootTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/LocalEpsonFpMateClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/RebootCommandTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Added arithmetic unit tests
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GrDiscountBusinessCaseTests.cs
Due: none

refactor: simplify Epson reboot outcomes
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonNoResponseException.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Helpers.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LocalEpsonFpMateClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/DailyClosingRebootTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/LocalEpsonFpMateClientTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/RebootCommandTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

changed the logic to use existing grouping
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

init automatic scu switch rfc
  rfcs/0000-automatic-scu-switch.md
Due: none

add rfc number
  rfcs/0710-automatic-scu-switch.md
Due: none

formatting
  rfcs/0710-automatic-scu-switch.md
Due: none

fix(epsonrtserver): make till-state persistence best-effort on stateless hosts
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

refactor(epsonrtserver): narrow LoadStateFromDisk catch to preserve on-prem semantics
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): force synchronous send when no writable cache folder
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerCommunicationQueueTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): do not restart offline drain when no writable folder
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerCommunicationQueueTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Add RFC: queue-level eInvoicing and eReporting for the v2 integration
  rfcs/queue-einvoicing-ereporting.md
Due: none

Rename RFC to 712-queue-einvoicing-ereporting and set PR link
  rfcs/712-queue-einvoicing-ereporting.md
Due: none

tagnames to lowercase
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

clarify motivation
  rfcs/0710-automatic-scu-switch.md
Due: none

clarifications
  rfcs/0710-automatic-scu-switch.md
Due: none

add force behaviour
  rfcs/0710-automatic-scu-switch.md
Due: none

wording fixes
  rfcs/0710-automatic-scu-switch.md
Due: none

feat(epsonrtserver): force synchronous signing on stateless hosts via LauncherEnvironment
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerCommunicationQueueTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(configuration): correct spelling of DisableSSLValidation and add deserialization tests
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerConfiguration.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/CustomRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

refactor(epsonrtserver): remove superfluous AccountMasterData and AutoProgramTillMap config
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerConfiguration.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

docs(epsonrtserver): drop AutoProgramTillMap from SCU README
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/README.md
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
