Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Smaller fixes
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/ACCEPTANCE_TESTS_DOCUMENTATION.md
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/AbstractScenarioTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added pro formas
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/ReceiptCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueEU/Processors/ReceiptCommandProcessorEU.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/PTMappings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/StaticNumeratorStorage.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ProtocolCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Helpers/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/ReceiptProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/v2/IReceiptCommandProcessor.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/ACCEPTANCE_TESTS_DOCUMENTATION.md
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/CopyReceiptScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Constants.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added scenario
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/ReceiptReferenceProvider.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Woid should allow minus
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ChargeItemValidations.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Remove
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

UPdated scheme
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/InvoicesDoc-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/InvoicesDoc-v1.0.12_detailed.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/README.md
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestE3InfoResponse-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestVatInfoResponse-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestedProviderDoc-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestedStatementDoc-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SendStatement-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SimpleTypes-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/expensesClassification-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/expensesClassification-v1.0.9.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/incomeClassification-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/paymentMethods-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/requestedInvoicesDoc-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v1.0.12.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v1_0_12.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/fiskaltrust.Middleware.SCU.GR.MyData.csproj
Due: none

fixes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

Support
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Validation/ValidationGR.cs
Due: none

Ignore currency
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Update test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher/README.md
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher/README.md
Due: none

Update test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
Due: none

cleanup
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCUConfiguration.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIAraba/TicketBaiArabaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIBizkaia/TicketBaiBizkaiaTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAIGipuzkoa/TicketBaiGipuzkoaTerritory.cs
  test/fiskaltrust.Middleware.Test.Launcher/README.md
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher/Helpers/IT/CashBoxBuilderIT.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix inmemory tests
  queue/test/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest/InMemoryConfigurationRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/VeriFactuTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

fix
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

remove broken be tests
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/DailyOperationsCommandProcessorBETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/InvoiceCommandProcessorBETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/LifecycleCommandProcessorBETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/ProtocolCommandProcessorBETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/ReceiptCommandProcessorBETests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/TestHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/ReceiptProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

rm broken be tests
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/BESSCD/DummyBESSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/test/fiskaltrust.Middleware.Storage.InMemory.AcceptanceTest/InMemoryConfigurationRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed bootstrapper
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/QueueBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

sEVERL improvements
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/PortugalReceiptCalculations.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/ReceiptValidator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Validation/Rules/ReceiptRequestValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/GeneralScenarios.cs
  scu-pt/src/fiskaltrust.Middleware.SCU.PT.InMemory/InMemorySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Scenarios/RunScenarios/FullScenarios.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/MigrationReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Factories/SignatureItemFactoryPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/InvoiceCommandProcessorPT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Processors/ReceiptCommandProcessorPT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix in memory acceptance tests
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/AbstractInMemoryRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed totalizers
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/Exports/SAFTPT/SAFTSchemaPT10401/SAFTMapping.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Support for 8.2
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

Specfiy linenumber
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Update natures
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/ChargeItemCaseNatureOfVatGR.cs
Due: none

try fix
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/DeltaTransactionReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FailTransactionReceiptTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/FinishScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitialOperationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderProcessTypeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OtherProcessTypeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OutOfOperationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/PosReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ReceiptProcessTypeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/StartTransactionReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/UpdateTransactionReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/FinishScuSwitchReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/MigrationReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fix ES
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

implement es number series
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/MiddlewareStateDataES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Processors/ReceiptCommandProcessorES.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueESRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueES.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/QueueES/Processors/ReceiptCommandProcessorESTests.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Models/MiddlewareState.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Models/MiddlewareState.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
  storage/src/fiskaltrust.storage/Models/ftQueueES.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

enhance country code handling in queue processing
  queue/src/fiskaltrust.Middleware.Localization.v2/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Storage/QueueStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

test: add validation for country code consistency in receipt processing
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/SignProcessorTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml
