Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Fixed yaml
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Use VS to build packages
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

rename
  queue/src/fiskaltrust.Middleware.Storage.Azure/Repositories/AzureQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore/Repositories/EFCoreQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLQueueItemRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteQueueItemRepository.cs
  queue/test/fiskaltrust.Middleware.Storage.AcceptanceTest/AbstractQueueItemRepositoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

set default migrations timeout
  queue/src/fiskaltrust.Middleware.Storage.EF/Migrations/Configuration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed packaging runtimes
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/unix-arm/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/unix-x64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/unix/native/libWormAPI.so
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix in memory queue
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Use parameter
  azure-pipelines/templates/build-zip.yml
Due: none

fix inmemoryqueue
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryQueueItemRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Updated interface in scu-me
  scu-me/src/fiskaltrust.Middleware.SCU.ME.Common/fiskaltrust.Middleware.SCU.ME.Common.csproj
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/fiskaltrust.Middleware.SCU.ME.FiscalizationService.csproj
  scu-me/test/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest/fiskaltrust.Middleware.SCU.ME.FiscalizationService.UnitTest.csproj
  scu-me/test/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest/fiskaltrust.Middleware.SCU.ME.InMemory.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

update client versions
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.TestLauncher/fiskaltrust.Middleware.SCU.DE.TestLauncher.csproj
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/fiskaltrust.Middleware.SCU.DE.Test.Launcher.csproj
  scu-me/test/TestLauncher/fiskaltrust.Middleware.SCU.ME.TestLauncher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

fix tests
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/QueueBootstrapperUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added beta Swissbit SDK for armv8
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/WormLibraryManager.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm-v7/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm-v8/native/libWormAPI.so
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Install latest nuget version
  azure-pipelines/templates/scu-de/test.template.yml
Due: none

Get latest NuGet version
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

add prod stage
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
  azure-pipelines/templates/release.yml
Due: none

fix sandbox condition
  azure-pipelines/templates/release.yml
Due: none

tmp
  azure-pipelines/templates/release.yml
Due: none

update triggers
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
Due: none

undo tmp
  azure-pipelines/templates/release.yml
Due: none

add ef queue
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

PR comments
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Extensions/ServiceCollectionExtensions.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitBase/fiskaltrust.Middleware.SCU.DE.SwissbitBase.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Removed obsolete TODO
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/Helpers/TimestampHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

PR comments
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/WormLibraryManager.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/build/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.targets
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update versions
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Add SwisbitAndroid to normal SCU DE build
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

Fixed yaml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
Due: none

add target
  azure-pipelines/templates/queue/test.template.yml
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix dependency issue
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix dependency issues
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update target framework
  queue/src/fiskaltrust.Middleware.Queue.EF/fiskaltrust.Middleware.Queue.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

more release pipeline fixes
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
  azure-pipelines/templates/release.yml
Due: none

add postgresql release stage
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
Due: none

update on late dat version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccDownloadService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/Interfaces/IFccDownloadService.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix zipping
  azure-pipelines/templates/build-zip.yml
Due: none

update version
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Add armel libs and respect lib arch injected by Launcher
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/WormLibraryManager.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/fiskaltrust.Middleware.SCU.DE.Swissbit.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-arm64/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-armel/native/libWormAPI.so
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/runtimes/linux-x86/native/libWormAPI.so
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added missing argument
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/Resources/Resource.designer.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
