Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

fix(epsonrtserver): require an explicit durable folder for async signing
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/README.md
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerCommunicationQueueTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

update open questions
  rfcs/0710-automatic-scu-switch.md
Due: none

test(epsonrtserver): cover initial-operation till-map programming
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

refine error scenarios, config and triggering
  rfcs/0710-automatic-scu-switch.md
Due: none

fix(epsonrtserver): record local emission time from the UTC receipt moment
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): return accepted receipt warnings instead of throwing
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerClient.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerClientTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Set version to '1.3.87-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

fix(epsonrtserver): omit reference date for unreferenced refunds; clarify UTC normalization
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): realign token on Z-session shift in the offline drain
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerCommunicationQueueTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): consume out-of-sync docs already registered on the device
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/IEpsonRTServerClient.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerCommunicationQueueTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

build(epsonrtserver): use canonical net6.0 TFM to fix packaging
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(queue): return error response instead of throwing null on V1 (market-it #635)
  queue/src/fiskaltrust.Middleware.Queue/SignProcessor.cs
  queue/test/fiskaltrust.Middleware.Queue.AcceptanceTest/SignProcessorUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix(epsonrtserver): map VAT from VATRate when ftChargeItemCase nibble is 0x0 (market-it #634)
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): clamp non-cash payment tender to receipt total (market-it #636)
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(it): handle unreferenced refund/void — ND header + refRefundVoidType (market-it #633)
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignaturItemFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/SignaturItemFactoryTests.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): avoid drain/daily-closing deadlock and fix refund read-back date (#725)
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerCommunicationQueue.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(epsonrtserver): emit refDateTime on ND refund/void so the device accepts cleanly (market-it #633)
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/EpsonRTServerMapping.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTServerTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTServer.UnitTest/EpsonRTServerMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

test(epsonrtserver): device acceptance test for lottery + card overpayment (market-it #636)
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

adjust fiskaly test to use header retry
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/FiskalyV2SCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

test(epsonrtserver): device-confirm VAT-from-VATRate fallback on Fiberland (market-it #634)
  scu-it/test/fiskaltrust.Middleware.SCU.IT.AcceptanceTests/EpsonRTServerTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

chore(epsonrtserver): trigger sandbox deployment
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTServer/README.md
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Set version to '1.3.88-rc.{height}'
  version.json
Due: none

Update version.json from main before merge
  version.json
Due: none

Update version to full release
  version.json
Due: none

remove linked issue ci check
  .github/actions/check-linked-issue/action.yml
  .github/labeler.yml
  .github/workflows/README.md
  .github/workflows/check-linked-issue.yml
  .github/workflows/remove-no-issue-label.yml
Due: none

Add resolved package version annotations to smoke test
  .github/workflows/smoketests.yml
Due: none

Refactor smoketests workflow
  .github/workflows/smoketests.yml
Due: none

add ftQueuePL and ftSignaturCreationUnitPL storage support for market PL
  queue/src/fiskaltrust.Middleware.Contracts/Models/StorageBaseInitConfiguration.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/DatabaseMigrator.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Migrations/Migration_008_PL.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/AzureTableStorageConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueuePLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageSignaturCreationUnitPLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueuePL.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtSignaturCreationUnitPL.cs
  queue/src/fiskaltrust.Middleware.Storage.Base/BaseStorageBootStrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/Repositories/EfConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemoryQueuePLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/Configuration/InMemorySignaturCreationUnitPLRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.InMemory/Repositories/InMemoryConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/Repositories/MySQLConfigurationRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/Repositories/SQLiteConfigurationRepository.cs
  storage/src/fiskaltrust.storage/Models/ftQueuePL.cs
  storage/src/fiskaltrust.storage/Models/ftSignaturCreationUnitPL.cs
  storage/src/fiskaltrust.storage/Repositories/IConfigurationRepository.cs
  storage/src/fiskaltrust.storage/Repositories/IReadOnlyConfigurationRepository.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Refactor version annotation output format
  .github/workflows/smoketests.yml
Due: none

Map customer fiscal code and VAT number in CustomRTServer
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignaturItemFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerMapping.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTServer/CustomRTServerSCU.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTServer.UnitTest/CustomRTServerSCUTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Improve log cleanup process in smoketests to handle locked files
  .github/workflows/smoketests.yml
Due: none

Add platform-specific process termination for launcher in smoketests
  .github/workflows/smoketests.yml
Due: none

Add sudo pkill for linux platform
  .github/workflows/smoketests.yml
Due: none

Enhance error handling in smoketests by capturing failure reasons and issuing warnings
  .github/workflows/smoketests.yml
Due: none

error detection and logging in middleware smoketests
  .github/workflows/smoketests.yml
Due: none

test
  .github/workflows/smoketests.yml
Due: none
