Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Added Submit and Cancel for Gipuzkoa
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/BizkaiaTicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Digests.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiDemo.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

Added response
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiResponse.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/ParseHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

Added numerator to test
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

Cleanup project and prepare classes for Araba, Bizkaia, Gipuzkoa
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/BizkaiaTicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Digests.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Helpers/CRC8Calculator.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Helpers/ParseHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiResult.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Araba.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Bizkaia.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Gipuzkoa.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/ITicketBaiTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCUConfiguration.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiDemo.cs
Due: none

Added araba / bizkaia / gipuzkoa specific parts
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Araba.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Bizkaia.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/Gipuzkoa.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Territories/ITicketBaiTerritory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

Added demos for araba, bizkaia and gipuzkoa
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/Araba/autonomo_act.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/Araba/dispositivo_act.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/Bizkaia/EntitateOrdezkaria_RepresentanteDeEntidad.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/Bizkaia/PertsonaFisikoa_Persona.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/Gipuzkoa/autonomo_act.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/Gipuzkoa/dispositivo_act.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

Added method for reading rawxml
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

Added TicketBaiResponse based on xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiResponse.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/fiskaltrust.Middleware.SCU.ES.TicketBAI.csproj
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/TicketBaiResponse.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiDemo.cs
Due: none

Exteneded result
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiRequest.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

First working impl for araba
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiRequest.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiDemo.cs
Due: none

First steps for a interface
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCUConfiguration.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

First draft
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

Fixed build error
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

Using 51 as defautl
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

Smaller cleanups
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Helpers/ParseHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Helpers/XmlHelpers.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiResult.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/ScuBootstrapper.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiConstants.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiRequestFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
Due: none

update country code
  queue/src/fiskaltrust.Middleware.Queue/ReceiptRequestHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added changes related to IT naming
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/YearlyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cleanup
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
Due: none

Changed ftQueueItemId to GUID
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added SignatureItem QRCodeSignature and changed decimal operator
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

remove main branch from releaseBranches
  queue/src/fiskaltrust.Middleware.Abstractions/version.json
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.InMemory/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.FiscalizationService/version.json
  scu-me/src/fiskaltrust.Middleware.SCU.ME.InMemory/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Changes in SignatureItemFactoryDEFAULT
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes in SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Returning all messages
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/IESSCD.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiFactory.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/Enumerados.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/LROE_PJ_240_1_1_FacturasEmitidas_ConSG_AltaPeticion_V1_0_2.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/LROE_PJ_240_1_1_FacturasEmitidas_ConSG_AltaPeticion_V1_0_2.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/TiposAnulacion.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/TiposBasicos.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/TiposComplejos.xsd
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/xsd/Bizkaia/TiposConsulta.xsd
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

Added type signature
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

WIP
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

Added additional steps to supporting ES market
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Constants/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Constants/States.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Externals/ifpos/IESSCD.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Externals/storage/ftQueueES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignatureItemFactoryES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/JournalProcessorES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/ZeroReceiptCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/ESSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/IESSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/SscdES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/SignProcessorES.cs
  queue/src/fiskaltrust.Middleware.Queue/ReceiptRequestHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update yavt
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/queue/build-nuget.template.yml
  azure-pipelines/templates/scu-at/build-nuget.template.yml
  azure-pipelines/templates/scu-at/build-zip.template.yml
  azure-pipelines/templates/scu-de/build-nuget.template.yml
  azure-pipelines/templates/scu-it/build-nuget.template.yml
  azure-pipelines/templates/scu-me/build-nuget.template.yml
Due: none

Removed IMiddlewareJournalRepository.cs and restored ReceiptRequestHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Dummy/IMiddlewareJournalRepository.cs
  queue/src/fiskaltrust.Middleware.Queue/ReceiptRequestHelper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

return correct ftstate on failed receipt
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Version
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update versions
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitAndroid/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Improved return JournalProcessorDEFAULT
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/JournalProcessorDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed Invoices for 240
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

Removed whiteliens
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/TicketBaiSCU.cs
Due: none

remove version file
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved and set CreateReceiptResponse and CashBoxIdentification
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added QRcode data
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Improved CashBoxList in JournalProcessorDEFAULT
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/JournalProcessorDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
