Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

Guarantee otherMeasurement* fields whenever measurementUnit ends at 7
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Cover correlatedInvoices route in PreviousReceiptReferenceTests
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/PreviousReceiptReferenceTests.cs
Due: none

Accept mydataoverride marks in 8.6 VOID and add review safety tests
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsInvoiceTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/PreviousReceiptReferenceTests.cs
Due: none

Dedupe the 3-source previous-reference check
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

Reject malformed and empty invoiceMark values
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptRequestExtensions.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/CaseDataPayloads.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsInvoiceTypeTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/PreviousReceiptReferenceTests.cs
Due: none

Surface invoiceMark parse errors from the ECommerce pre-check
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: none

Always emit positive row.quantity and add explicit OtherMeasurementUnitQuantity named property
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/CaseDataPayloads.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Source otherMeasurementUnitQuantity from ChargeItem.UnitQuantity
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/CaseDataPayloads.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEMappingsChargeItemTests.cs
Due: none

Clarify Math.Abs intent on row.quantity normalization
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
Due: none

Add InvoiceSeries/InvoiceNumerator fields to ftQueueGR
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/Repositories/Configuration/AzureTableStorageQueueGRRepository.cs
  queue/src/fiskaltrust.Middleware.Storage.AzureTableStorage/TableEntities/Configuration/AzureTableStorageFtQueueGR.cs
  storage/src/fiskaltrust.storage/Models/ftQueueGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Seed InvoiceSeries from CashBoxIdentification at queue activation
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/LifecycleCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Reserve InvoiceNumerator per receipt, commit on AADE success
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/ReceiptCommandProcessorGR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/QueueGRBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/ReceiptCommandProcessorGRTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/TestHelpers.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/MiddlewareQueueGRState.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Map AADE error 233 to State.Success so the queue self-heals after crashes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
Due: none

Test InvoiceNumerator reservation and activation seeding
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/LifecycleCommandProcessorGRTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Seed InvoiceNumerator from ftReceiptNumerator on first post-upgrade submission
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Pass reserved (series, aa) via ftReceiptIdentification instead of ftStateData
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/fiskaltrust.Middleware.Localization.QueueGR.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/MiddlewareQueueGRState.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Make upgrade migration gap-free by seeding ftReceiptNumerator - 1
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Drop AADE 233 self-heal handler; revert to gap-tolerant migration seed
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureTypeGR.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Gate upgrade migration on empty InvoiceSeries, not zero counter
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Processors/InvoiceCounterReservation.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cover the new ftReceiptIdentification suffix convention in AADEFactory
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AADEFactoryTests.cs
Due: none

Test multi-receipt aa continuity (no skips, retry reuse, override-resilience)
  queue/test/fiskaltrust.Middleware.Localization.QueueGR.UnitTest/Processors/InvoiceCounterReservationTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Skip Viva fiscal provider signature for ECommerce without AADE data
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/HasAnyAadeProviderDataTests.cs
Due: none

Simplify HasAnyAadeProviderData to a doc-based check
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/HasAnyAadeProviderDataTests.cs
Due: none

Narrow gate to just the AADE provider signature
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/HasAnyAadeProviderDataTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/HasAnyAadeProviderSignatureTests.cs
Due: none

Move the ECommerce signature gate inside AddVivaFiscalProviderSignature
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AddVivaFiscalProviderSignatureTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/HasAnyAadeProviderSignatureTests.cs
Due: none

Skip payment ProvidersSignature for ECommerce without valid transactionId
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/AddVivaFiscalProviderSignatureTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GetPaymentsTests.cs
Due: none

Skip ProvidersSignature assignment instead of nulling it post-hoc
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
Due: none

Cover App2App and Cloud-API positive paths for ECommerce gating
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/GetPaymentsTests.cs
Due: none

Compare PT refund CaseData fields by value and fix mislabeled error
  queue/src/fiskaltrust.Middleware.Localization.QueuePT/Logic/RefundValidator.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Wire TicketBAI exempt reasons and not-subject transactions to NatureOfVat
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/Helpers/TicketBaiNatureOfVatMapping.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/TicketBaiFactory.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiNatureOfVatMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Derive VeriFactu Impuesto/ClaveRegimen from tax regime and NN case
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/Cases/ChargeItemCaseNatureOfVatES.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/Mapping/VeriFactuMapping.cs
  scu-es/src/fiskaltrust.Middleware.SCU.ES.VeriFactu/VeriFactuConfiguration.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/VeriFactuMappingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Add VeriFactu XML golden-file acceptance tests
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/excluded-third-party-NN80.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/exempt-article20-mainland.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/export-article21-mainland.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/foreign-tax-applies-NN60.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/non-subject-art7and14.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/reverse-charge-mainland.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/usual-vat-igic.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/usual-vat-ipsi.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/VeriFactu/usual-vat-mainland.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/VeriFactuMappingXmlAcceptanceTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/fiskaltrust.Middleware.SCU.ES.AcceptanceTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Add TicketBAI factory XML snapshot acceptance tests
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-exempt-exports.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-exempt-intracommunity.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-mixed-all-branches.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-mixed-with-exports.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-not-subject-art7and14.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-not-subject-location.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-reverse-charge.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/domestic-usual-vat-single.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/Snapshots/foreign-export-goods-and-service.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryXmlAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Compare factory output against vendored TicketBAI reference samples
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/002_TBAI-domestic-not-subject-transaction.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/003_TBAI-not-subject-to-location-rules-transaction.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/004_TBAI-exempt-domestic-transaction-Art-20.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/005_TBAI-exempt-transaction-Art-22.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/006_TBAI-exempt-transaction-Art-23-24.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/007_TBAI-exempt-transaction-Art-25-intra-community-trade.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/008_TBAI-exempt-transaction-others.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/009_TBAI-reverse-charge-transaction.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/010_TBAI-export-transaction.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/021_TBAI-domestic-not-subject-transaction-foreign-tax.xml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TestData/TicketBAI/ReferenceSamples/README.md
  scu-es/test/fiskaltrust.Middleware.SCU.ES.AcceptanceTest/TicketBaiFactoryReferenceComparisonAcceptanceTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml

Map receipt-level Void on non-8.6 cases to the refund flow
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Helpers/ReceiptRequestExtensions.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/CancelInvoiceValidationTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/VoidAsRefundTests.cs
Due: none

Drop QueueES duplicate of ChargeItemCaseNatureOfVatES
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Models/Cases/ChargeItemCaseNatureOfVatES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/ValidationFV/Rules/ChargeItemValidations.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/ChargeItemCaseTests.cs
  queue/test/fiskaltrust.Middleware.Localization.v2.UnitTest/Validation/Unit/ES/ChargeItemValidationsTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Migrate QueueIT onto the v2 localization framework
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/SignatureTypesITExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignaturItemFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/ftActionJournalFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/ftJournalITFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/IsExternalInit.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Helpers/ReceiptResponseHelper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/IReceiptTypeProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/JournalProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessor.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/fiskaltrust.Middleware.Localization.QueueIT.csproj
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/DailyOperationsCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/InvoiceCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/LifecycleCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/MiddlewareStorageHelpers.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Models/ProcessCommandRequest.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Models/ProcessCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ProtocolCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/ReceiptCommandProcessorIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/v2/Scu/V1ScuAdapter.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/AzureStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/InMemoryStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.v2/Interface/IStorageProvider.cs
  queue/src/fiskaltrust.Middleware.Queue/Bootstrapper/LocalizedQueueBootStrapperFactory.cs
  queue/src/fiskaltrust.Middleware.Queue/fiskaltrust.Middleware.Queue.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/QueueITBootstrapperTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/fiskaltrust.Middleware.Localization.QueueIT.UnitTest.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/MiddlewareStorageHelpersTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ProtocolCommandProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/v2/ReceiptCommandProcessorITTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePT.AcceptanceTest/Helpers/InMemoryLocalizationStorageProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set version to '1.3.83-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

Adding customrtprinter
  .claude/settings.local.json
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Clients/CustomRTPrinterClient.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/CustomRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Booleano.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Commands/DirectIO.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/DematerializedOn.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/DisplayText.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/EndFiscalReceiptCut.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecItem.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecMessage.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecRefund.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecSubtotal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecSubtotalAdjustment.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/FiscalRecords/PrintRecTotal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/NonFiscalRecords/PrintBarCode.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/NonFiscalRecords/PrintGraphicCoupon.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/NonFiscalRecords/PrintNormal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceipt.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceiptAnnulment.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceiptCancel.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReceiptRefund.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterFiscalReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/PrinterNonFiscal.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Reports/PrintDocumentCopy.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Requests/Reports/PrintZReport.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/AddInfo.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/Models/Responses/InfoResp.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/docs/XMLProtocol.pdf
  scu-it/src/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter/docs/directIO.pdf
  scu-it/test/TestLauncher/Program.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/DeSerialization.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/IntegrationTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest/fiskaltrust.Middleware.SCU.IT.CustomRTPrinter.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
