Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml, azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Abstractions.yml:
  jobs:
  - job: Test
    displayName: Unit and integration tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - template: templates/queue/test.template.yml
  - job: Build
    displayName: Build job
    dependsOn: Test
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: yavt@1
      inputs:
  ...

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest_AzureTableStorageQueue
      dependsOn: Test
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-at/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-es/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-it/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

fcc remove externalTransactionId
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/StartTransactionRequestDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Merge pull request #749 from fiskaltrust/#439--FCC-remove-externalTransactionId
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Models/Dto/StartTransactionRequestDto.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

updated Viva's signature
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
Due: none

feat(scu-pl): PosNet SCU — IPLSSCD against a POSNET Online printer (M0)
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/PLSSCDErrorHandling.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/ProcessorTests.cs
  scu-pl/fiskaltrust.Middleware.SCU.PL.sln
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Client/PosNetClient.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetConfiguration.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCrc16.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetFrame.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetResponse.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/IPosNetTransport.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/PosNetAmbiguousResponseException.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/TcpPosNetTransport.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/fiskaltrust.Middleware.SCU.PL.PosNet.csproj
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetProtocolTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetSaleTransactionTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/fiskaltrust.Middleware.SCU.PL.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(scu-pl): ScuBootstrapper, acceptance tests against a TCP printer emulator, CI workflow
  .github/workflows/scu-pl-build.yml
  scu-pl/fiskaltrust.Middleware.SCU.PL.sln
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/ScuBootstrapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/fiskaltrust.Middleware.SCU.PL.AcceptanceTest.csproj
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/ScuBootstrapperTests.cs
Due: none

fix(scu-pl): NIP receipts, fiscal-number readback, strict cancel semantics (review)
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
Due: none

Added support for plbuic reac
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
Due: none

updated the company name
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ProviderSignatureTests.cs
Due: none

Allow in operation receitp
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/LifecycleCommandProcessorPL.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

Set version to '1.3.89-rc.{height}'
  version.json
Due: none

Set version to the next ci version
  version.json
Due: none

11.3 support
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ReceiptCaseFlagsGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/ReceiptCaseFlagsGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SimplifiedInvoice113Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(scu-fr): NF525 signature creation units for France (Infocert and LNE)
  .github/workflows/scu-fr-build.yml
  scu-fr/Directory.Build.props
  scu-fr/fiskaltrust.Middleware.SCU.FR.sln
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Cases/SignatureTypeFR.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Cases/StateFR.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/FRSSCDInfo.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/IFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/ProcessRequest.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Exceptions/FRSSCDExceptions.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Helpers/FRReceiptResponseExtensions.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Helpers/FRStateMapper.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/fiskaltrust.Middleware.SCU.FR.Abstraction.csproj
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InMemory/InMemorySCU.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InMemory/fiskaltrust.Middleware.SCU.FR.InMemory.csproj
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/InfoCertConfiguration.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/InfoCertFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Models/InfoCertScuInfo.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/ScuBootstrapper.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertJwsSigner.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertReceiptPayload.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertTotals.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/fiskaltrust.Middleware.SCU.FR.InfoCert.csproj
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/LneConfiguration.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/LneFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Models/LneScuInfo.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/ScuBootstrapper.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneDataSetBuilder.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneSignatureCreator.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/fiskaltrust.Middleware.SCU.FR.LNE.csproj
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/FRTestData.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/InMemorySCUTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/InfoCert/InfoCertFRSSCDTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/LNE/LneFRSSCDTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/fiskaltrust.Middleware.SCU.FR.UnitTest.csproj
Due: none

ci: label the new French paths as market-fr
  .github/labeler.yml
Due: none

fix(fr): address Codex review on lifecycle, closing totals and key curve
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRChainState.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRPeriodTotalsAccumulator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Logic/FRTotalsCalculator.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Models/Cases/SignatureTypeFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/FRSigningPipeline.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/JournalProcessorFR.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR.v2/Processors/LifecycleCommandProcessorFR.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.AcceptanceTest/Scenarios/FRScenarioTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/FakeFRSSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/PeriodTotalsTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueFR.v2.UnitTest/ProcessorTests.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/FRPeriodTotals.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.Abstraction/Contracts/ProcessRequest.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InMemory/InMemorySCU.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/InfoCertFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertJwsSigner.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.InfoCert/Signing/InfoCertReceiptPayload.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/LneFRSSCD.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneDataSetBuilder.cs
  scu-fr/src/fiskaltrust.Middleware.SCU.FR.LNE/Signing/LneSignatureCreator.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/InfoCert/InfoCertFRSSCDTests.cs
  scu-fr/test/fiskaltrust.Middleware.SCU.FR.UnitTest/LNE/LneFRSSCDTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix(pl): review findings on the PosNet SCU and QueuePL
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Models/Cases/SignatureTypePL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/DailyOperationsCommandProcessorPL.cs
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/LifecycleCommandProcessorPL.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.UnitTest/ProcessorTests.cs
  scu-pl/fiskaltrust.Middleware.SCU.PL.sln
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetFrame.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetText.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/ScuBootstrapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transport/TcpPosNetTransport.cs
  scu-pl/test/Manual/fiskaltrust.Middleware.SCU.PL.Test.Launcher/Program.cs
  scu-pl/test/Manual/fiskaltrust.Middleware.SCU.PL.Test.Launcher/Properties/launchSettings.json
  scu-pl/test/Manual/fiskaltrust.Middleware.SCU.PL.Test.Launcher/fiskaltrust.Middleware.SCU.PL.Test.Launcher.csproj
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/GetInfo_ReadsTheRegisterStateWithASingleStatusCommand.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/ZeroReceipt_ReadsTheDeviceStatus.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/Cassette.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/CommandTranscript.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/EmulatorOnlyFactAttribute.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/PosNetFrameReader.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/PosNetPayload.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/PosNetTestTarget.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/RecordingPosNetTransport.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinterEmulatorTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/AbstractionHelperTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetProtocolTests.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Extensions/JsonWarpExt.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/CashBoxBuilderPL.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/fiskaltrust.Middleware.Test.Launcher.v2.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

feat(pl): drive the PosNet printer from a real cashbox configuration
  .gitignore
  queue/src/fiskaltrust.Middleware.Localization.QueuePL/Processors/LifecycleCommandProcessorPL.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/fiskaltrust.Middleware.Localization.QueuePL.AcceptanceTest/Scenarios/PLScenarioTests.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/Cassette.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/CommandTranscript.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPrinter/PosNetTestTarget.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/fiskaltrust.Middleware.SCU.PL.AcceptanceTest.csproj
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReceiptMapperTests.cs
  test/fiskaltrust.Middleware.Test.Launcher/fiskaltrust.Middleware.Test.Launcher.slnx
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/.gitignore
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Extensions/InitTableExt.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/CashBoxBuilder.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/ES/CashBoxBuilderES.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/MiddlewareHost.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/AssumeFiscalizedPLSSCD.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PL/CashBoxBuilderPL.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/PackageConfigurationFile.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Properties/launchSettings.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/configuration/PL/cashbox-configuration-posnet.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/configuration/PL/cashbox-configuration.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/fiskaltrust.Middleware.Test.Launcher.v2.csproj
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/queue-configuration-pl.json
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/scu-configuration-pl-inmemory.json
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix(pl): show nested SCU configuration values in the debug host index
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Helpers/MiddlewareHost.cs
Due: none

fix(pl): drop the PL branch of the per-package configuration fallback
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/Program.cs
Due: none

feat(pl): rabat/narzut on the position and on the subtotal (#751)
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetModifier.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/DiscountSale_GrantsTheLineRabatOnTheLine_AndTheSubtotalRabatAfterIt.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/MarkupSale_GrantsTheNarzutOnTheLine_AndOnTheSubtotal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetDiscountMappingTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetSaleTransactionTests.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_DiscountReceipt/discount-receipt.json
Due: none

feat(pl): read the modifier's Position, not only its place in the list
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetDiscountMappingTests.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
Due: none

feat(pl): storno of a sale position (trline st1)
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Helpers/PLAmountExtensions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoSale_ReversesThePositionItNames_AndSettlesWithWhatIsLeft.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReversalMappingTests.cs
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/README.md
  test/fiskaltrust.Middleware.Test.Launcher/src/fiskaltrust.Middleware.Test.Launcher.v2/json-requests/PL/SignRequestReceipt_StornoReceipt/storno-receipt.json
Due: none

feat(pl): reverse a position that was sold with a rabat
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetSaleTransaction.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Cassettes/StornoOfDiscountedSale_CarriesTheRabatOnTheReversal.json
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReversalMappingTests.cs
Due: none

split actions
  .github/actions/hash/action.yml
  .github/actions/package-v1/action.yml
  .github/actions/package-v2/action.yml
  .github/actions/package/action.yml
  .github/actions/version/action.yml
Due: none

remove hash action
  .github/actions/hash/action.yml
  .github/actions/package-v2/action.yml
Due: none

update parameters in deploy-v2-package
  .github/actions/deploy-v2-packages/action.yml
  .github/workflows/deploy.yml
Due: none

fix(scu-it): stop printing ftChargeItemCaseData verbatim on Epson RT Printer receipts
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/EpsonCommandFactory.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter.UnitTest/ChargeItemCaseDataPrintingTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

feat(scu-gr): support myDATA 11.3 simplified invoice
  queue/src/fiskaltrust.Middleware.Localization.QueueGR/Models/Cases/ReceiptCaseFlagsGR.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEMappings.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/ReceiptCaseFlagsGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SimplifiedInvoice113Tests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

normalizing quotes
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SpecialTaxMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxHandlingTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxMappingsTests.cs
Due: none

normalize apostrophe/dash variants in special tax description lookups
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SpecialTaxMappings.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxHandlingTests.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/SpecialTaxMappingsTests.cs
Due: none

feat(be): sign the daily closing and refunds instead of accepting them unsigned
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/DailyOperationsCommandProcessorBE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/QueueBEBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/DailyOperationsCommandProcessorBETests.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/fiskaltrust.Middleware.SCU.BE.ZwarteDoos.csproj
  scu-be/test/fiskaltrust.Middleware.SCU.BE.AcceptanceTests/IBESSCDAcceptanceTests.cs
  scu-be/test/fiskaltrust.Middleware.SCU.BE.UnitTest/NegQuantityReasonTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix(be): do not journal a daily closing the FDM did not sign
  queue/src/fiskaltrust.Middleware.Localization.QueueBE/Processors/DailyOperationsCommandProcessorBE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueBE.UnitTest/Processors/DailyOperationsCommandProcessorBETests.cs
  scu-be/src/fiskaltrust.Middleware.SCU.BE.ZwarteDoos/ZwarteDoosScuBe.cs
Due: azure-pipelines/fiskaltrust.Middleware.Abstractions.yml, azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix(scu-gr): keep the Viva licence signature element unchanged and prepend the legal name as a caption-only line
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/SignatureItemFactoryGR.cs
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/ProviderSignatureTests.cs
Due: none

fix(scu-it/epson): recover the emitted document instead of gambling on a reprint
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/LastDocSlot.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/Utilities/IsExternalInit.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

fix(scu-it/epson): treat an unreadable counter as unknown, not as "no progress"
  scu-it/src/fiskaltrust.Middleware.SCU.IT.EpsonRTPrinter/EpsonRTPrinterSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml

docs: consolidate the three RFC drafts into one file
  rfcs/0705-queue-single-currency-restructured.md
  rfcs/0705-queue-single-currency-summary.md
  rfcs/0705-queue-single-currency.md
Due: none

feat(scu-pl): e-paragon (eDokument) per-transaction IDZ binding in the POSNET SCU
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Cases/SignatureTypePL.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.Abstraction/Helpers/PLReceiptResponseExtensions.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Transaction/PosNetReceiptMapper.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PLReceiptExamples.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetPLSSCDTests.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.UnitTest/PosNet/PosNetReceiptMapperTests.cs
Due: none

fix(scu-pl): serialize device sequences; clear an untrackable e-receipt binding
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/PosNetPLSSCD.cs
  scu-pl/src/fiskaltrust.Middleware.SCU.PL.PosNet/Protocol/PosNetCommand.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/Emulator/PosNetPrinterEmulator.cs
  scu-pl/test/fiskaltrust.Middleware.SCU.PL.AcceptanceTest/PosNetPLSSCDAcceptanceTests.cs
Due: none

new xsd files dump - version 2.0.2
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/AADEFactory.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Models/Overrides/InvoiceHeaderTypeOverride.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/MyDataSCU.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/ConfirmDeliveryOutcome-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/ConfirmDeliveryReturn-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/GenerateGroupQRCode-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/GenerateGroupQRCodeResponse-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/GetDeliveryStatusResponse-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/InvoicesDoc-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/InvoicesDoc-v2.0.2_aade_detailed.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/README.md
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RegisterTransfer-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RejectDeliveryNote-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestE3InfoResponse-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestGroupQRDetailsResponse-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestVatInfoResponse-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestedProviderDoc-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/RequestedStatementDoc-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SendStatement-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SimpleTypes-v2.0.1.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/SimpleTypes-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/TransportTypes-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/expensesClassification-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/incomeClassification-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/paymentMethods-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/requestedInvoicesDoc-v2.0.2.xsd
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v2.0.2.cs
  scu-gr/src/fiskaltrust.Middleware.SCU.GR.MyData/Scheme/response-v2.0.2.xsd
  scu-gr/test/fiskaltrust.Middleware.SCU.GR.MyData.UnitTest/MyDataOverrideTests.cs
Due: none

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Abstractions.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.AT.yml: any of: scu-at
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml: any of: scu-es
  azure-pipelines/fiskaltrust.Middleware.SCU.IT.yml: any of: scu-it
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
