Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

azure-pipelines/fiskaltrust.Middleware.Queue.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/queue/test.template.yml
    - job: AcceptanceTest
      dependsOn: Test
      displayName: Acceptance tests
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-de/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml:
  stages:
  - stage: Test
    jobs:
    - job: Test
      displayName: Unit and integration tests
      pool:
        vmImage: $(vmImageName)
      steps:
      - template: templates/scu-me/test.template.yml
  - stage: Build
    dependsOn: Test
    jobs:
    - job: BuildNugetPackages
      displayName: Build v1 NuGet packages
  ...

extract country specific part, fix tests
  queue/src/fiskaltrust.Middleware.Contracts/Constants/ICountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/QueueITBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/ZeroReceiptCommandIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/SignProcessorIT.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/InMemoryTestScu.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

refakter - combine sale & redeem single voucher - create object for multi use voucher sale
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/RequestCommandsTest/PosReceiptCommandTest.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Models/NonFiscal.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

multi voucher sale
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Exceptions/MultiUseVoucherNoSaleException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Grpc/GrpcHost.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueIT.UnitTest/InMemoryTestScu.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/EpsonSCU.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Utilities/EpsonCommandFactory.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/Program.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/FiscalReceiptTests.cs
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add Voucher signatur
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Factories/SignatureItemFactoryIT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/test/TestLauncher/Program.cs
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

journalit on vouchers
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/PaymentsExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/PaymentsExtension.cs
Due: none

renaming
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/FiscalReceiptInvoiceExtension.cs
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/Extensions/PaymentsExtension.cs
Due: none

add scu force flag change query case to uniq
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/InitiateScuSwitchReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add .net 6
  queue/src/fiskaltrust.Middleware.Storage.EF/fiskaltrust.Middleware.Storage.EF.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

back to > 0 & use binary able nr
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update versions
  queue/src/Directory.Build.props
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/.nuspec
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/test/Directory.Build.props
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest.csproj
  queue/version.json
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/fiskaltrust.Middleware.SCU.IT.Epson.csproj
  scu-it/src/fiskaltrust.Middleware.SCU.IT.Epson/version.json
  scu-it/test/TestLauncher/fiskaltrust.Middleware.SCU.IT.TestLauncher.csproj
  scu-it/test/fiskaltrust.Middleware.SCU.IT.UnitTest/fiskaltrust.Middleware.SCU.IT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

overloads for the new v2 api
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Commands/AdditionalCommands.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added public nuget feed
  nuget.config
Due: none

change case to 4, add force start for scus in failed mode
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix raw connection string
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.PostgreSQL/EFCorePostgreSQLStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.EFCore.SQLServer/EFCoreSQLServerStorageBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

updadte version files
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update version files
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix at scu interface
  scu-at/src/fiskaltrust.Middleware.SCU.AT.InMemory/fiskaltrust.Middleware.SCU.AT.InMemory.csproj
Due: none

fix pipeline
  azure-pipelines/templates/scu-at/build-nuget.template.yml
  azure-pipelines/templates/scu-at/build-zip.template.yml
  azure-pipelines/templates/scu-at/test.template.yml
Due: none

fix problem on start up with no connection
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

modified test to use the overload
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/File/CryptoVisionFileProxy.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.CryptoVision.IntegrationTest/Proxy/CryptoVisionProxyTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

versions
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

versions
  queue/src/fiskaltrust.Middleware.Queue.AzureTableStorage/version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

replicated the se_api version check
  scu-de/test/fiskaltrust.Middleware.SCU.DE.CryptoVision.IntegrationTest/Proxy/CryptoVisionProxyTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

chnage repos to singelton
  queue/src/fiskaltrust.Middleware.Storage.EF/EfStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

calling override from CryptoVisionSCU and fixed test
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/Interop/ICryptoVisionProxy.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.CryptoVision.IntegrationTest/Proxy/CryptoVisionProxyTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fix timeout in FCC startup
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Constants/DeutscheFiskalConstants.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccProcessHost.cs
  scu-de/test/Manual/fiskaltrust.Middleware.SCU.DE.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Added Maximum Pool Size parameter to MySQL Configuration
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Storage.MySQL/MySQLStorageConfiguration.cs
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/fiskaltrust.Middleware.Queue.Test.Launcher.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added ConfigureMySql
  queue/test/Manual/fiskaltrust.Middleware.Queue.Test.Launcher/Program.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix process exit detection
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccProcessHost.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

add disabled scu
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.DisabledSCU/DisabledSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.DisabledSCU/fiskaltrust.Middleware.SCU.DE.Helpers.DisabledSCU.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Revert "add disabled scu"
  scu-de/fiskaltrust.Middleware.SCU.DE.sln
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.DisabledSCU/DisabledSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Helpers.DisabledSCU/fiskaltrust.Middleware.SCU.DE.Helpers.DisabledSCU.csproj
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/ScuBootstrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/fiskaltrust.Middleware.SCU.DE.SwissbitCloud.csproj
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

dont allow receipts other than the finish switch if the switch was initiated
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/Factories/RequestCommandFactory.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

update TickerBAI certificates & schema dates comments
  scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI/Models/TicketBaiRequest.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/autonomo_act.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TestCertificates/dispositivo_act.p12
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

csproj fix
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

add certificates to csproj
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/fiskaltrust.Middleware.SCU.ES.UnitTest.csproj
Due: none

Run acceptance tests only on matching tags
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
Due: none

Renamed all references of IT to Default in filenames and part of code
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/States.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/CbReferenceExistsException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/ItemPaymentInequalityException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/MultiUseVoucherNoSaleException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/RefundException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ftJournalDEFAULTExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/JournalProcessorDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/ZeroReceiptCommandDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Services/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Services/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignProcessorDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignatureTypesDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/fiskaltrust.Middleware.Localization.QueueDEFAULT.csproj
  queue/test/fiskaltrust.Middleware.Storage.MySQL.AcceptanceTest/Fixtures/MySQLConnectionStringFixture.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Sswissbit incrememntal export from tse
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/SwissbitSCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Changed IT logic to Default
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/Cases.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Constants/States.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Dummy/ICountryDefaultQueue.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/CbReferenceExistsException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/ItemPaymentInequalityException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/MultiUseVoucherNoSaleException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Exceptions/RefundException.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ChargeItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/PayItemExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ReceiptRequestExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ServiceCollectionExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Extensions/ftJournalDEFAULTExtensions.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/Factories/RequestCommandFactory.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Services/IITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Services/ITSSCDProvider.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignProcessorDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignatureTypesDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me
