Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

Update CreateQrCodeSignature to use dynamic values
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

added tse signature
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignatureFactoryDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignatureTypesDE.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/SignatureFactoryTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

modified tests to expect the tse serial
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Data/ExplicitPosReceipt/Response.json
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Data/ImplicitOrderRequest/Response.json
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/Data/ImplicitPosReceipt/Response.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

added tse signature to the tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Data/ExplicitPosReceipt/Response.json
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Data/ImplicitOrderRequest/Response.json
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/Data/ImplicitPosReceipt/Response.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Cleared unused code
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/JournalProcessorDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixes in QueueDEFAULTBootstrapper and SignProcessorDEFAULT
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignProcessorDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added missing argument to ZeroReceiptCommand
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/ZeroReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed signing device and ProcessFailedReceipt from SignProcessorDEFAULT
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/SignProcessorDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Unblock user for v2 hardware
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/CryptoVisionSCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Renamed CountryDefaultQueue and added additional info to SignatureItemFactoryDEFAULT
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Dummy/CountryDefaultQueue.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added unit tests project for DefaultQueue
  queue/fiskaltrust.Middleware.sln
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/YearlyClosingReceiptCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDEFAULT.UnitTest/RequestCommandsTests/YearlyClosingReceiptCommandTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDEFAULT.UnitTest/fiskaltrust.Middleware.Localization.QueueDEFAULT.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added 2nd test to YearlyClosingReceiptCommandTest
  queue/test/fiskaltrust.Middleware.Localization.QueueDEFAULT.UnitTest/RequestCommandsTests/YearlyClosingReceiptCommandTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

changed throwing condition
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Smaller tweaks
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/ZeroReceiptCommandES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/SignProcessorES.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Upgrade middleware submodule
  queue/Directory.Build.props
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Additional fixes
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/ESSSCDProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added unittests
  queue/fiskaltrust.Middleware.sln
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/UnitTest1.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/Usings.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueES.UnitTest/fiskaltrust.Middleware.Localization.QueueES.UnitTest.csproj
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added further receipts
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/DailyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/InitialOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/MonthlyClosingReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/OutOfOperationReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/RequestCommands/YearlyClosingReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Constants/CountrySpecificSettings.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Constants/States.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Factories/SignatureItemFactoryES.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueES/Services/IESSSCDProvider.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Removed
  queue/src/fiskaltrust.Middleware.Localization.QueueES/QueueESBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Added buildpipes
  azure-pipelines/fiskaltrust.Middleware.SCU.ES-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml
  azure-pipelines/templates/scu-es/build-nuget.template.yml
  azure-pipelines/templates/scu-es/test.template.yml
Due: none

Fixed pipe Ignore tests for now
  azure-pipelines/fiskaltrust.Middleware.SCU.ES-Release.yml
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiRequestFactoryTests.cs
  scu-es/test/fiskaltrust.Middleware.SCU.ES.UnitTest/TicketBaiSCUTests.cs
Due: none

Fixed name
  azure-pipelines/fiskaltrust.Middleware.SCU.ES.yml
Due: none

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.CryptoVision/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fixed condition
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

changed condition
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/SignProcessorDE.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add rfc template
  CONTRIBUTING.md
  rfcs/0000-template.md
  rfcs/README.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

initial proposal wip
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
  rfcs/0000-template.md
  rfcs/README.md
  rfcs/fr-copy-receipt-performance.md
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add pr number
  rfcs/192-fr-copy-receipt-performance.md
Due: none

Fixed signatures
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

finish proposal
  queue/src/fiskaltrust.Middleware.Contracts/Repositories/IMiddlewareRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueFR/RequestCommands/CopyCommand.cs
  rfcs/0000-template.md
  rfcs/192-fr-copy-receipt-performance.md
  rfcs/README.md
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix
  rfcs/192-fr-copy-receipt-performance.md
Due: none

add open question
  rfcs/192-fr-copy-receipt-performance.md
Due: none

Deleted Signatures in RequestCommandResponse
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommandResponse.cs
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/ZeroReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Dummy/CountryDefaultQueue.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/QueueDEFAULTConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Repositories/CountrySpecificQueueRepository.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueIT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Fixed suggested places from conversation and improved PosReceiptCommand class
  queue/src/fiskaltrust.Middleware.Contracts/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Dummy/CountryDefaultQueue.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/Factories/SignatureItemFactoryDEFAULT.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDEFAULT/RequestCommands/PosReceiptCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
