Repository fiskaltrust/middleware: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml, azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml

Path conditions:
  azure-pipelines/fiskaltrust.Middleware.Queue.yml: any of: queue
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml: any of: scu-de
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml: any of: scu-me

remove prod releases
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
Due: none

add tag condition
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
  azure-pipelines/templates/release.yml
Due: none

Update version.json
  queue/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

change to loop retry twice
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/AuthenticatedHttpClientHandler.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Services/FiskalyV2ApiProvider.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/HttpClientWrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

split queue pipeline
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/templates/release.yml
Due: none

meap mem in update & ini
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/ConfigHelper.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Services/DeutscheFiskalFccInitializationService.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/ConfigHelperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

update release artifact download
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/templates/release.yml
Due: none

fix dependson
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
Due: none

fix trigger
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
Due: none

remove trigger
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
Due: none

CacheExportAsync retry On WebException
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

split scu pipelines
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
Due: none

..
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

remove branch trigger
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
Due: none

51277 - Add release ci stage (#59)
  azure-pipelines/fiskaltrust.Middleware.Queue-Release.yml
  azure-pipelines/fiskaltrust.Middleware.Queue.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME-Release.yml
  azure-pipelines/fiskaltrust.Middleware.SCU.ME.yml
  azure-pipelines/templates/build-zip.yml
  azure-pipelines/templates/queue/build-zip.template.yml
  azure-pipelines/templates/release.yml
  azure-pipelines/templates/scu-de/build-zip.template.yml
  azure-pipelines/templates/scu-me/build-zip.template.yml
Due: none

Added missing constructor
  queue/src/fiskaltrust.Middleware.Localization.QueueME/RequestCommands/Factories/RequestCommandFactory.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/Helper/InMemoryMESSCD.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/CompleteVoidedReceiptTest.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueME.UnitTest/RequestCommandsTests/InitialOperationReceiptCommandTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add TarFileExportMode
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/ITarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileExportService.cs
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/InMemorySCU.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

revert formatting
  queue/src/fiskaltrust.Middleware.Storage.SQLite/SQLiteStorageBootstrapper.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

add logging
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

check tarfileexportmode in cleanuptarfile method
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

set iserased in endexportsessionresult
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/DieboldNixdorfSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/EpsonSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

catch export deletion failing
  queue/src/fiskaltrust.Middleware.Queue.EF/version.json
  queue/src/fiskaltrust.Middleware.Queue.InMemory/version.json
  queue/src/fiskaltrust.Middleware.Queue.MySQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.PostgreSQL/version.json
  queue/src/fiskaltrust.Middleware.Queue.SQLite/version.json
  queue/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DieboldNixdorf/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/EpsonSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Epson/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.SwissbitCloud/version.json
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml, azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

rename methode
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/DeutscheFiskalSCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal/Helpers/ConfigHelper.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.DeutscheFiskal.IntegrationTest/ConfigHelperTest.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

use Task.Delay, config Delay
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCU.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/FiskalySCUConfiguration.cs
  scu-de/src/fiskaltrust.Middleware.SCU.DE.FiskalyCertified/Helpers/HttpClientWrapper.cs
  scu-de/test/fiskaltrust.Middleware.SCU.DE.FiskalyCertified.IntegrationTest/HttpClientWrapperTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

Update version.json
  scu-de/src/fiskaltrust.Middleware.SCU.DE.Swissbit/version.json
Due: azure-pipelines/fiskaltrust.Middleware.SCU.DE.yml

fixed Erased mode logic
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Services/TarFileCleanupService.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix long paths in tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/PathHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/Helpers/PathHelpers.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

deprecate EnableTarFileExport parameter
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/BootStrapperQueueDE.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Closings/DailyClosingTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Exports/ExportModeTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Fixtures/SignProcessorDependenciesFixture.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Helpers/RequestCommandFactoryHelper.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/InitiateScuSwitchTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OrderTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/OutOfOperationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/PosReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Receipts/ZeroReceiptTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/QueueDEConfigurationTests.cs
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.UnitTest/SignProcessorDEUnitTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

fix tests
  queue/test/fiskaltrust.Middleware.Localization.QueueDE.IntegrationTest/SignProcessorDETests/Services/TarFileCleanupTests.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml

refactor
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/QueueDEConfiguration.cs
  queue/src/fiskaltrust.Middleware.Localization.QueueDE/RequestCommands/RequestCommand.cs
Due: azure-pipelines/fiskaltrust.Middleware.Queue.yml
